Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

refactor(trading-signals): extract zero-cross signal into shared base class
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/momentum/AO/AO.ts
  packages/trading-signals/src/momentum/MOM/MOM.ts
  packages/trading-signals/src/momentum/PPO/PPO.ts
  packages/trading-signals/src/momentum/TRIX/TRIX.ts
  packages/trading-signals/src/volume/ADOSC/ADOSC.ts
  packages/trading-signals/src/volume/CMF/CMF.ts
  packages/trading-signals/src/volume/EMV/EMV.ts
  packages/trading-signals/src/volume/VROC/VROC.ts
Due: lint

refactor(trading-signals): rename ZeroCrossTrendIndicatorSeries to ZeroCrossSeries
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/momentum/AO/AO.ts
  packages/trading-signals/src/momentum/MOM/MOM.ts
  packages/trading-signals/src/momentum/PPO/PPO.ts
  packages/trading-signals/src/momentum/TRIX/TRIX.ts
  packages/trading-signals/src/volume/ADOSC/ADOSC.ts
  packages/trading-signals/src/volume/CMF/CMF.ts
  packages/trading-signals/src/volume/EMV/EMV.ts
  packages/trading-signals/src/volume/VROC/VROC.ts
Due: lint

docs(trading-signals): condense ZeroCrossSeries comment
  packages/trading-signals/src/base/Indicator.ts
Due: lint

docs(trading-signals): reword ZeroCrossSeries comment
  packages/trading-signals/src/base/Indicator.ts
Due: lint

refactor(trading-signals): extract zero-cross signal into shared base class (#1283)
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/momentum/AO/AO.ts
  packages/trading-signals/src/momentum/MOM/MOM.ts
  packages/trading-signals/src/momentum/PPO/PPO.ts
  packages/trading-signals/src/momentum/TRIX/TRIX.ts
  packages/trading-signals/src/volume/ADOSC/ADOSC.ts
  packages/trading-signals/src/volume/CMF/CMF.ts
  packages/trading-signals/src/volume/EMV/EMV.ts
  packages/trading-signals/src/volume/VROC/VROC.ts
Due: lint

refactor(exchange): declare retry policy per endpoint with a @retry decorator
  packages/exchange/src/broker/trading212/api/Trading212API.ts
  packages/exchange/src/util/retry.test.ts
  packages/exchange/src/util/retry.ts
  tsconfig.lib.json
  vitest.shared.ts
Due: format

refactor(exchange): convert AlpacaAPI to the @retry decorator
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.test.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/util/retry.ts
Due: none

refactor(exchange): drop axios-retry in favor of withRetry
  package-lock.json
  packages/exchange/package.json
  packages/exchange/src/util/isEarningsDay.test.ts
  packages/exchange/src/util/isEarningsDay.ts
  packages/exchange/src/util/retry.ts
Due: format

refactor: derive vitest transpile target from tsconfig.lib.json
  vitest.shared.ts
Due: none

docs(trading-signals): document ZeroCrossSeries, contract fixture and docs demo step
  packages/trading-signals/CLAUDE.md
Due: format

feat(trading-signals): add Triangular Moving Average (TRIMA)
  packages/trading-signals-docs/indicator-demos/trend/TRIMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/MA/MovingAverageTypes.ts
  packages/trading-signals/src/trend/TRIMA/TRIMA.test.ts
  packages/trading-signals/src/trend/TRIMA/TRIMA.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Tillson T3 Moving Average (T3)
  packages/trading-signals-docs/indicator-demos/trend/T3.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/MA/MovingAverageTypes.ts
  packages/trading-signals/src/trend/T3/T3.test.ts
  packages/trading-signals/src/trend/T3/T3.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Arnaud Legoux Moving Average (ALMA)
  packages/trading-signals-docs/indicator-demos/trend/ALMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/ALMA/ALMA.test.ts
  packages/trading-signals/src/trend/ALMA/ALMA.ts
  packages/trading-signals/src/trend/MA/MovingAverageTypes.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Zero-Lag Exponential Moving Average (ZLEMA)
  packages/trading-signals-docs/indicator-demos/trend/ZLEMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/MA/MovingAverageTypes.ts
  packages/trading-signals/src/trend/ZLEMA/ZLEMA.test.ts
  packages/trading-signals/src/trend/ZLEMA/ZLEMA.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Variable Index Dynamic Average (VIDYA)
  packages/trading-signals-docs/indicator-demos/trend/VIDYA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/MA/MovingAverageTypes.ts
  packages/trading-signals/src/trend/VIDYA/VIDYA.test.ts
  packages/trading-signals/src/trend/VIDYA/VIDYA.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Fractal Adaptive Moving Average (FRAMA)
  packages/trading-signals-docs/indicator-demos/trend/FRAMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/FRAMA/FRAMA.test.ts
  packages/trading-signals/src/trend/FRAMA/FRAMA.ts
  packages/trading-signals/src/trend/MA/MovingAverageTypes.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

fix(trading-signals): re-seed EMA, RMA and WSMA when the seeding price is replaced
  packages/trading-signals/src/trend/EMA/EMA.test.ts
  packages/trading-signals/src/trend/EMA/EMA.ts
  packages/trading-signals/src/trend/RMA/RMA.test.ts
  packages/trading-signals/src/trend/RMA/RMA.ts
  packages/trading-signals/src/trend/WSMA/WSMA.test.ts
  packages/trading-signals/src/trend/WSMA/WSMA.ts
Due: lint

test(trading-signals): feed replace regression tests through add()
  packages/trading-signals/src/trend/EMA/EMA.test.ts
  packages/trading-signals/src/trend/RMA/RMA.test.ts
  packages/trading-signals/src/trend/WSMA/WSMA.test.ts
Due: lint

docs(trading-signals): prefer add() loops over updates(inputs, false) in tests
  packages/trading-signals/CLAUDE.md
Due: format

feat(trading-signals): add six moving average variants (ALMA, FRAMA, T3, TRIMA, VIDYA, ZLEMA) (#1284)
  packages/trading-signals-docs/indicator-demos/trend/ALMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/FRAMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/T3.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/TRIMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/VIDYA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/ZLEMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/ALMA/ALMA.test.ts
  packages/trading-signals/src/trend/ALMA/ALMA.ts
  packages/trading-signals/src/trend/FRAMA/FRAMA.test.ts
  packages/trading-signals/src/trend/FRAMA/FRAMA.ts
  packages/trading-signals/src/trend/MA/MovingAverageTypes.ts
  packages/trading-signals/src/trend/T3/T3.test.ts
  packages/trading-signals/src/trend/T3/T3.ts
  packages/trading-signals/src/trend/TRIMA/TRIMA.test.ts
  packages/trading-signals/src/trend/TRIMA/TRIMA.ts
  packages/trading-signals/src/trend/VIDYA/VIDYA.test.ts
  packages/trading-signals/src/trend/VIDYA/VIDYA.ts
  packages/trading-signals/src/trend/ZLEMA/ZLEMA.test.ts
  packages/trading-signals/src/trend/ZLEMA/ZLEMA.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Absolute Price Oscillator (APO)
  packages/trading-signals-docs/indicator-demos/momentum/APO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/APO/APO.test.ts
  packages/trading-signals/src/momentum/APO/APO.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Fisher Transform (FISHER)
  packages/trading-signals-docs/indicator-demos/momentum/FisherTransform.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/FISHER/FisherTransform.test.ts
  packages/trading-signals/src/momentum/FISHER/FisherTransform.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Balance of Power (BOP)
  packages/trading-signals-docs/indicator-demos/momentum/BOP.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/BOP/BOP.test.ts
  packages/trading-signals/src/momentum/BOP/BOP.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Coppock Curve (COPPOCK)
  packages/trading-signals-docs/indicator-demos/momentum/CoppockCurve.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/COPPOCK/CoppockCurve.test.ts
  packages/trading-signals/src/momentum/COPPOCK/CoppockCurve.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add True Strength Index (TSI)
  packages/trading-signals-docs/indicator-demos/momentum/TSI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/TSI/TSI.test.ts
  packages/trading-signals/src/momentum/TSI/TSI.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

fix(trading-signals): keep KVO finite when the market never traded a range
  packages/trading-signals/src/volume/KVO/KVO.test.ts
  packages/trading-signals/src/volume/KVO/KVO.ts
Due: lint

feat(trading-signals): add Force Index (FI)
  packages/trading-signals-docs/indicator-demos/volume/ForceIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volume/FI/ForceIndex.test.ts
  packages/trading-signals/src/volume/FI/ForceIndex.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

feat(trading-signals): add Elder Ray Index (ERI)
  packages/trading-signals-docs/indicator-demos/momentum/ElderRay.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/ERI/ElderRay.test.ts
  packages/trading-signals/src/momentum/ERI/ElderRay.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Know Sure Thing (KST)
  packages/trading-signals-docs/indicator-demos/momentum/KST.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/KST/KST.test.ts
  packages/trading-signals/src/momentum/KST/KST.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

test(trading-signals): assert APO results with an explicit null check
  packages/trading-signals/src/momentum/APO/APO.test.ts
Due: lint

feat(trading-signals): add Klinger Volume Oscillator (KVO)
  packages/trading-signals-docs/indicator-demos/volume/KVO.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volume/KVO/KVO.test.ts
  packages/trading-signals/src/volume/KVO/KVO.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

feat(trading-signals): add nine oscillators (APO, BOP, COPPOCK, ERI, FI, FISHER, KST, KVO, TSI) (#1285)
  packages/trading-signals-docs/indicator-demos/momentum/APO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/BOP.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/CoppockCurve.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/ElderRay.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/FisherTransform.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/KST.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/TSI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals-docs/indicator-demos/volume/ForceIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/KVO.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/APO/APO.test.ts
  packages/trading-signals/src/momentum/APO/APO.ts
  packages/trading-signals/src/momentum/BOP/BOP.test.ts
  packages/trading-signals/src/momentum/BOP/BOP.ts
  packages/trading-signals/src/momentum/COPPOCK/CoppockCurve.test.ts
  packages/trading-signals/src/momentum/COPPOCK/CoppockCurve.ts
  packages/trading-signals/src/momentum/ERI/ElderRay.test.ts
  packages/trading-signals/src/momentum/ERI/ElderRay.ts
  packages/trading-signals/src/momentum/FISHER/FisherTransform.test.ts
  packages/trading-signals/src/momentum/FISHER/FisherTransform.ts
  packages/trading-signals/src/momentum/KST/KST.test.ts
  packages/trading-signals/src/momentum/KST/KST.ts
  packages/trading-signals/src/momentum/TSI/TSI.test.ts
  packages/trading-signals/src/momentum/TSI/TSI.ts
  packages/trading-signals/src/momentum/index.ts
  packages/trading-signals/src/volume/FI/ForceIndex.test.ts
  packages/trading-signals/src/volume/FI/ForceIndex.ts
  packages/trading-signals/src/volume/KVO/KVO.test.ts
  packages/trading-signals/src/volume/KVO/KVO.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

test(trading-signals): name the seed price and its successors in replace tests
  packages/trading-signals/src/trend/EMA/EMA.test.ts
  packages/trading-signals/src/trend/RMA/RMA.test.ts
Due: lint

fix(trading-signals): re-seed EMA, RMA and WSMA when the seeding price is replaced (#1287)
  packages/trading-signals/src/trend/EMA/EMA.test.ts
  packages/trading-signals/src/trend/EMA/EMA.ts
  packages/trading-signals/src/trend/RMA/RMA.test.ts
  packages/trading-signals/src/trend/RMA/RMA.ts
  packages/trading-signals/src/trend/WSMA/WSMA.test.ts
  packages/trading-signals/src/trend/WSMA/WSMA.ts
Due: lint

feat(trading-signals): add Vortex Indicator (VI)
  packages/trading-signals-docs/indicator-demos/trend/VortexIndicator.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/VI/VortexIndicator.test.ts
  packages/trading-signals/src/trend/VI/VortexIndicator.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Keltner Channels (KC)
  packages/trading-signals-docs/indicator-demos/volatility/KeltnerChannels.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/KC/KeltnerChannels.test.ts
  packages/trading-signals/src/volatility/KC/KeltnerChannels.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add Donchian Channels (DC)
  packages/trading-signals-docs/indicator-demos/volatility/DonchianChannels.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/DC/DonchianChannels.test.ts
  packages/trading-signals/src/volatility/DC/DonchianChannels.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

perf(trading-signals): compute Donchian and Ichimoku extremes in a single pass
  packages/trading-signals/src/trend/ICHIMOKU/IchimokuCloud.ts
  packages/trading-signals/src/volatility/DC/DonchianChannels.ts
Due: lint

feat(trading-signals): add Ichimoku Cloud (ICHIMOKU)
  packages/trading-signals-docs/indicator-demos/trend/IchimokuCloud.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/ICHIMOKU/IchimokuCloud.test.ts
  packages/trading-signals/src/trend/ICHIMOKU/IchimokuCloud.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Ichimoku Cloud, Keltner/Donchian Channels and Vortex Indicator (#1286)
  packages/trading-signals-docs/indicator-demos/trend/IchimokuCloud.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/VortexIndicator.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals-docs/indicator-demos/volatility/DonchianChannels.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/KeltnerChannels.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/ICHIMOKU/IchimokuCloud.test.ts
  packages/trading-signals/src/trend/ICHIMOKU/IchimokuCloud.ts
  packages/trading-signals/src/trend/VI/VortexIndicator.test.ts
  packages/trading-signals/src/trend/VI/VortexIndicator.ts
  packages/trading-signals/src/trend/index.ts
  packages/trading-signals/src/volatility/DC/DonchianChannels.test.ts
  packages/trading-signals/src/volatility/DC/DonchianChannels.ts
  packages/trading-signals/src/volatility/KC/KeltnerChannels.test.ts
  packages/trading-signals/src/volatility/KC/KeltnerChannels.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint
