Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

test
  lefthook.yml
  packages/trading-signals/src/momentum/AC/AC.ts
Due: format, lint

fixing all libs
  package-lock.json
  package.json
  packages/docs/package.json
  packages/trading-signals/package.json
Due: format

remove ignores
  .github/dependabot.yml
Due: format

add features
  packages/docs/pages/index.tsx
Due: none

add components
  packages/docs/components/CategoryCard.tsx
  packages/docs/components/CodeBlock.tsx
  packages/docs/components/FeatureCard.tsx
  packages/docs/components/Hero.tsx
  packages/docs/components/QuickStart.tsx
  packages/docs/pages/index.tsx
Due: none

render OBV flags
  packages/docs/components/CodeExample.tsx
  packages/docs/components/DataTable.tsx
  packages/docs/components/IndicatorHeader.tsx
  packages/docs/components/IndicatorSelector.tsx
  packages/docs/components/SignalBadge.tsx
  packages/docs/pages/indicators/momentum.tsx
Due: none

improved signaling
  packages/docs/pages/indicators/momentum.tsx
  packages/trading-signals/src/types/Indicator.ts
Due: lint

don't wait for isStable
  packages/docs/pages/indicators/momentum.tsx
Due: none

docs: Add Monorepo instructions
  README.md
Due: format

test(docs): Add test setup
  package-lock.json
  packages/docs/package.json
  packages/docs/pages/index.test.tsx
  packages/docs/vitest.config.ts
  packages/docs/vitest.setup.ts
Due: format

merge deps
  package-lock.json
  packages/docs/package.json
Due: format

fix compat
  .gitignore
  package-lock.json
  packages/docs/components/Chart.tsx
  packages/docs/components/DataTable.tsx
  packages/docs/next-env.d.ts
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/docs/pages/index.tsx
  packages/docs/pages/indicators/momentum.tsx
  packages/docs/postcss.config.js
  packages/docs/styles/globals.css
  packages/docs/tailwind.config.js
  packages/docs/tsconfig.json
  packages/trading-signals/package-lock.json
Due: format

fix compat
  packages/docs/tsconfig.json
Due: format

update lockfile
  package-lock.json
Due: format

npm run dist --workspace trading-signals
  packages/docs/package.json
Due: format

simplify builds
  .github/workflows/deploy-docs.yml
  packages/docs/package.json
Due: format

simplify builds
  .github/workflows/deploy-docs.yml
Due: format

code style
  .github/workflows/create-release.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/generate-labels.yml
  .github/workflows/merge-dependencies.yml
Due: format

Use jsdom
  package-lock.json
  packages/docs/package.json
  packages/docs/vitest.config.ts
Due: format

test(docs): Add test setup (#899)
  .github/workflows/deploy-docs.yml
  .gitignore
  package-lock.json
  packages/docs/components/Chart.tsx
  packages/docs/components/DataTable.tsx
  packages/docs/next-env.d.ts
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/docs/pages/index.test.tsx
  packages/docs/pages/index.tsx
  packages/docs/pages/indicators/momentum.tsx
  packages/docs/postcss.config.js
  packages/docs/styles/globals.css
  packages/docs/tailwind.config.js
  packages/docs/tsconfig.json
  packages/docs/vitest.config.ts
  packages/docs/vitest.setup.ts
  packages/trading-signals/package-lock.json
Due: format

fix(docs): found page without a React Component as default export
  packages/docs/__tests__/index.test.tsx
  packages/docs/next-env.d.ts
Due: none

fix(trading-signals): Repair broken image links
  packages/trading-signals/README.md
Due: format

refactor: Rename docs to trading-signals-docs
  .github/workflows/deploy-docs.yml
  README.md
  packages/trading-signals-docs/.gitignore
  packages/trading-signals-docs/README.md
  packages/trading-signals-docs/__tests__/index.test.tsx
  packages/trading-signals-docs/components/CategoryCard.tsx
  packages/trading-signals-docs/components/Chart.tsx
  packages/trading-signals-docs/components/CodeBlock.tsx
  packages/trading-signals-docs/components/CodeExample.tsx
  packages/trading-signals-docs/components/DataTable.tsx
  packages/trading-signals-docs/components/FeatureCard.tsx
  packages/trading-signals-docs/components/Hero.tsx
  packages/trading-signals-docs/components/IndicatorDemo.tsx
  packages/trading-signals-docs/components/IndicatorHeader.tsx
  packages/trading-signals-docs/components/IndicatorSelector.tsx
  packages/trading-signals-docs/components/QuickStart.tsx
  packages/trading-signals-docs/components/SignalBadge.tsx
  packages/trading-signals-docs/next-env.d.ts
  packages/trading-signals-docs/next.config.js
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/pages/_app.tsx
  packages/trading-signals-docs/pages/index.tsx
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/pages/indicators/momentum.tsx.bak
  packages/trading-signals-docs/pages/indicators/trend.tsx
  packages/trading-signals-docs/pages/indicators/utilities.tsx
  packages/trading-signals-docs/pages/indicators/volatility.tsx
  packages/trading-signals-docs/postcss.config.js
  packages/trading-signals-docs/styles/globals.css
  packages/trading-signals-docs/tsconfig.json
  packages/trading-signals-docs/vitest.config.ts
  packages/trading-signals-docs/vitest.setup.ts
Due: format

trading-signals-docs
  package-lock.json
Due: format

refactor(docs): Rename docs to trading-signals-docs (#900)
  .github/workflows/deploy-docs.yml
  README.md
  package-lock.json
  packages/trading-signals-docs/.gitignore
  packages/trading-signals-docs/README.md
  packages/trading-signals-docs/__tests__/index.test.tsx
  packages/trading-signals-docs/components/CategoryCard.tsx
  packages/trading-signals-docs/components/Chart.tsx
  packages/trading-signals-docs/components/CodeBlock.tsx
  packages/trading-signals-docs/components/CodeExample.tsx
  packages/trading-signals-docs/components/DataTable.tsx
  packages/trading-signals-docs/components/FeatureCard.tsx
  packages/trading-signals-docs/components/Hero.tsx
  packages/trading-signals-docs/components/IndicatorDemo.tsx
  packages/trading-signals-docs/components/IndicatorHeader.tsx
  packages/trading-signals-docs/components/IndicatorSelector.tsx
  packages/trading-signals-docs/components/QuickStart.tsx
  packages/trading-signals-docs/components/SignalBadge.tsx
  packages/trading-signals-docs/next-env.d.ts
  packages/trading-signals-docs/next.config.js
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/pages/_app.tsx
  packages/trading-signals-docs/pages/index.tsx
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/pages/indicators/momentum.tsx.bak
  packages/trading-signals-docs/pages/indicators/trend.tsx
  packages/trading-signals-docs/pages/indicators/utilities.tsx
  packages/trading-signals-docs/pages/indicators/volatility.tsx
  packages/trading-signals-docs/postcss.config.js
  packages/trading-signals-docs/styles/globals.css
  packages/trading-signals-docs/tsconfig.json
  packages/trading-signals-docs/vitest.config.ts
  packages/trading-signals-docs/vitest.setup.ts
Due: format

refactor(trading-signals-docs): Migrate to the new Highcharts for React
  package-lock.json
  packages/trading-signals-docs/components/Chart.tsx
  packages/trading-signals-docs/next-env.d.ts
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/tsconfig.json
Due: format

refactor(trading-signals-docs): Migrate to the new Highcharts for React
  packages/trading-signals-docs/tsconfig.json
Due: format

refactor(trading-signals-docs): Migrate to the new Highcharts for React (#901)
  package-lock.json
  packages/trading-signals-docs/components/Chart.tsx
  packages/trading-signals-docs/next-env.d.ts
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/pages/indicators/momentum.tsx
Due: format

chore(trading-signals,trading-signals-docs): Share dependencies
  package-lock.json
  package.json
  packages/trading-signals-docs/package.json
  packages/trading-signals/package.json
Due: format

Successfully ran target test for 2 projects
  package-lock.json
  packages/trading-signals-docs/package.json
Due: format

chore(trading-signals,trading-signals-docs): Share dependencies (#902)
  package-lock.json
  package.json
  packages/trading-signals-docs/package.json
  packages/trading-signals/package.json
Due: format

chore: Updating release script
  package.json
Due: format

[skip ci] chore: Publish
  package-lock.json
  packages/trading-signals-docs/CHANGELOG.md
  packages/trading-signals-docs/package.json
  packages/trading-signals/CHANGELOG.md
  packages/trading-signals/package.json
Due: format

docs: Add links
  README.md
  packages/trading-signals-docs/CHANGELOG.md
Due: format

chore(trading-signals-docs): Remove flags from charts
  packages/trading-signals-docs/pages/indicators/momentum.tsx
Due: none

chore(trading-signals-docs): Deduplicate rendering logic
  packages/trading-signals-docs/pages/indicators/momentum.tsx
Due: none

Add signaling for momentum indicator
  .gitignore
  packages/trading-signals-docs/next-env.d.ts
  packages/trading-signals-docs/pages/index.test.tsx
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/pages/indicators/momentum.tsx.bak
  packages/trading-signals/src/momentum/MOM/MOM.test.ts
  packages/trading-signals/src/momentum/MOM/MOM.ts
Due: lint

Add signaling for momentum indicator
  packages/trading-signals/src/momentum/MOM/MOM.ts
Due: lint
