Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

chore: Push updated changelogs
  package.json
  packages/exchange/CHANGELOG.md
  packages/messaging/CHANGELOG.md
  packages/trading-signals-docs/CHANGELOG.md
  packages/trading-strategies/CHANGELOG.md
Due: format

[skip ci] chore: Publish
  package-lock.json
  packages/exchange/CHANGELOG.md
  packages/exchange/package.json
  packages/messaging/CHANGELOG.md
  packages/messaging/package.json
  packages/trading-signals-docs/CHANGELOG.md
  packages/trading-signals-docs/package.json
  packages/trading-strategies/CHANGELOG.md
  packages/trading-strategies/package.json
Due: format

chore: update CHANGELOGs
  packages/exchange/CHANGELOG.md
  packages/messaging/CHANGELOG.md
  packages/trading-signals-docs/CHANGELOG.md
  packages/trading-strategies/CHANGELOG.md
Due: format

docs(messaging): Add README
  packages/messaging/README.md
  packages/messaging/src/index.ts
Due: format

refactor(messaging): Add Render deployment
  render.yaml
Due: none

docs: Describe Render deployment
  README.md
Due: format

fix: Adjust starting config
  render.yaml
Due: none

chore: Update start scripts
  package.json
  render.yaml
Due: format

chore: Update start command
  package.json
  packages/messaging/src/startServer.ts
  render.yaml
Due: format

test(exchange): Add tests for AlpacaExchangeMapper
  packages/exchange/fixtures/alpaca/bars/minutes-5.json
  packages/exchange/src/exchange-alpaca/AlpacaExchangeMapper.test.ts
Due: format

update ms
  package-lock.json
  packages/exchange/package.json
  packages/exchange/src/candle/CandleBatcher.test.ts
  packages/exchange/src/candle/CandleBatcher.ts
  packages/exchange/src/exchange-alpaca/AlpacaExchangeMapper.test.ts
  packages/exchange/src/exchange-alpaca/AlpacaExchangeMapper.ts
  packages/exchange/src/index.ts
Due: format

use const assertions
  packages/exchange/src/exchange-alpaca/AlpacaExchangeMapper.test.ts
Due: none

fix ms export
  packages/exchange/src/index.ts
  packages/messaging/src/command/candle.ts
Due: none

test(exchange): Add tests for AlpacaExchangeMapper (#920)
  package-lock.json
  packages/exchange/fixtures/alpaca/bars/minutes-5.json
  packages/exchange/package.json
  packages/exchange/src/candle/CandleBatcher.test.ts
  packages/exchange/src/candle/CandleBatcher.ts
  packages/exchange/src/exchange-alpaca/AlpacaExchangeMapper.test.ts
  packages/exchange/src/exchange-alpaca/AlpacaExchangeMapper.ts
  packages/exchange/src/index.ts
  packages/messaging/src/command/candle.ts
Due: format

Potential fix for code scanning alert no. 3: Workflow does not contain permissions
  .github/workflows/run-tests.yml
Due: format

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/generate-labels.yml
Due: format

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/create-release.yml
Due: format

Potential fix for code scanning alert no. 1: Workflow does not contain permissions (#923)
  .github/workflows/create-release.yml
Due: format

Potential fix for code scanning alert no. 2: Workflow does not contain permissions (#922)
  .github/workflows/generate-labels.yml
Due: format

Potential fix for code scanning alert no. 3: Workflow does not contain permissions (#921)
  .github/workflows/run-tests.yml
Due: format

test: Shuffle tests
  .github/workflows/run-tests.yml
  package-lock.json
  package.json
  vitest.config.base.ts
Due: format

Fix ROC when update with replace==true
  packages/trading-signals/src/momentum/ROC/ROC.ts
Due: lint

Add test for ROC update/replace
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
Due: lint

feat(messaging): Add /help command
  package-lock.json
  packages/messaging/package.json
  packages/messaging/src/startServer.ts
Due: format

report version
  packages/messaging/src/startServer.ts
Due: none

feat(messaging): Add /help command (#926)
  package-lock.json
  packages/messaging/package.json
  packages/messaging/src/startServer.ts
Due: format

test: Shuffle tests (#924)
  .github/workflows/run-tests.yml
  package.json
  vitest.config.base.ts
Due: format

fix(trading-signals): Repair replace functionality for ROC (#925)
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
  packages/trading-signals/src/momentum/ROC/ROC.ts
Due: lint

test(trading-signals): Update test description
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
Due: lint

feat(trading-signals-docs): Add selector for market condition
  packages/trading-signals-docs/pages/indicators/momentum.tsx
Due: none

rem comments
  packages/trading-signals-docs/pages/indicators/momentum.tsx
Due: none

Use components
  packages/trading-signals-docs/components/DatasetSelector.tsx
  packages/trading-signals-docs/components/IndicatorList.tsx
  packages/trading-signals-docs/pages/indicators/candles/downtrend.json
  packages/trading-signals-docs/pages/indicators/candles/sideways.json
  packages/trading-signals-docs/pages/indicators/candles/uptrend.json
  packages/trading-signals-docs/pages/indicators/momentum.tsx
Due: format

feat(trading-signals-docs): Add selector for market condition (#927)
  packages/trading-signals-docs/components/DatasetSelector.tsx
  packages/trading-signals-docs/components/IndicatorList.tsx
  packages/trading-signals-docs/pages/indicators/candles/downtrend.json
  packages/trading-signals-docs/pages/indicators/candles/sideways.json
  packages/trading-signals-docs/pages/indicators/candles/uptrend.json
  packages/trading-signals-docs/pages/indicators/momentum.tsx
Due: format

feat: Update design of Trend indicators
  packages/trading-signals-docs/pages/indicators/datasets.ts
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/pages/indicators/renderUtils.tsx
  packages/trading-signals-docs/pages/indicators/trend.tsx
  packages/trading-signals-docs/pages/indicators/types.ts
Due: none

fix: Add missing imports and DMA details property (#932)
  package-lock.json
  packages/trading-signals-docs/next-env.d.ts
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/pages/indicators/trend.tsx
  packages/trading-signals-docs/pages/indicators/types.ts
Due: format

fix tests
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/pages/indicators/trend.tsx
  packages/trading-signals-docs/utils/datasets.ts
  packages/trading-signals-docs/utils/renderUtils.tsx
  packages/trading-signals-docs/utils/types.ts
Due: none

remove general any
  packages/trading-signals-docs/utils/renderUtils.tsx
Due: none

feat(trading-signals-docs): Update design for Trend indicators (#928)
  package-lock.json
  packages/trading-signals-docs/next-env.d.ts
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/pages/indicators/trend.tsx
  packages/trading-signals-docs/utils/datasets.ts
  packages/trading-signals-docs/utils/renderUtils.tsx
  packages/trading-signals-docs/utils/types.ts
Due: format

chroe: Update dependencies
  package-lock.json
  package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/package.json
Due: format

[skip ci] chore: Publish
  package-lock.json
  packages/exchange/CHANGELOG.md
  packages/exchange/package.json
  packages/messaging/CHANGELOG.md
  packages/messaging/package.json
  packages/trading-signals-docs/CHANGELOG.md
  packages/trading-signals-docs/package.json
  packages/trading-signals/CHANGELOG.md
  packages/trading-signals/package.json
  packages/trading-strategies/CHANGELOG.md
  packages/trading-strategies/package.json
Due: format
