Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

mock alert
  packages/exchange/src/broker/trading212/api/Trading212API.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/StrategyMonitor.ts
Due: none

use const for test
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/StrategyMonitor.ts
Due: none

fix message test
  packages/messaging/src/service/StrategyMonitor.test.ts
Due: none

add assert
  packages/messaging/src/service/StrategyMonitor.test.ts
Due: none

fix(messaging): stop and alert the user on unrecoverable strategy errors (#1100)
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.test.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/broker/trading212/api/Trading212API.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/StrategyMonitor.ts
Due: none

test(messaging): surface assertion intent via expect() messages
  packages/messaging/src/service/StrategyMonitor.test.ts
Due: none

test(messaging): surface assertion intent via expect() messages (#1118)
  packages/messaging/src/service/StrategyMonitor.test.ts
Due: none

linting everything
  eslint.config.base.mjs
  eslint.config.mjs
  package.json
  packages/exchange/eslint.config.mjs
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/broker/BrokerMock.test.ts
  packages/exchange/src/broker/BrokerMock.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaMarketData.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/util/isEarningsDay.ts
  packages/messaging/eslint.config.mjs
  packages/messaging/src/command/placeOrder.ts
  packages/messaging/src/command/report/reportList.ts
  packages/messaging/src/command/strategy/strategyConfig.ts
  packages/messaging/src/command/strategy/strategyState.ts
  packages/messaging/src/service/PlatformDispatcher.ts
  packages/trading-signals/eslint.config.mjs
  packages/trading-strategies/eslint.config.mjs
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/report-sp500-heatmap/SP500HeatmapReport.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.ts
  packages/trading-strategies/src/report/Report.test.ts
Due: format

fix(trading-signals-docs): migrate to @highcharts/react v5 type names
  packages/trading-signals-docs/components/BacktestResults.tsx
  packages/trading-signals-docs/components/Chart.tsx
  packages/trading-signals-docs/components/PriceChart.tsx
Due: none

fix(trading-strategies): trailing stop guards all available size
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.test.ts
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.ts
Due: none

refactor(trading-strategies): promote hasSellablePosition to Strategy base
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.test.ts
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: none

chore: lint all monorepo packages in pre-commit hook
  lefthook.yml
Due: format

fix(trading-strategies): trailing stop guards all available size (#1119)
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.test.ts
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: none

chore: lint all monorepo packages in pre-commit hook (#1120)
  lefthook.yml
Due: format

fix(exchange): import node:assert in BrokerMock
  packages/exchange/src/broker/BrokerMock.ts
Due: none

feat(trading-signals): export MovingAverage base class
  packages/trading-signals/src/trend/index.ts
Due: lint

feat(exchange): strategy warm-up hook from historical candles
  packages/exchange/src/broker/BrokerMock.ts
  packages/exchange/src/trader/TradingSession.test.ts
  packages/exchange/src/trader/TradingSession.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
Due: none

feat(candles): add @typedtrader/candles fixtures package
  package-lock.json
  packages/candles/json/downtrend-msft.json
  packages/candles/json/downtrend.json
  packages/candles/json/sideways-pg.json
  packages/candles/json/sideways.json
  packages/candles/json/uptrend-slv.json
  packages/candles/json/uptrend-stx.json
  packages/candles/json/uptrend.json
  packages/candles/json/urth-2024-1h.json
  packages/candles/json/urth-2025-1h.json
  packages/candles/package.json
  packages/candles/src/index.ts
  packages/candles/tsconfig.build.json
  packages/candles/tsconfig.json
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/utils/datasets.ts
Due: format

fix(messaging): run production worker without tsx watch
  packages/messaging/package.json
  packages/trading-strategies/package.json
Due: format

fix(messaging): run production worker without tsx watch (#1128)
  packages/messaging/package.json
  packages/trading-strategies/package.json
Due: format

fix(exchange): import node:assert in BrokerMock (#1122)
  packages/exchange/src/broker/BrokerMock.ts
Due: none

feat(trading-signals): export MovingAverage base class (#1123)
  packages/trading-signals/src/trend/index.ts
Due: lint

chore(candles): drop the datasets JSDoc per review
  packages/candles/src/index.ts
Due: none

feat(candles): add @typedtrader/candles fixtures package (#1125)
  package-lock.json
  packages/candles/json/downtrend-msft.json
  packages/candles/json/downtrend.json
  packages/candles/json/sideways-pg.json
  packages/candles/json/sideways.json
  packages/candles/json/uptrend-slv.json
  packages/candles/json/uptrend-stx.json
  packages/candles/json/uptrend.json
  packages/candles/json/urth-2024-1h.json
  packages/candles/json/urth-2025-1h.json
  packages/candles/package.json
  packages/candles/src/index.ts
  packages/candles/tsconfig.build.json
  packages/candles/tsconfig.json
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/utils/datasets.ts
Due: format

refactor(exchange): hand strategy init a bound getCandles
  packages/exchange/src/trader/TradingSession.test.ts
  packages/exchange/src/trader/TradingSession.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
Due: none

refactor(exchange): warm up strategies via read-only MarketDataProvider
  packages/exchange/src/broker/BrokerMock.ts
  packages/exchange/src/broker/MarketDataSource.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/trader/TradingSession.test.ts
  packages/exchange/src/trader/TradingSession.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
Due: none

refactor(exchange): address review — drop MarketDataProvider, use MarketDataSource
  packages/exchange/src/broker/BrokerMock.ts
  packages/exchange/src/trader/TradingSession.test.ts
  packages/exchange/src/trader/TradingSession.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
Due: none

refactor(exchange): simplify getRecentCandles to fixed-end widening window
  packages/exchange/src/broker/MarketDataSource.test.ts
  packages/exchange/src/broker/MarketDataSource.ts
  packages/exchange/src/trader/TradingSession.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
Due: none

fix(candles): add dist script so CI builds it before dependents
  packages/candles/package.json
Due: format

test(exchange): drop parameter property for erasableSyntaxOnly
  packages/exchange/src/broker/MarketDataSource.test.ts
Due: none

refactor(exchange): address review — optional-chain init, trim comments
  packages/candles/src/index.ts
  packages/exchange/src/broker/MarketDataSource.ts
  packages/exchange/src/trader/TradingSession.ts
Due: none

feat(exchange): strategy warm-up hook from historical candles (#1124)
  package-lock.json
  packages/candles/json/downtrend-msft.json
  packages/candles/json/downtrend.json
  packages/candles/json/sideways-pg.json
  packages/candles/json/sideways.json
  packages/candles/json/uptrend-slv.json
  packages/candles/json/uptrend-stx.json
  packages/candles/json/uptrend.json
  packages/candles/json/urth-2024-1h.json
  packages/candles/json/urth-2025-1h.json
  packages/candles/package.json
  packages/candles/src/index.ts
  packages/candles/tsconfig.build.json
  packages/candles/tsconfig.json
  packages/exchange/src/broker/BrokerMock.ts
  packages/exchange/src/broker/MarketDataSource.test.ts
  packages/exchange/src/broker/MarketDataSource.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/trader/TradingSession.test.ts
  packages/exchange/src/trader/TradingSession.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/utils/datasets.ts
Due: format

feat(trading-strategies): volatility trailing-stop utils
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/util/AtrPercent.test.ts
  packages/trading-strategies/src/util/AtrPercent.ts
  packages/trading-strategies/src/util/MarketRegimeFilter.test.ts
  packages/trading-strategies/src/util/MarketRegimeFilter.ts
  packages/trading-strategies/src/util/TrendFilter.test.ts
  packages/trading-strategies/src/util/TrendFilter.ts
  packages/trading-strategies/src/util/atrUnits.test.ts
  packages/trading-strategies/src/util/atrUnits.ts
  packages/trading-strategies/src/util/trailStop.test.ts
  packages/trading-strategies/src/util/trailStop.ts
Due: none

docs(trading-strategies): trim verbose comments in trail-stop utils
  packages/trading-strategies/src/util/TrendFilter.ts
  packages/trading-strategies/src/util/trailStop.ts
Due: none

refactor(trading-strategies): comments add intent, encode invariants in types
  .claude/rules/comments-add-intent-not-implementation.md
  packages/trading-strategies/src/util/AtrPercent.test.ts
  packages/trading-strategies/src/util/AtrPercent.ts
  packages/trading-strategies/src/util/MarketRegimeFilter.ts
  packages/trading-strategies/src/util/atrUnits.ts
  packages/trading-strategies/src/util/trailStop.test.ts
  packages/trading-strategies/src/util/trailStop.ts
Due: format

refactor(trading-strategies): rename isRiskOn to shouldExit, drop obvious comments
  packages/trading-strategies/src/util/AtrPercent.ts
  packages/trading-strategies/src/util/MarketRegimeFilter.test.ts
  packages/trading-strategies/src/util/MarketRegimeFilter.ts
Due: none

feat(trading-strategies): add volatility trailing-stop utils (#1126)
  .claude/rules/comments-add-intent-not-implementation.md
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/util/AtrPercent.test.ts
  packages/trading-strategies/src/util/AtrPercent.ts
  packages/trading-strategies/src/util/MarketRegimeFilter.test.ts
  packages/trading-strategies/src/util/MarketRegimeFilter.ts
  packages/trading-strategies/src/util/TrendFilter.test.ts
  packages/trading-strategies/src/util/TrendFilter.ts
  packages/trading-strategies/src/util/atrUnits.test.ts
  packages/trading-strategies/src/util/atrUnits.ts
  packages/trading-strategies/src/util/trailStop.test.ts
  packages/trading-strategies/src/util/trailStop.ts
Due: format

feat(trading-strategies): DynamicTrailStrategy + suitability report
  package-lock.json
  packages/messaging/package.json
  packages/trading-strategies/package.json
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/start/runBacktest.ts
  packages/trading-strategies/src/strategy-dynamic-trail/AbstractDynamicTrailStrategy.ts
  packages/trading-strategies/src/strategy-dynamic-trail/ChandelierTrailStrategy.ts
  packages/trading-strategies/src/strategy-dynamic-trail/DynamicTrailSchema.ts
  packages/trading-strategies/src/strategy-dynamic-trail/DynamicTrailStrategy.test.ts
  packages/trading-strategies/src/strategy-dynamic-trail/DynamicTrailStrategy.ts
  packages/trading-strategies/src/strategy-dynamic-trail/DynamicTrailWarmup.test.ts
  packages/trading-strategies/src/strategy-dynamic-trail/MsftDowntrendRegression.test.ts
  packages/trading-strategies/src/strategy-dynamic-trail/StxWhipsawRegression.test.ts
  packages/trading-strategies/src/strategy-dynamic-trail/assessTrailSuitability.test.ts
  packages/trading-strategies/src/strategy-dynamic-trail/assessTrailSuitability.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.test.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.ts
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.ts
  packages/trading-strategies/src/strategy/StrategyRegistry.ts
Due: format
