Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

fix(trading-signals): emit the first Bollinger Band once the interval is filled
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
  packages/trading-signals/src/volatility/BBW/BollingerBandsWidth.test.ts
Due: lint

fix(trading-signals): keep PVT from counting a replaced candle twice
  packages/trading-signals/src/volume/PVT/PVT.test.ts
  packages/trading-signals/src/volume/PVT/PVT.ts
Due: lint

fix(trading-signals): roll back TDS setup state on replace()
  packages/trading-signals/src/momentum/TDS/TDS.test.ts
  packages/trading-signals/src/momentum/TDS/TDS.ts
Due: lint

fix(trading-signals): restore PSAR state on replace()
  packages/trading-signals/src/trend/PSAR/PSAR.test.ts
  packages/trading-signals/src/trend/PSAR/PSAR.ts
Due: lint

fix(trading-signals): restore ZigZag swing state on replace()
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.test.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.ts
Due: lint

fix(trading-signals): only withdraw a TDS setup that the replaced bar emitted
  packages/trading-signals/src/momentum/TDS/TDS.test.ts
  packages/trading-signals/src/momentum/TDS/TDS.ts
Due: lint

fix(trading-signals): only withdraw a ZigZag pivot that the replaced candle reported
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.test.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.ts
Due: lint

refactor(trading-signals): keep the PSAR class JSDoc attached to the class
  packages/trading-signals/src/trend/PSAR/PSAR.ts
Due: lint

fix(trading-signals): report the correct number of required inputs for ROC
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
  packages/trading-signals/src/momentum/ROC/ROC.ts
Due: lint

fix(trading-signals): hold the ROC comparand inside the price window
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
  packages/trading-signals/src/momentum/ROC/ROC.ts
Due: lint

test(trading-signals): assert BBW against eight decimals instead of two
  packages/trading-signals/src/volatility/BBW/BollingerBandsWidth.test.ts
Due: lint

test(trading-signals): assert a same-value BollingerBands replace is a no-op
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
Due: lint

test(trading-signals): assert a same-value PVT replace is a no-op
  packages/trading-signals/src/volume/PVT/PVT.test.ts
Due: lint

test(trading-signals): assert a same-value TDS replace is a no-op
  packages/trading-signals/src/momentum/TDS/TDS.test.ts
Due: lint

test(trading-signals): assert a same-value ZigZag replace is a no-op
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.test.ts
Due: lint

test(trading-signals): assert a same-value ROC replace is a no-op
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
Due: lint

test(trading-signals): assert a same-value PSAR replace is a no-op
  packages/trading-signals/src/trend/PSAR/PSAR.test.ts
Due: lint

fix(trading-signals): recalculate Bollinger Bands on replace()
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
Due: lint

add regression test
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
Due: lint

format
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
Due: lint

add tag
  packages/trading-signals/vitest.config.ts
Due: none

test(trading-signals): add regression test for ROC (#1262)
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
  packages/trading-signals/vitest.config.ts
Due: lint

chore: pin conventional-changelog preset to v9 so lerna can load it
  package-lock.json
  package.json
Due: format

ci: publish releases from a GitHub Actions workflow
  .github/workflows/release.yml
  package.json
Due: format

ci: publish via npm trusted publishing
  .github/workflows/release.yml
Due: format

ci: drop the npm token fallback so OIDC is the only auth path
  .github/workflows/release.yml
Due: format

ci: reuse GH_AUTOMERGE_TOKEN for the release push
  .github/workflows/release.yml
Due: format

ci: drop the GITHUB_TOKEN fallback for the release push
  .github/workflows/release.yml
Due: format

chore: Update release workflow
  .github/workflows/release.yml
Due: format

use "oxc.oxc-vscode"
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: format

use "oxc.oxc-vscode"
  .gitignore
Due: none
