Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: cd packages/trading-signals && npx eslint {staged_files} --fix

docs(exchange): generalize Trading212 ultrareview findings into BROKER_TEMPLATE
  packages/exchange/BROKER_TEMPLATE.md
Due: format

update
  packages/exchange/src/exchange/trading212/demo/buy.ts
  packages/exchange/src/exchange/trading212/demo/getDemoClient.ts
  packages/exchange/src/exchange/trading212/demo/listBalances.ts
  packages/exchange/src/exchange/trading212/demo/testAll.ts
  packages/exchange/src/exchange/trading212/getTrading212Client.ts
Due: none

feat(exchange): split market data from brokerage; add Twelve Data
  package-lock.json
  packages/exchange/.env.defaults
  packages/exchange/BROKER_TEMPLATE.md
  packages/exchange/package.json
  packages/exchange/src/exchange/Exchange.ts
  packages/exchange/src/exchange/ExchangeMock.test.ts
  packages/exchange/src/exchange/ExchangeMock.ts
  packages/exchange/src/exchange/MarketDataSource.ts
  packages/exchange/src/exchange/alpaca/AlpacaExchange.ts
  packages/exchange/src/exchange/trading212/Trading212Exchange.ts
  packages/exchange/src/exchange/trading212/api/Trading212API.ts
  packages/exchange/src/exchange/trading212/demo/testAll.ts
  packages/exchange/src/exchange/trading212/getTrading212Client.ts
  packages/exchange/src/exchange/twelvedata/TwelveDataExchangeMapper.ts
  packages/exchange/src/exchange/twelvedata/TwelveDataMarketData.ts
  packages/exchange/src/exchange/twelvedata/demo/test.ts
  packages/exchange/src/exchange/twelvedata/getTwelveDataMarketData.ts
Due: format

feat(messaging): add /strategyCopy to clone a strategy's config to another account/pair
  packages/messaging/src/command/index.ts
  packages/messaging/src/command/strategy/strategyCopy.ts
  packages/messaging/src/startServer.ts
Due: none

fix(exchange): address Copilot review on Exchange/MarketDataSource split
  packages/exchange/src/exchange/getExchangeClient.ts
  packages/exchange/src/exchange/index.ts
  packages/exchange/src/exchange/trading212/Trading212Exchange.ts
  packages/exchange/src/exchange/twelvedata/TwelveDataMarketData.ts
  packages/exchange/src/exchange/twelvedata/getTwelveDataMarketData.ts
  packages/messaging/src/service/WatchMonitor.ts
Due: none

chore(exchange): drop Twelve Data integration in favour of Alpaca
  package-lock.json
  packages/exchange/.env.defaults
  packages/exchange/BROKER_TEMPLATE.md
  packages/exchange/package.json
  packages/exchange/src/exchange/twelvedata/TwelveDataExchangeMapper.ts
  packages/exchange/src/exchange/twelvedata/TwelveDataMarketData.ts
  packages/exchange/src/exchange/twelvedata/demo/test.ts
  packages/exchange/src/exchange/twelvedata/getTwelveDataMarketData.ts
Due: format

refactor(exchange): split AlpacaMarketData out of AlpacaExchange; require marketData on every broker
  packages/exchange/BROKER_TEMPLATE.md
  packages/exchange/src/exchange/alpaca/AlpacaExchange.test.ts
  packages/exchange/src/exchange/alpaca/AlpacaExchange.ts
  packages/exchange/src/exchange/alpaca/AlpacaMarketData.ts
  packages/exchange/src/exchange/alpaca/alpacaSymbol.ts
  packages/exchange/src/exchange/alpaca/getAlpacaClient.ts
  packages/exchange/src/exchange/alpaca/getAlpacaMarketData.ts
  packages/exchange/src/exchange/getExchangeClient.ts
  packages/exchange/src/exchange/trading212/Trading212Exchange.ts
  packages/exchange/src/exchange/trading212/demo/getDemoClient.ts
  packages/exchange/src/exchange/trading212/getTrading212Client.ts
Due: format

docs(exchange): document vendor-prefix convention for schemas in BROKER_TEMPLATE
  packages/exchange/BROKER_TEMPLATE.md
Due: format

fix(exchange): address Copilot review on src/broker/ rename
  packages/exchange/BROKER_TEMPLATE.md
  packages/exchange/package.json
  packages/exchange/src/broker/alpaca/getAlpacaClient.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/broker/trading212/Trading212ExchangeMapper.ts
  packages/exchange/src/broker/trading212/demo/testAll.ts
  packages/exchange/src/trader/TradingSession.test.ts
Due: format

fix(exchange): address third Copilot review pass
  packages/exchange/BROKER_TEMPLATE.md
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMapper.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMapper.ts
  packages/exchange/src/broker/alpaca/AlpacaMarketData.ts
  packages/exchange/src/broker/alpaca/index.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/broker/trading212/Trading212BrokerMapper.ts
  packages/exchange/src/broker/trading212/api/Trading212API.ts
  packages/exchange/src/broker/trading212/index.ts
  packages/exchange/src/candle/CandleBatcher.ts
Due: format

fix(exchange): Trading212 history schema actually nested under {order, fill}
  .claude/rules/no-non-null-assertion-on-getResult.md
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/broker/trading212/Trading212BrokerMapper.ts
  packages/exchange/src/broker/trading212/api/schema/HistoryOrderSchema.ts
  packages/trading-strategies/src/strategy-multi-indicator-confluence/MultiIndicatorConfluenceSchema.ts
  packages/trading-strategies/src/strategy-multi-indicator-confluence/MultiIndicatorConfluenceStrategy.ts
Due: format

feat(exchange): expose CURRENCY_CONVERSION_FEE on FeeRate + estimateFee()
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
Due: none

fix(exchange, messaging): hard-exit on WS close + bound shutdown deadline
  packages/exchange/src/exchange/alpaca/AlpacaWebSocket.ts
  packages/messaging/src/startServer.ts
Due: none

refactor(exchange): always tag Trading212 orders extendedHours; rename TradingSession.exchange to broker
  packages/exchange/src/broker/alpaca/index.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/broker/trading212/api/schema/OrderSchema.ts
  packages/exchange/src/trader/TradingSession.test.ts
  packages/exchange/src/trader/TradingSession.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
  packages/messaging/src/service/StrategyMonitor.ts
  packages/trading-strategies/package.json
  packages/trading-strategies/src/backtest/BacktestConfig.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.test.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.ts
  packages/trading-strategies/src/start/runBacktest.ts
  packages/trading-strategies/src/start/runStrategy.ts
  packages/trading-strategies/src/strategy-buy-once/BuyOnceStrategy.test.ts
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.test.ts
Due: format

fix(trading-signals-docs): rename exchange to broker in BacktestExecutor call (CI fix)
  packages/trading-signals-docs/pages/backtest.tsx
Due: none

force restart
  packages/exchange/src/broker/alpaca/AlpacaWebSocket.ts
Due: none

feat(trading-signals): RVOL, BarRange, VolumeRatio + walk-forward optimisation script
  packages/trading-signals/src/volatility/BarRange/BarRange.test.ts
  packages/trading-signals/src/volatility/BarRange/BarRange.ts
  packages/trading-signals/src/volatility/index.ts
  packages/trading-signals/src/volume/RVOL/RVOL.test.ts
  packages/trading-signals/src/volume/RVOL/RVOL.ts
  packages/trading-signals/src/volume/VolumeRatio/VolumeRatio.test.ts
  packages/trading-signals/src/volume/VolumeRatio/VolumeRatio.ts
  packages/trading-signals/src/volume/index.ts
  packages/trading-strategies/package.json
  packages/trading-strategies/src/start/runOptimisation.ts
  packages/trading-strategies/src/start/runRvolDemo.ts
Due: format, lint

docs(trading-signals): list RVOL, BarRange, VolumeRatio in supported indicators
  packages/trading-signals/README.md
Due: format

docs(trading-signals): drop broken Investopedia link from RVOL JSDoc
  packages/trading-signals/src/volume/RVOL/RVOL.ts
Due: lint

docs(trading-signals): link RVOL JSDoc to arongroups reference
  packages/trading-signals/src/volume/RVOL/RVOL.ts
Due: lint

refactor(trading-signals): align RVOL with the standard formula; drop non-standard wrappers
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/BarRange/BarRange.test.ts
  packages/trading-signals/src/volatility/BarRange/BarRange.ts
  packages/trading-signals/src/volatility/index.ts
  packages/trading-signals/src/volume/RVOL/RVOL.test.ts
  packages/trading-signals/src/volume/RVOL/RVOL.ts
  packages/trading-signals/src/volume/VolumeRatio/VolumeRatio.test.ts
  packages/trading-signals/src/volume/VolumeRatio/VolumeRatio.ts
  packages/trading-signals/src/volume/index.ts
  packages/trading-strategies/package.json
  packages/trading-strategies/src/start/runRvolDemo.ts
Due: format, lint

fix(exchange): exclude runnable CLI scripts from coverage (CI fix)
  packages/exchange/vitest.config.ts
Due: none

fix(trading-signals): cover RVOL replace-before-add and trim branches (CI fix)
  packages/trading-signals/src/volume/RVOL/RVOL.test.ts
  packages/trading-signals/src/volume/RVOL/RVOL.ts
Due: lint

fix(exchange,trading-signals): address Copilot review on c8eb901 and e53b432
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/broker/trading212/Trading212BrokerMapper.ts
  packages/exchange/src/candle/CandleBatcher.ts
  packages/trading-signals/src/volume/RVOL/RVOL.test.ts
  packages/trading-signals/src/volume/RVOL/RVOL.ts
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/start/runStrategy.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.ts
Due: lint

docs(exchange): document Trading212 broker + Alpaca market-data pairing
  packages/exchange/README.md
Due: format

build: add trading-strategies path mapping; formatting
  tsconfig.base.json
Due: format

Potential fix for pull request finding
  packages/exchange/README.md
Due: format

fix(exchange): AlpacaMarketData.getLatestCandle returns latest (not oldest); fix README
  packages/exchange/src/broker/alpaca/AlpacaMarketData.ts
Due: none

fix: clean up candle subscriptions on Trading212 disconnect; clear RVOL stale result
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/trading-signals/src/volume/RVOL/RVOL.test.ts
  packages/trading-signals/src/volume/RVOL/RVOL.ts
Due: lint

refactor(exchange,trading-strategies): prefer optional chaining over non-null assertions in tests
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.test.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.test.ts
Due: none

refactor(exchange): rename AlpacaAssetClassValue type to AlpacaAssetClass
  packages/exchange/src/broker/alpaca/AlpacaBrokerMapper.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/broker/alpaca/api/schema/OrderSchema.ts
  tsconfig.base.json
Due: format

chore(trading-strategies): remove runOptimisation script
  packages/trading-strategies/src/start/runOptimisation.ts
Due: none

fix(messaging): validate source strategy config before copying
  packages/messaging/src/command/strategy/strategyCopy.ts
Due: none

feat(messaging): add /strategyCopy command (#1074)
  packages/messaging/src/command/index.ts
  packages/messaging/src/command/strategy/strategyCopy.ts
  packages/messaging/src/startServer.ts
Due: none

chore: Update dependencies
  package-lock.json
  package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/package.json
  packages/trading-strategies/package.json
Due: format

feat(exchange, messaging): observability for stuck market-data streams
  packages/exchange/src/broker/alpaca/AlpacaWebSocket.ts
  packages/exchange/src/broker/alpaca/api/AlpacaStream.ts
  packages/exchange/src/broker/alpaca/index.ts
  packages/messaging/src/platform/MessagingPlatform.ts
  packages/messaging/src/platform/TelegramPlatform.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/StrategyMonitor.ts
  packages/messaging/src/service/WatchMonitor.test.ts
  packages/messaging/src/startServer.ts
Due: none

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: packages/trading-signals/**/*.{js,jsx,ts,tsx}
