Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

feat(trading-signals-docs): expose Fee-Aware SMA Crossover in the backtest page
  packages/trading-signals-docs/pages/backtest.tsx
  packages/trading-signals-docs/utils/strategySchemas.ts
Due: none

refactor(trading-strategies): track last buy/sell price on the base Strategy
  packages/trading-strategies/src/strategy-fee-aware-sma-crossover/FeeAwareSmaCrossoverStrategy.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.test.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: none

refactor(trading-strategies): address review on base fill tracking
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
  packages/trading-strategies/src/strategy-protected/README.md
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.ts
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.test.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: format

refactor(trading-strategies): apply template method to onCandle and restoreState
  packages/trading-strategies/src/strategy-buy-once/BuyOnceStrategy.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.ts
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.test.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: none

refactor(trading-strategies): drop cost-basis averaging from ProtectedStrategy
  packages/trading-strategies/src/strategy-buy-and-hold/BuyAndHoldStrategy.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: none

fix(trading-strategies): call strategy init in BacktestExecutor to mirror TradingSession
  packages/trading-strategies/src/backtest/BacktestConfig.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.test.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.ts
Due: none

feat(trading-strategies): add declarative strategy graphs (GraphStrategy)
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/strategy-graph/GraphSchema.ts
  packages/trading-strategies/src/strategy-graph/GraphStrategy.test.ts
  packages/trading-strategies/src/strategy-graph/GraphStrategy.ts
  packages/trading-strategies/src/strategy-graph/NodeRegistry.ts
  packages/trading-strategies/src/strategy-graph/index.ts
  packages/trading-strategies/src/strategy-graph/templates.ts
Due: none

refactor(trading-signals-docs): drop unsafe cast and align style on backtest page
  packages/trading-signals-docs/pages/backtest.tsx
Due: none

refactor(trading-signals-docs): drop unsafe cast and align style on backtest page (#1193)
  packages/trading-signals-docs/pages/backtest.tsx
Due: none

fix(trading-strategies): address review findings on strategy graphs
  packages/trading-strategies/src/strategy-graph/GraphStrategy.test.ts
  packages/trading-strategies/src/strategy-graph/GraphStrategy.ts
Due: none

feat(trading-signals-docs): add visual strategy builder
  package-lock.json
  packages/trading-signals-docs/components/graph/BuilderNodeView.tsx
  packages/trading-signals-docs/components/graph/GraphEditor.tsx
  packages/trading-signals-docs/components/graph/nodeFields.ts
  packages/trading-signals-docs/e2e/graph-builder.spec.ts
  packages/trading-signals-docs/e2e/pages/GraphBuilderPage.ts
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/pages/_app.tsx
  packages/trading-signals-docs/pages/graph-builder.tsx
  packages/trading-signals-docs/utils/graphIO.ts
Due: format

fix(trading-signals-docs): address review findings on the strategy builder
  packages/trading-signals-docs/components/graph/BuilderNodeView.tsx
  packages/trading-signals-docs/components/graph/GraphEditor.tsx
  packages/trading-signals-docs/pages/graph-builder.tsx
Due: none

docs: tell the framework story in the README
  .github/images/strategy-builder.png
  README.md
Due: format

fix(trading-signals-docs): tighten the strategy builder's canvas state and forms
  packages/trading-signals-docs/components/graph/BuilderNodeView.tsx
  packages/trading-signals-docs/components/graph/GraphEditor.tsx
  packages/trading-signals-docs/e2e/pages/GraphBuilderPage.ts
  packages/trading-signals-docs/pages/graph-builder.tsx
  packages/trading-signals-docs/utils/useDebouncedValue.ts
Due: none

refactor(exchange): declare retry policy per endpoint with a @retry decorator
  packages/exchange/src/broker/trading212/api/Trading212API.ts
  packages/exchange/src/util/retry.test.ts
  packages/exchange/src/util/retry.ts
  tsconfig.lib.json
  vitest.config.base.ts
Due: format

refactor(exchange): convert AlpacaAPI to the @retry decorator
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.test.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/util/retry.ts
Due: none

refactor(exchange): drop axios-retry in favor of withRetry
  package-lock.json
  packages/exchange/package.json
  packages/exchange/src/util/isEarningsDay.test.ts
  packages/exchange/src/util/isEarningsDay.ts
  packages/exchange/src/util/retry.ts
Due: format

fix(trading-strategies): declare ms as a runtime dependency
  package-lock.json
  packages/trading-strategies/package.json
Due: format

chore(exchange): drop jsonabc and clean up dependency placement
  package-lock.json
  package.json
  packages/candles/package.json
  packages/exchange/package.json
  packages/exchange/src/candle/CandleBatcher.ts
Due: format

fix(trading-strategies): declare ms as a runtime dependency (#1202)
  package-lock.json
  packages/trading-strategies/package.json
Due: format

chore(exchange): drop redundant comment in CandleBatcher.toString
  packages/exchange/src/candle/CandleBatcher.ts
Due: none

chore(exchange): drop jsonabc (#1204)
  package-lock.json
  package.json
  packages/candles/package.json
  packages/exchange/package.json
  packages/exchange/src/candle/CandleBatcher.ts
Due: format

fix: exclude tooling configs from library compilation
  tsconfig.lib.json
Due: format

refactor(messaging): replace moment stack with native Intl
  package-lock.json
  packages/messaging/package.json
  packages/messaging/src/command/time.ts
  packages/messaging/src/command/uptime.ts
  tsconfig.lib.json
Due: format

feat(docs): use native TypeScript ESLint config
  packages/trading-signals-docs/eslint.config.ts
  packages/trading-signals-docs/tsconfig.json
Due: format

fix: enable native TypeScript ESLint configs
  package.json
  packages/candles/package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/package.json
  packages/trading-signals/package.json
  packages/trading-strategies/package.json
Due: format

chore: use ESLint default TypeScript loader
  package.json
  packages/candles/package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/package.json
  packages/trading-signals/package.json
  packages/trading-strategies/package.json
Due: format

refactor: derive config options from ESLint
  eslint.config.base.ts
Due: none

refactor: accept full ESLint config overrides
  eslint.config.base.ts
Due: none

feat(trading-signals): convert ESLint configs to native TypeScript (#1195)
  eslint.config.base.ts
  eslint.config.mjs
  eslint.config.ts
  package.json
  packages/candles/eslint.config.mjs
  packages/candles/eslint.config.ts
  packages/exchange/eslint.config.mjs
  packages/exchange/eslint.config.ts
  packages/messaging/eslint.config.ts
  packages/trading-signals-docs/eslint.config.ts
  packages/trading-signals-docs/tsconfig.json
  packages/trading-signals/eslint.config.mjs
  packages/trading-signals/eslint.config.ts
  packages/trading-strategies/eslint.config.mjs
  packages/trading-strategies/eslint.config.ts
  tsconfig.lib.json
Due: format

chore: convert .dependency-cruiser.cjs to JSON
  .dependency-cruiser.cjs
  .dependency-cruiser.json
  packages/candles/package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals/package.json
Due: format

chore(trading-signals-docs): convert postcss.config.js to JSON
  packages/trading-signals-docs/postcss.config.js
  packages/trading-signals-docs/postcss.config.json
Due: format

chore: convert PostCSS and dependency-cruiser configs to JSON (#1206)
  .dependency-cruiser.cjs
  .dependency-cruiser.json
  packages/candles/package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/postcss.config.js
  packages/trading-signals-docs/postcss.config.json
  packages/trading-signals/package.json
Due: format

docs(trading-signals): add migration guide from technicalindicators
  packages/trading-signals/README.md
Due: format

feat(trading-signals): add candlestick pattern recognition with BullishEngulfing
  packages/trading-signals/src/index.ts
  packages/trading-signals/src/patterns/ENGULFING/BullishEngulfing.test.ts
  packages/trading-signals/src/patterns/ENGULFING/BullishEngulfing.ts
  packages/trading-signals/src/patterns/index.ts
Due: lint

feat(trading-signals-docs): add patterns category with BullishEngulfing demo
  packages/trading-signals-docs/indicator-demos/patterns/BullishEngulfing.demo.tsx
  packages/trading-signals-docs/indicator-demos/patterns/index.tsx
  packages/trading-signals-docs/pages/indicators/patterns.tsx
Due: none

test: enable restoreMocks and use typed vi.mock imports
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/getAuthenticatedBrokerClient.test.ts
  packages/exchange/src/broker/trading212/Trading212Broker.test.ts
  packages/exchange/src/util/isEarningsDay.test.ts
  packages/messaging/src/broker/getAccountBrokerClient.test.ts
  packages/messaging/src/platform/TelegramPlatform.test.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/WatchMonitor.test.ts
  vitest.config.base.ts
Due: none
