Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: cd packages/trading-signals && npx eslint {staged_files} --fix

test(exchange): automock axios-retry instead of hand-rolled factory
  packages/exchange/src/util/isEarningsDay.test.ts
Due: none

test: replace stub-only mock factories with bare automocks
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/messaging/src/platform/TelegramPlatform.test.ts
Due: none

docs: add vitest mocking guidelines
  .claude/rules/vitest-mocking.md
Due: format

docs: link mock-cleanup rationale for restoreMocks
  vitest.config.base.ts
Due: none

test: enable restoreMocks and use typed vi.mock imports (#1210)
  .claude/rules/vitest-mocking.md
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/getAuthenticatedBrokerClient.test.ts
  packages/exchange/src/broker/trading212/Trading212Broker.test.ts
  packages/exchange/src/util/isEarningsDay.test.ts
  packages/messaging/src/broker/getAccountBrokerClient.test.ts
  packages/messaging/src/platform/TelegramPlatform.test.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/WatchMonitor.test.ts
  vitest.config.base.ts
Due: format

test(trading-signals): tag Tulip-verified tests with tulipindicators
  packages/trading-signals/src/momentum/AO/AO.test.ts
  packages/trading-signals/src/momentum/CCI/CCI.test.ts
  packages/trading-signals/src/momentum/MACD/MACD.test.ts
  packages/trading-signals/src/momentum/MOM/MOM.test.ts
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
  packages/trading-signals/src/momentum/RSI/RSI.test.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.test.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.test.ts
  packages/trading-signals/src/trend/ADX/ADX.test.ts
  packages/trading-signals/src/trend/DX/DX.test.ts
  packages/trading-signals/src/trend/EMA/EMA.test.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.test.ts
  packages/trading-signals/src/trend/PSAR/PSAR.test.ts
  packages/trading-signals/src/trend/SMA/SMA.test.ts
  packages/trading-signals/src/trend/WSMA/WSMA.test.ts
  packages/trading-signals/src/types/Period.test.ts
  packages/trading-signals/src/volatility/ATR/ATR.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/MAD/MAD.test.ts
  packages/trading-signals/src/volatility/TR/TR.test.ts
  packages/trading-signals/vitest.config.ts
Due: lint

Update description for tulipindicators tag
  packages/trading-signals/vitest.config.ts
Due: none

test(trading-signals): tag Tulip-verified tests with tulipindicators (#1211)
  packages/trading-signals/src/momentum/AO/AO.test.ts
  packages/trading-signals/src/momentum/CCI/CCI.test.ts
  packages/trading-signals/src/momentum/MACD/MACD.test.ts
  packages/trading-signals/src/momentum/MOM/MOM.test.ts
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
  packages/trading-signals/src/momentum/RSI/RSI.test.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.test.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.test.ts
  packages/trading-signals/src/trend/ADX/ADX.test.ts
  packages/trading-signals/src/trend/DX/DX.test.ts
  packages/trading-signals/src/trend/EMA/EMA.test.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.test.ts
  packages/trading-signals/src/trend/PSAR/PSAR.test.ts
  packages/trading-signals/src/trend/SMA/SMA.test.ts
  packages/trading-signals/src/trend/WSMA/WSMA.test.ts
  packages/trading-signals/src/types/Period.test.ts
  packages/trading-signals/src/volatility/ATR/ATR.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/MAD/MAD.test.ts
  packages/trading-signals/src/volatility/TR/TR.test.ts
  packages/trading-signals/vitest.config.ts
Due: lint

test(trading-signals): drop redundant comments in Aroon replace test
  packages/trading-signals/src/trend/AROON/Aroon.test.ts
Due: lint

feat(trading-signals): add Aroon indicator (AROON)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/AROON/Aroon.test.ts
  packages/trading-signals/src/trend/AROON/Aroon.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

docs(trading-signals): document how to add a new indicator
  packages/trading-signals/CLAUDE.md
Due: format

test(trading-signals): strengthen Aroon replace and tie-break coverage
  packages/trading-signals/src/trend/AROON/Aroon.test.ts
Due: lint

test(trading-signals): assert exact values in Aroon replace test
  packages/trading-signals/src/trend/AROON/Aroon.test.ts
Due: lint

test(trading-signals): assert replaced Aroon result differs from original
  packages/trading-signals/src/trend/AROON/Aroon.test.ts
Due: lint

feat(trading-signals): add Aroon indicator (AROON) (#1212)
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/AROON/Aroon.test.ts
  packages/trading-signals/src/trend/AROON/Aroon.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

refactor(trading-signals): use singular .type.ts suffix and document type conventions
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/src/base/BandsResult.type.ts
  packages/trading-signals/src/base/Candle.type.ts
  packages/trading-signals/src/base/index.ts
  packages/trading-signals/src/momentum/AC/AC.ts
  packages/trading-signals/src/momentum/AO/AO.ts
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/ER/ER.ts
  packages/trading-signals/src/momentum/OBV/OBV.ts
  packages/trading-signals/src/momentum/REI/REI.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/WILLR/WilliamsR.ts
  packages/trading-signals/src/trend/ADX/ADX.ts
  packages/trading-signals/src/trend/AROON/Aroon.ts
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.ts
  packages/trading-signals/src/trend/DX/DX.ts
  packages/trading-signals/src/trend/HIGHER_LOW_TRAIL/HigherLowTrail.ts
  packages/trading-signals/src/trend/PSAR/PSAR.ts
  packages/trading-signals/src/trend/SWING_HIGH/SwingHigh.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLow.ts
  packages/trading-signals/src/trend/VWAP/VWAP.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.ts
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.ts
  packages/trading-signals/src/volatility/ATR/ATR.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
  packages/trading-signals/src/volatility/TR/TR.ts
  packages/trading-signals/src/volume/AD/AD.ts
  packages/trading-signals/src/volume/CMF/CMF.ts
  packages/trading-signals/src/volume/EMV/EMV.ts
  packages/trading-signals/src/volume/PVT/PVT.ts
  packages/trading-signals/src/volume/VWMA/VWMA.ts
Due: format, lint

refactor(trading-signals): convert result interfaces to type aliases
  packages/trading-signals/src/base/Period.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/trend/AROON/Aroon.ts
  packages/trading-signals/src/trend/DMA/DMA.ts
Due: lint

refactor(trading-signals): rename HighLowClose.ts to Candle.types.ts
  packages/trading-signals/src/momentum/AC/AC.ts
  packages/trading-signals/src/momentum/AO/AO.ts
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/ER/ER.ts
  packages/trading-signals/src/momentum/OBV/OBV.ts
  packages/trading-signals/src/momentum/REI/REI.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/WILLR/WilliamsR.ts
  packages/trading-signals/src/trend/ADX/ADX.ts
  packages/trading-signals/src/trend/AROON/Aroon.ts
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.ts
  packages/trading-signals/src/trend/DX/DX.ts
  packages/trading-signals/src/trend/HIGHER_LOW_TRAIL/HigherLowTrail.ts
  packages/trading-signals/src/trend/PSAR/PSAR.ts
  packages/trading-signals/src/trend/SWING_HIGH/SwingHigh.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLow.ts
  packages/trading-signals/src/trend/VWAP/VWAP.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.ts
  packages/trading-signals/src/types/Candle.types.ts
  packages/trading-signals/src/types/index.ts
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.ts
  packages/trading-signals/src/volatility/ATR/ATR.ts
  packages/trading-signals/src/volatility/TR/TR.ts
  packages/trading-signals/src/volume/AD/AD.ts
  packages/trading-signals/src/volume/CMF/CMF.ts
  packages/trading-signals/src/volume/EMV/EMV.ts
  packages/trading-signals/src/volume/PVT/PVT.ts
  packages/trading-signals/src/volume/VWMA/VWMA.ts
Due: lint

refactor(trading-signals): rename BandsResult.ts to BandsResult.types.ts
  packages/trading-signals/src/base/BandsResult.types.ts
  packages/trading-signals/src/base/index.ts
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
Due: lint

feat(trading-signals): add Money Flow Index (MFI)
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/MFI/MFI.test.ts
  packages/trading-signals/src/momentum/MFI/MFI.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

docs(trading-signals): document signal conventions in indicator guide
  packages/trading-signals/CLAUDE.md
Due: format

docs(trading-signals): point indicator guide at MFI reference PR
  packages/trading-signals/CLAUDE.md
Due: format

docs(trading-signals): move indicator guide to the top of CLAUDE.md
  packages/trading-signals/CLAUDE.md
Due: format

feat(trading-signals): make MFI overbought/oversold thresholds configurable
  packages/trading-signals/src/momentum/MFI/MFI.test.ts
  packages/trading-signals/src/momentum/MFI/MFI.ts
Due: lint

feat(trading-signals): add Money Flow Index (MFI) (#1214)
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/MFI/MFI.test.ts
  packages/trading-signals/src/momentum/MFI/MFI.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): make oscillator signal thresholds configurable
  packages/trading-signals/src/base/SignalThresholds.type.ts
  packages/trading-signals/src/base/index.ts
  packages/trading-signals/src/momentum/CCI/CCI.test.ts
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/ER/ER.test.ts
  packages/trading-signals/src/momentum/ER/ER.ts
  packages/trading-signals/src/momentum/MFI/MFI.ts
  packages/trading-signals/src/momentum/REI/REI.test.ts
  packages/trading-signals/src/momentum/REI/REI.ts
  packages/trading-signals/src/momentum/RSI/RSI.test.ts
  packages/trading-signals/src/momentum/RSI/RSI.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.test.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.test.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.ts
  packages/trading-signals/src/momentum/WILLR/WilliamsR.test.ts
  packages/trading-signals/src/momentum/WILLR/WilliamsR.ts
Due: lint

feat(trading-signals)!: group StochasticOscillator periods into a named config
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.test.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/WILLR/WilliamsR.test.ts
Due: format, lint

fix(trading-signals-docs): migrate STOCH demo to StochasticOscillatorConfig
  packages/trading-signals-docs/indicator-demos/momentum/StochasticOscillator.demo.tsx
Due: none

feat(trading-signals)!: configurable signal thresholds + named StochasticOscillator config (#1215)
  packages/trading-signals-docs/indicator-demos/momentum/StochasticOscillator.demo.tsx
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/src/base/SignalThresholds.type.ts
  packages/trading-signals/src/base/index.ts
  packages/trading-signals/src/momentum/CCI/CCI.test.ts
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/ER/ER.test.ts
  packages/trading-signals/src/momentum/ER/ER.ts
  packages/trading-signals/src/momentum/MFI/MFI.ts
  packages/trading-signals/src/momentum/REI/REI.test.ts
  packages/trading-signals/src/momentum/REI/REI.ts
  packages/trading-signals/src/momentum/RSI/RSI.test.ts
  packages/trading-signals/src/momentum/RSI/RSI.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.test.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.test.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.ts
  packages/trading-signals/src/momentum/WILLR/WilliamsR.test.ts
  packages/trading-signals/src/momentum/WILLR/WilliamsR.ts
Due: format, lint

feat(trading-signals): add Ultimate Oscillator (ULTOSC)
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/ULTOSC/UltimateOscillator.test.ts
  packages/trading-signals/src/momentum/ULTOSC/UltimateOscillator.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Ultimate Oscillator (ULTOSC) (#1216)
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/ULTOSC/UltimateOscillator.test.ts
  packages/trading-signals/src/momentum/ULTOSC/UltimateOscillator.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Hull Moving Average (HMA)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/HMA/HMA.test.ts
  packages/trading-signals/src/trend/HMA/HMA.ts
  packages/trading-signals/src/trend/MA/MovingAverageTypes.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Hull Moving Average (HMA) (#1217)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/HMA/HMA.test.ts
  packages/trading-signals/src/trend/HMA/HMA.ts
  packages/trading-signals/src/trend/MA/MovingAverageTypes.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Chande Momentum Oscillator (CMO)
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/CMO/CMO.test.ts
  packages/trading-signals/src/momentum/CMO/CMO.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Normalized Average True Range (NATR)
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/NATR/NATR.test.ts
  packages/trading-signals/src/volatility/NATR/NATR.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add Percentage Price Oscillator (PPO)
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/PPO/PPO.test.ts
  packages/trading-signals/src/momentum/PPO/PPO.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Triple Exponential Moving Average (TEMA)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/TEMA/TEMA.test.ts
  packages/trading-signals/src/trend/TEMA/TEMA.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Chande Momentum Oscillator (CMO) (#1218)
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/CMO/CMO.test.ts
  packages/trading-signals/src/momentum/CMO/CMO.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: packages/trading-signals/**/*.{js,jsx,ts,tsx}
