Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: cd packages/trading-signals && npx eslint {staged_files} --fix

docs(trading-strategies): Add domain knowledge
  packages/trading-strategies/README.md
Due: format

feat(@typedtrader/exchange): Add CandleBatcher
  .dependency-cruiser.cjs
  package-lock.json
  package.json
  packages/exchange/fixtures/StopLossStrategy/LTC_USDT_2d_1m_1606066988989.json
  packages/exchange/fixtures/candles/OneWeekInMinutes.json
  packages/exchange/fixtures/candles/TenMinutesInEightCandles.json
  packages/exchange/fixtures/candles/TenMinutesInTenCandles.json
  packages/exchange/fixtures/candles/TenMinutesMissingEnd.json
  packages/exchange/fixtures/candles/TenMinutesMissingStart.json
  packages/exchange/fixtures/candles/batch/1h-in-1h.json
  packages/exchange/fixtures/candles/batch/1h-in-1m.json
  packages/exchange/fixtures/candles/candle-batcher/one_day_in_minutes.json
  packages/exchange/fixtures/candles/candle-batcher/one_hour_in_minutes.json
  packages/exchange/fixtures/candles/candle-batcher/one_month_in_days.json
  packages/exchange/package.json
  packages/exchange/src/BatchedCandle.ts
  packages/exchange/src/CandleBatcher.test.ts
  packages/exchange/src/CandleBatcher.ts
  packages/exchange/tsconfig.json
  packages/exchange/vitest.config.ts
  packages/trading-signals-docs/package.json
  packages/trading-signals/package.json
  packages/trading-signals/tsconfig.json
  tsconfig.base.json
  tsconfig.lib.json
Due: format

feat(@typedtrader/exchange): Add CandleBatcher
  packages/trading-signals/tsconfig.json
  tsconfig.lib.json
Due: format

use "tsdown"
  package-lock.json
  packages/trading-signals/package.json
  packages/trading-signals/tsdown.config.ts
Due: format

fix lint
  tsconfig.lib.json
Due: format

tsdown
  packages/trading-signals/eslint.config.mjs
Due: none

update down
  packages/trading-strategies/tsdown.config.ts
  tsconfig.base.json
  tsconfig.lib.json
Due: format

update down
  tsconfig.base.json
  tsconfig.lib.json
Due: format

specify types
  packages/trading-signals/package.json
Due: format

exclude tsdown.config.ts
  tsconfig.lib.json
Due: format

refactor
  packages/exchange/src/CandleBatcher.test.ts
  packages/exchange/src/CandleBatcher.ts
Due: none

more
  packages/trading-strategies/README.md
Due: format

update docs
  README.md
  packages/exchange/src/CandleBatcher.test.ts
  packages/trading-signals/README.md
  packages/trading-strategies/README.md
Due: format

update docs
  README.md
Due: format

up-up
  README.md
  packages/exchange/README.md
  packages/exchange/package.json
  packages/trading-strategies/README.md
Due: format

notes
  README.md
  packages/trading-strategies/README.md
Due: format

add gazers
  README.md
Due: format

great assertions
  packages/exchange/src/CandleBatcher.test.ts
Due: none

exists
  packages/exchange/src/CandleBatcher.test.ts
Due: none

fix docs
  README.md
  packages/exchange/src/CandleBatcher.test.ts
Due: format

npm t
  packages/exchange/src/CandleBatcher.ts
Due: none

remove !
  packages/exchange/src/CandleBatcher.ts
Due: none

npm i
  package-lock.json
Due: format

Revert "npm i"
  package-lock.json
Due: format

Revert "Merge branch 'main' into bennycode-exchange"
  package-lock.json
Due: format

feat(@typedtrader/exchange): Add CandleBatcher (#907)
  .dependency-cruiser.cjs
  README.md
  package-lock.json
  package.json
  packages/exchange/README.md
  packages/exchange/fixtures/StopLossStrategy/LTC_USDT_2d_1m_1606066988989.json
  packages/exchange/fixtures/candles/OneWeekInMinutes.json
  packages/exchange/fixtures/candles/TenMinutesInEightCandles.json
  packages/exchange/fixtures/candles/TenMinutesInTenCandles.json
  packages/exchange/fixtures/candles/TenMinutesMissingEnd.json
  packages/exchange/fixtures/candles/TenMinutesMissingStart.json
  packages/exchange/fixtures/candles/batch/1h-in-1h.json
  packages/exchange/fixtures/candles/batch/1h-in-1m.json
  packages/exchange/fixtures/candles/candle-batcher/one_day_in_minutes.json
  packages/exchange/fixtures/candles/candle-batcher/one_hour_in_minutes.json
  packages/exchange/fixtures/candles/candle-batcher/one_month_in_days.json
  packages/exchange/package.json
  packages/exchange/src/BatchedCandle.ts
  packages/exchange/src/CandleBatcher.test.ts
  packages/exchange/src/CandleBatcher.ts
  packages/exchange/tsconfig.json
  packages/exchange/vitest.config.ts
  packages/trading-signals-docs/package.json
  packages/trading-signals/README.md
  packages/trading-signals/eslint.config.mjs
  packages/trading-signals/package.json
  packages/trading-signals/tsdown.config.ts
  packages/trading-strategies/README.md
  packages/trading-strategies/tsconfig.json
  packages/trading-strategies/tsdown.config.ts
  tsconfig.base.json
  tsconfig.lib.json
Due: format

docs: Add practical context for each package
  README.md
Due: format

chore: Update dependencies
  package-lock.json
  package.json
  packages/trading-signals-docs/package.json
  packages/trading-signals/package.json
Due: format

chore: Share build utilities
  package.json
  packages/exchange/package.json
  packages/trading-signals/package.json
Due: format

chore(@typedtrader/exchange): Add library bundler
  packages/exchange/package.json
  packages/exchange/src/index.ts
  packages/trading-signals/package.json
Due: format

chore(@typedtrader/exchange): Add library bundling (#911)
  packages/exchange/package.json
  packages/exchange/src/index.ts
  packages/trading-signals/package.json
Due: format

docs: Highlight Packages
  README.md
Due: format

refactor: Use private fields
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/MACD/MACD.ts
  packages/trading-signals/src/momentum/MOM/MOM.ts
  packages/trading-signals/src/momentum/REI/REI.ts
  packages/trading-signals/src/momentum/RSI/RSI.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.ts
  packages/trading-signals/src/trend/ADX/ADX.ts
  packages/trading-signals/src/trend/DEMA/DEMA.ts
  packages/trading-signals/src/trend/DX/DX.ts
  packages/trading-signals/src/trend/EMA/EMA.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
  packages/trading-signals/src/trend/RMA/RMA.ts
  packages/trading-signals/src/trend/SMA15/SMA15.ts
  packages/trading-signals/src/trend/VWAP/VWAP.ts
  packages/trading-signals/src/trend/WSMA/WSMA.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.ts
  packages/trading-signals/src/types/Indicator.ts
  packages/trading-signals/src/types/Period.ts
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.ts
  packages/trading-signals/src/volatility/ATR/ATR.ts
  packages/trading-signals/src/volatility/IQR/IQR.ts
  packages/trading-signals/src/volatility/TR/TR.ts
Due: lint

refactor(trading-signals): Use private fields (#912)
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/MACD/MACD.ts
  packages/trading-signals/src/momentum/MOM/MOM.ts
  packages/trading-signals/src/momentum/REI/REI.ts
  packages/trading-signals/src/momentum/RSI/RSI.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.ts
  packages/trading-signals/src/trend/ADX/ADX.ts
  packages/trading-signals/src/trend/DEMA/DEMA.ts
  packages/trading-signals/src/trend/DX/DX.ts
  packages/trading-signals/src/trend/EMA/EMA.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
  packages/trading-signals/src/trend/RMA/RMA.ts
  packages/trading-signals/src/trend/SMA15/SMA15.ts
  packages/trading-signals/src/trend/VWAP/VWAP.ts
  packages/trading-signals/src/trend/WSMA/WSMA.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.ts
  packages/trading-signals/src/types/Indicator.ts
  packages/trading-signals/src/types/Period.ts
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.ts
  packages/trading-signals/src/volatility/ATR/ATR.ts
  packages/trading-signals/src/volatility/IQR/IQR.ts
  packages/trading-signals/src/volatility/TR/TR.ts
Due: lint

feat(exchange): Add Alpaca support
  package-lock.json
  packages/exchange/package.json
  packages/exchange/src/AlpacaExchange.ts
  packages/exchange/src/AlpacaExchangeMapper.ts
  packages/exchange/src/CurrencyPair.ts
  packages/exchange/src/Exchange.ts
  packages/exchange/src/typings.ts
Due: format

fetching candles
  package-lock.json
  packages/exchange/.env.defaults
  packages/exchange/package.json
  packages/exchange/src/AlpacaExchange.ts
  packages/exchange/src/Exchange.ts
  packages/exchange/src/demo.ts
  packages/exchange/src/getAlpacaClient.ts
Due: format

formatting
  packages/exchange/.env.defaults
  packages/exchange/src/AlpacaExchangeMapper.ts
  packages/exchange/src/typings.ts
  packages/trading-strategies/README.md
Due: format

Apply suggestions from code review
  packages/exchange/src/demo.ts
Due: none

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: packages/trading-signals/**/*.{js,jsx,ts,tsx}
