Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

refactor(exchange): consolidate env vars to unprefixed names per environment file
  packages/exchange/CLAUDE.md
  packages/exchange/README.md
  packages/exchange/src/broker/alpaca/demo/fetchCandles.ts
  packages/exchange/src/broker/alpaca/demo/testAll.ts
  packages/exchange/src/broker/trading212/demo/getDemoClient.ts
  packages/exchange/src/cli/runCli.test.ts
  packages/exchange/src/cli/runCli.ts
Due: format

fix(exchange): always use Alpaca's production market-data hosts
  packages/exchange/README.md
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/broker/alpaca/api/AlpacaStream.ts
  packages/exchange/src/broker/trading212/demo/getDemoClient.ts
  packages/exchange/src/cli/runCli.ts
Due: format

feat(exchange): expose browser-safe schemas subpath
  packages/exchange/package.json
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/schemas.ts
Due: format

feat(exchange): add indicator command to the CLI
  package-lock.json
  packages/exchange/package.json
  packages/exchange/src/broker/trading212/demo/listPositions.ts
  packages/exchange/src/cli/runCli.test.ts
  packages/exchange/src/cli/runCli.ts
Due: format

Revert "feat(exchange): add indicator command to the CLI"
  package-lock.json
  packages/exchange/package.json
  packages/exchange/src/broker/trading212/demo/listPositions.ts
  packages/exchange/src/cli/runCli.test.ts
  packages/exchange/src/cli/runCli.ts
Due: format

feat(trading-signals): add a generic indicator CLI
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/README.md
  packages/trading-signals/package.json
  packages/trading-signals/src/cli/cli.ts
  packages/trading-signals/src/cli/runCli.test.ts
  packages/trading-signals/src/cli/runCli.ts
  packages/trading-signals/vitest.config.ts
Due: format, lint

fix(trading-signals): address CLI review findings
  packages/trading-signals/README.md
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/cli/cli.ts
  packages/trading-signals/src/cli/runCli.test.ts
  packages/trading-signals/src/cli/runCli.ts
  packages/trading-signals/src/volume/PVO/PVO.ts
  packages/trading-signals/src/volume/RVOL/RVOL.ts
  packages/trading-signals/src/volume/VROC/VROC.ts
Due: format, lint

refactor(exchange): declare Trading212 retry policy per endpoint with a @retry decorator
  package-lock.json
  package.json
  packages/exchange/src/broker/trading212/api/Trading212API.ts
  packages/exchange/src/util/retry.test.ts
  packages/exchange/src/util/retry.ts
  tsconfig.lib.json
  vitest.shared.ts
Due: format

docs(exchange): cite the oxc blocker behind the decorator transform plugin
  vitest.shared.ts
Due: none

refactor(exchange): declare Trading212 retry policy per endpoint with a @retry decorator (#1348)
  package-lock.json
  package.json
  packages/exchange/src/broker/trading212/api/Trading212API.ts
  packages/exchange/src/util/retry.test.ts
  packages/exchange/src/util/retry.ts
  tsconfig.lib.json
  vitest.shared.ts
Due: format

chore: move the Vitest transform target from esbuild to oxc
  vitest.shared.ts
Due: none

chore: read the Vitest transform target from tsconfig.lib.json
  vitest.shared.ts
Due: none

chore: import the tsconfig with a JSON import attribute
  vitest.shared.ts
Due: none

chore: move the Vitest transform target from esbuild to oxc (#1349)
  vitest.shared.ts
Due: none

feat(@typedtrader/exchange): refresh the SEC fee rate table from the Federal Register
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaFees.ts
  packages/exchange/src/broker/alpaca/SecFeeRateSource.test.ts
  packages/exchange/src/broker/alpaca/SecFeeRateSource.ts
  packages/exchange/src/broker/alpaca/index.ts
Due: none

feat(@typedtrader/exchange): estimate Alpaca regulatory fees on equity sells
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaFees.test.ts
  packages/exchange/src/broker/alpaca/AlpacaFees.ts
Due: none

fix(@typedtrader/exchange): report crypto commissions on Alpaca fills
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMapper.ts
  packages/exchange/src/broker/alpaca/AlpacaFees.test.ts
  packages/exchange/src/broker/alpaca/AlpacaFees.ts
  packages/exchange/src/broker/alpaca/index.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
Due: none

fix(@typedtrader/exchange): parse Alpaca cash accounts
  packages/exchange/src/broker/alpaca/api/schema/AccountSchema.test.ts
  packages/exchange/src/broker/alpaca/api/schema/AccountSchema.ts
Due: none

fix(trading-strategies): track the position a fill actually delivered
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/broker/getFilledBaseAmount.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
Due: none

fix(@typedtrader/exchange): make the fee estimate agree with the realised fee
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMapper.ts
  packages/exchange/src/broker/alpaca/AlpacaTradingWebSocket.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
Due: none

fix(@typedtrader/exchange): round base-denominated crypto fees up
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaFees.test.ts
  packages/exchange/src/broker/alpaca/AlpacaFees.ts
Due: none

feat(trading-strategies): warn when take-profit would close at a loss
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
Due: none

refactor(trading-strategies): drop the two warning side-channels
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
Due: none

refactor(trading-strategies): drop the two helpers nothing calls
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
Due: none

refactor(@typedtrader/exchange): delete the fee-estimation API nothing calls
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaFees.test.ts
  packages/exchange/src/broker/alpaca/AlpacaFees.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
Due: none

refactor(@typedtrader/exchange): apply review feedback on the account schema
  packages/exchange/src/broker/alpaca/api/schema/AccountSchema.test.ts
  packages/exchange/src/broker/alpaca/api/schema/AccountSchema.ts
Due: none

fix(@typedtrader/exchange): parse Alpaca cash accounts (#1352)
  packages/exchange/src/broker/alpaca/api/schema/AccountSchema.test.ts
  packages/exchange/src/broker/alpaca/api/schema/AccountSchema.ts
Due: none

refactor: cut the comments that restate the code
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/broker/getFilledBaseAmount.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
Due: none

refactor: cut the comments that restate the code
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMapper.ts
  packages/exchange/src/broker/alpaca/AlpacaFees.test.ts
  packages/exchange/src/broker/alpaca/AlpacaFees.ts
  packages/exchange/src/broker/alpaca/AlpacaTradingWebSocket.ts
Due: none

refactor: cut the comments that restate the code
  packages/exchange/src/broker/alpaca/AlpacaFees.test.ts
  packages/exchange/src/broker/alpaca/AlpacaFees.ts
Due: none

fix(trading-strategies): track the position a fill actually delivered (#1353)
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/broker/getFilledBaseAmount.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
Due: none

docs(@typedtrader/exchange): point at the FINRA page that exists
  packages/exchange/src/broker/alpaca/AlpacaFees.ts
Due: none

docs(@typedtrader/exchange): point the broker template at the CLI and env files
  packages/exchange/BROKER_TEMPLATE.md
Due: format

feat(@typedtrader/exchange): add a focused broker CLI
  package-lock.json
  packages/exchange/README.md
  packages/exchange/package.json
  packages/exchange/src/cli/cliBroker.ts
  packages/exchange/src/cli/exchange-cli.ts
  packages/exchange/src/cli/runCli.test.ts
  packages/exchange/src/cli/runCli.ts
Due: format

fix(@typedtrader/exchange): validate previews and stabilize CLI tests
  packages/exchange/README.md
  packages/exchange/src/cli/runCli.test.ts
  packages/exchange/src/cli/runCli.ts
Due: format

fix(@typedtrader/exchange): validate exact CLI candle intervals
  packages/exchange/README.md
  packages/exchange/src/cli/runCli.test.ts
  packages/exchange/src/cli/runCli.ts
Due: format

refactor(@typedtrader/exchange): separate CLI workflows
  packages/exchange/src/cli/cliOrders.ts
  packages/exchange/src/cli/parseCliArgs.ts
  packages/exchange/src/cli/runCli.test.ts
  packages/exchange/src/cli/runCli.ts
  packages/exchange/src/cli/streamEvents.ts
Due: none
