Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

alerting
  packages/messaging/src/service/WatchMonitor.ts
Due: none

fix logs
  packages/exchange/src/exchange-alpaca/AlpacaWebSocket.ts
  packages/messaging/src/command/account/accountAdd.ts
Due: none

Validate positive thresholds in parseThreshold (#957)
  packages/messaging/src/validation/parseThreshold.test.ts
  packages/messaging/src/validation/parseThreshold.ts
Due: none

feat(messenger): Add /watch command (#939)
  .github/copilot-instructions.md
  package-lock.json
  packages/exchange/src/candle/CandleBatcher.test.ts
  packages/exchange/src/candle/CandleBatcher.ts
  packages/exchange/src/core/Exchange.ts
  packages/exchange/src/exchange-alpaca/AlpacaExchange.ts
  packages/exchange/src/exchange-alpaca/AlpacaWebSocket.ts
  packages/messaging/.gitignore
  packages/messaging/README.md
  packages/messaging/drizzle.config.ts
  packages/messaging/migrations/0000_init.sql
  packages/messaging/package.json
  packages/messaging/src/command/account/accountAdd.ts
  packages/messaging/src/command/account/accountList.ts
  packages/messaging/src/command/account/accountRemove.ts
  packages/messaging/src/command/account/accountTime.ts
  packages/messaging/src/command/candle.ts
  packages/messaging/src/command/index.ts
  packages/messaging/src/command/price.ts
  packages/messaging/src/command/time.ts
  packages/messaging/src/command/uptime.ts
  packages/messaging/src/command/watch.ts
  packages/messaging/src/command/watch/watch.ts
  packages/messaging/src/command/watch/watchList.ts
  packages/messaging/src/command/watch/watchRemove.ts
  packages/messaging/src/database/initializeDatabase.ts
  packages/messaging/src/database/migrate.ts
  packages/messaging/src/database/models/Account.ts
  packages/messaging/src/database/models/Watch.ts
  packages/messaging/src/database/schema.ts
  packages/messaging/src/service/WatchMonitor.ts
  packages/messaging/src/startServer.ts
  packages/messaging/src/validation/getAccountOrError.ts
  packages/messaging/src/validation/parseThreshold.test.ts
  packages/messaging/src/validation/parseThreshold.ts
  packages/messaging/tsconfig.json
  packages/trading-strategies/src/strategy-buy-below-sell-above/BuyBelowSellAboveStrategy.ts
Due: format

updates
  package-lock.json
  packages/exchange/package.json
  packages/messaging/tsdown.config.ts
  packages/trading-signals/tsdown.config.ts
  packages/trading-strategies/package.json
  packages/trading-strategies/tsdown.config.ts
Due: format

fix(messaging): Deploy Meta data
  packages/messaging/.gitignore
  packages/messaging/migrations/meta/0000_snapshot.json
  packages/messaging/migrations/meta/_journal.json
Due: format

fix(messaging): Deploy Meta data
  packages/messaging/migrations/meta/0000_snapshot.json
  packages/messaging/migrations/meta/_journal.json
Due: format

chore: npm update
  package-lock.json
  package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/package.json
  packages/trading-signals/package.json
Due: format

replace alpaca API
  package-lock.json
  packages/exchange/CLAUDE.md
  packages/exchange/README.md
  packages/exchange/package.json
  packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/AlpacaExchangeMapper.test.ts
  packages/exchange/src/alpaca/AlpacaExchangeMapper.ts
  packages/exchange/src/alpaca/AlpacaWebSocket.ts
  packages/exchange/src/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/alpaca/api/AlpacaStream.ts
  packages/exchange/src/alpaca/api/schema/BarSchema.ts
  packages/exchange/src/alpaca/api/schema/ClockSchema.ts
  packages/exchange/src/alpaca/api/schema/OrderSchema.ts
  packages/exchange/src/alpaca/api/schema/StreamSchema.ts
  packages/exchange/src/alpaca/getAlpacaClient.ts
  packages/exchange/src/alpaca/index.ts
  packages/exchange/src/core/getExchangeClient.ts
  packages/exchange/src/exchange-alpaca/getAlpacaClient.ts
  packages/exchange/src/index.ts
  packages/exchange/src/start.ts
Due: format

replace alpaca API
  packages/exchange/src/exchange-alpaca/index.ts
  packages/exchange/src/exchange-alpaca/typings.ts
Due: none

add demo script
  packages/exchange/package.json
  packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/api/schema/StreamSchema.ts
  packages/exchange/src/demo-alpaca.ts
Due: format

Potential fix for code scanning alert no. 7: Clear-text logging of sensitive information
  packages/exchange/src/alpaca/getAlpacaClient.ts
Due: none

update Agent SDK
  package-lock.json
  packages/messaging/package.json
Due: format

move demo
  packages/exchange/package.json
  packages/exchange/src/alpaca/demo.ts
  packages/exchange/src/start.ts
Due: format

fix bugs
  packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/AlpacaWebSocket.ts
  packages/exchange/src/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/alpaca/api/AlpacaStream.ts
Due: none

add docs
  packages/exchange/CLAUDE.md
  packages/exchange/src/alpaca/api/AlpacaAPI.ts
Due: format

the best
  packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/AlpacaWebSocket.ts
  packages/exchange/src/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/alpaca/api/AlpacaStream.ts
Due: none

fix retry
  packages/exchange/src/alpaca/AlpacaWebSocket.ts
Due: none

update
  package-lock.json
  packages/messaging/package.json
Due: format

update desc
  packages/exchange/README.md
  packages/exchange/package.json
Due: format

update desc
  packages/messaging/README.md
Due: format

Use TradingPair
  packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/AlpacaExchangeMapper.test.ts
  packages/exchange/src/alpaca/AlpacaExchangeMapper.ts
  packages/exchange/src/alpaca/demo.ts
  packages/exchange/src/core/Exchange.ts
  packages/exchange/src/core/TradingPair.ts
  packages/exchange/src/core/index.ts
  packages/messaging/README.md
  packages/messaging/src/command/candle.ts
  packages/messaging/src/command/price.ts
  packages/messaging/src/command/watch.ts
  packages/messaging/src/command/watch/watch.ts
  packages/messaging/src/service/WatchMonitor.ts
Due: format

Use TradingPair
  packages/messaging/README.md
Due: format

update desc
  README.md
Due: format

refactor(@typedtrader/exchange): Replaced Alpaca packages with custom implementation (#959)
  README.md
  package-lock.json
  packages/exchange/CLAUDE.md
  packages/exchange/README.md
  packages/exchange/package.json
  packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/AlpacaExchangeMapper.test.ts
  packages/exchange/src/alpaca/AlpacaExchangeMapper.ts
  packages/exchange/src/alpaca/AlpacaWebSocket.ts
  packages/exchange/src/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/alpaca/api/AlpacaStream.ts
  packages/exchange/src/alpaca/api/schema/BarSchema.ts
  packages/exchange/src/alpaca/api/schema/ClockSchema.ts
  packages/exchange/src/alpaca/api/schema/OrderSchema.ts
  packages/exchange/src/alpaca/api/schema/StreamSchema.ts
  packages/exchange/src/alpaca/demo.ts
  packages/exchange/src/alpaca/getAlpacaClient.ts
  packages/exchange/src/alpaca/index.ts
  packages/exchange/src/core/Exchange.ts
  packages/exchange/src/core/TradingPair.ts
  packages/exchange/src/core/getExchangeClient.ts
  packages/exchange/src/core/index.ts
  packages/exchange/src/exchange-alpaca/getAlpacaClient.ts
  packages/exchange/src/exchange-alpaca/index.ts
  packages/exchange/src/exchange-alpaca/typings.ts
  packages/exchange/src/index.ts
  packages/exchange/src/start.ts
  packages/messaging/README.md
  packages/messaging/package.json
  packages/messaging/src/command/candle.ts
  packages/messaging/src/command/price.ts
  packages/messaging/src/command/watch.ts
  packages/messaging/src/command/watch/watch.ts
  packages/messaging/src/service/WatchMonitor.ts
Due: format

chore: Update dependencies
  package-lock.json
  package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/package.json
Due: format

feat(trading-signals-docs): Display opening times
  packages/trading-signals-docs/.gitignore
  packages/trading-signals-docs/components/MarketClock.tsx
  packages/trading-signals-docs/next-env.d.ts
  packages/trading-signals-docs/pages/index.tsx
Due: none

Add signal for bands
  packages/trading-signals-docs/pages/indicators/volatility.tsx
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.test.ts
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
Due: lint

feat(trading-signals): Add signals for bands (#961)
  packages/trading-signals-docs/pages/indicators/volatility.tsx
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.test.ts
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
Due: lint

Extend Alpaca API
  packages/exchange/src/alpaca/AlpacaExchange.test.ts
  packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/alpaca/api/schema/AccountSchema.ts
  packages/exchange/src/alpaca/api/schema/AssetSchema.ts
  packages/exchange/src/alpaca/api/schema/PositionSchema.ts
  packages/exchange/src/alpaca/index.ts
  packages/exchange/src/core/Exchange.ts
Due: none

Add MultiIndicatorConfluenceStrategy
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/strategy-multi-indicator-confluence/MultiIndicatorConfluenceStrategy.ts
Due: none

Update packages/exchange/src/core/Exchange.ts
  packages/exchange/src/core/Exchange.ts
Due: none

Update packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/AlpacaExchange.ts
Due: none

Validate Alpaca position side with enum to prevent silent misclassification (#964)
  packages/exchange/src/alpaca/AlpacaExchange.test.ts
  packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/api/schema/PositionSchema.ts
Due: none

feat(@typedtrader/exchange): Extend Alpaca API (#962)
  packages/exchange/src/alpaca/AlpacaExchange.test.ts
  packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/alpaca/api/schema/AccountSchema.ts
  packages/exchange/src/alpaca/api/schema/AssetSchema.ts
  packages/exchange/src/alpaca/api/schema/PositionSchema.ts
  packages/exchange/src/alpaca/index.ts
  packages/exchange/src/core/Exchange.ts
Due: none

Fix Alpaca implementation
  packages/exchange/src/alpaca/AlpacaExchange.test.ts
  packages/exchange/src/alpaca/AlpacaExchange.ts
Due: none

more mapping
  packages/exchange/README.md
  packages/exchange/src/alpaca/AlpacaExchange.test.ts
  packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/AlpacaExchangeMapper.test.ts
  packages/exchange/src/alpaca/AlpacaExchangeMapper.ts
  packages/exchange/src/alpaca/AlpacaTradingWebSocket.ts
  packages/exchange/src/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/alpaca/api/AlpacaTradingStream.ts
  packages/exchange/src/alpaca/api/schema/OrderSchema.ts
  packages/exchange/src/alpaca/api/schema/PositionSchema.ts
  packages/exchange/src/alpaca/api/schema/TradingStreamSchema.ts
  packages/exchange/src/alpaca/index.ts
  packages/exchange/src/core/Exchange.ts
Due: format

backtest executor
  CLAUDE.md
  packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/getAlpacaRules.ts
  packages/exchange/src/alpaca/index.ts
  packages/exchange/vitest.config.ts
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/vitest.config.ts
  packages/trading-strategies/src/backtest/BacktestConfig.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.test.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.ts
  packages/trading-strategies/src/backtest/BacktestResult.ts
  packages/trading-strategies/src/backtest/candles/BNB_USDT_2021_02_19_1_week.json
  packages/trading-strategies/src/backtest/index.ts
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/start/runBacktest.ts
  packages/trading-strategies/src/strategy-buy-and-hold/BuyAndHoldStrategy.ts
  packages/trading-strategies/src/strategy-buy-once/BuyOnceStrategy.test.ts
  packages/trading-strategies/src/strategy-buy-once/BuyOnceStrategy.ts
  vitest.config.base.ts
Due: format

add trading session
  packages/exchange/src/alpaca/AlpacaExchange.ts
  packages/exchange/src/alpaca/AlpacaExchangeMapper.ts
  packages/exchange/src/core/Exchange.ts
  packages/exchange/src/index.ts
  packages/exchange/src/trader/TradingSession.test.ts
  packages/exchange/src/trader/TradingSession.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
  packages/exchange/src/trader/index.ts
Due: none

Replace type casting with z.enum() in schema definitions (#969)
  packages/exchange/src/alpaca/api/schema/OrderSchema.ts
  packages/exchange/src/alpaca/api/schema/PositionSchema.ts
Due: none
