Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: cd packages/trading-signals && npx eslint {staged_files} --fix

feat(messaging): Add /health command (#1032)
  packages/messaging/src/command/health.ts
  packages/messaging/src/command/index.ts
  packages/messaging/src/startServer.ts
Due: none

fix(docs): Remove basePath/assetPrefix for root domain deployment
  packages/trading-signals-docs/next.config.ts
Due: none

chore: Document PR title convention in CLAUDE.md
  CLAUDE.md
Due: format

fix(trading-signals-docs): Remove basePath/assetPrefix for root domain deployment (#1033)
  CLAUDE.md
  packages/trading-signals-docs/next.config.ts
Due: format

feat(trading-signals): Add volume indicator category (AD, CMF, EMV, PVT, VROC, VWMA)
  package-lock.json
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/pages/_app.tsx
  packages/trading-signals-docs/pages/index.tsx
  packages/trading-signals-docs/pages/indicators/volume.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/index.ts
  packages/trading-signals/src/volume/AD/AD.test.ts
  packages/trading-signals/src/volume/AD/AD.ts
  packages/trading-signals/src/volume/CMF/CMF.test.ts
  packages/trading-signals/src/volume/CMF/CMF.ts
  packages/trading-signals/src/volume/EMV/EMV.test.ts
  packages/trading-signals/src/volume/EMV/EMV.ts
  packages/trading-signals/src/volume/PVT/PVT.test.ts
  packages/trading-signals/src/volume/PVT/PVT.ts
  packages/trading-signals/src/volume/VROC/VROC.test.ts
  packages/trading-signals/src/volume/VROC/VROC.ts
  packages/trading-signals/src/volume/VWMA/VWMA.test.ts
  packages/trading-signals/src/volume/VWMA/VWMA.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

improve tests
  packages/trading-signals/src/volume/EMV/EMV.test.ts
Due: lint

chore: Regenerate lockfile with npm 11.11.0
  package-lock.json
Due: format

feat(trading-signals): Add volume indicator category (#1034)
  package-lock.json
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/pages/_app.tsx
  packages/trading-signals-docs/pages/index.tsx
  packages/trading-signals-docs/pages/indicators/volume.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/index.ts
  packages/trading-signals/src/volume/AD/AD.test.ts
  packages/trading-signals/src/volume/AD/AD.ts
  packages/trading-signals/src/volume/CMF/CMF.test.ts
  packages/trading-signals/src/volume/CMF/CMF.ts
  packages/trading-signals/src/volume/EMV/EMV.test.ts
  packages/trading-signals/src/volume/EMV/EMV.ts
  packages/trading-signals/src/volume/PVT/PVT.test.ts
  packages/trading-signals/src/volume/PVT/PVT.ts
  packages/trading-signals/src/volume/VROC/VROC.test.ts
  packages/trading-signals/src/volume/VROC/VROC.ts
  packages/trading-signals/src/volume/VWMA/VWMA.test.ts
  packages/trading-signals/src/volume/VWMA/VWMA.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

improve tests
  packages/trading-strategies/src/strategy-scalp/README.md
Due: format

feat(trading-strategies, messaging): Add Scalp Scanner report and unify reports on Alpaca
  packages/messaging/.env.defaults
  packages/messaging/src/command/account/accountAdd.ts
  packages/messaging/src/command/report/reportAdd.ts
  packages/messaging/src/command/report/reportRemove.ts
  packages/messaging/src/command/strategy/strategyAdd.ts
  packages/messaging/src/command/watch/watchAdd.ts
  packages/messaging/src/platform/TelegramPlatform.ts
  packages/trading-strategies/package.json
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.test.ts
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.test.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.ts
  packages/trading-strategies/src/report/ReportRegistry.test.ts
  packages/trading-strategies/src/report/ReportRegistry.ts
  packages/trading-strategies/src/start/runScalpScanner.ts
Due: format

feat(trading-strategies): Add GICS sector labels to report output
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.ts
  packages/trading-strategies/src/report-sp500-momentum/sp500Sectors.ts
Due: none

Revert "feat(trading-strategies): Add GICS sector labels to report output"
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.ts
  packages/trading-strategies/src/report-sp500-momentum/sp500Sectors.ts
Due: none

chore(trading-strategies): Remove scalp scanner CLI script
  packages/trading-strategies/package.json
  packages/trading-strategies/src/start/runScalpScanner.ts
Due: format

fix(trading-strategies, exchange): Address Copilot review feedback
  packages/exchange/src/exchange/alpaca/index.ts
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.ts
  packages/trading-strategies/src/report/ReportRegistry.ts
  packages/trading-strategies/src/start/runBacktest.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.ts
  packages/trading-strategies/src/strategy-scalp/suggestScalpOffset.ts
Due: none

feat(messaging, trading-strategies): Improve Telegram report delivery
  package-lock.json
  packages/messaging/README.md
  packages/messaging/package.json
  packages/messaging/src/platform/TelegramPlatform.test.ts
  packages/messaging/src/platform/TelegramPlatform.ts
  packages/messaging/src/platform/telegramMarkdown.test.ts
  packages/messaging/src/platform/telegramMarkdown.ts
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.ts
  packages/trading-strategies/src/report/Report.ts
  packages/trading-strategies/src/util/formatSymbolWithName.ts
Due: format

feat(trading-strategies, messaging): Render report lists as monospace tables
  packages/messaging/src/platform/telegramMarkdown.test.ts
  packages/messaging/src/platform/telegramMarkdown.ts
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.ts
  packages/trading-strategies/src/util/formatSymbolWithName.ts
Due: none

feat(trading-strategies): Drop Net and Price columns from scalp scanner
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
Due: none

docs(trading-strategies): Document market regime categorization
  packages/trading-strategies/README.md
Due: format

fix(trading-strategies): Shorten scalp scanner name column to 12 chars
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
Due: none

fix(messaging): Replace ReDoS-vulnerable regex with linear scan
  packages/messaging/src/platform/telegramMarkdown.ts
Due: none

feat(messaging, trading-strategies): Improve Telegram report delivery (#1037)
  package-lock.json
  packages/messaging/README.md
  packages/messaging/package.json
  packages/messaging/src/platform/TelegramPlatform.test.ts
  packages/messaging/src/platform/TelegramPlatform.ts
  packages/messaging/src/platform/telegramMarkdown.test.ts
  packages/messaging/src/platform/telegramMarkdown.ts
  packages/trading-strategies/README.md
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.ts
  packages/trading-strategies/src/report/Report.ts
  packages/trading-strategies/src/util/formatSymbolWithName.ts
Due: format

feat(trading-strategies): Render Top Picks for Scalping as monospace table
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
Due: none

feat(trading-strategies): Render Top Picks for Scalping as monospace table (#1038)
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
Due: none

feat(trading-strategies): Add GuardedStrategy base class with stop-loss and take-profit kill switches
  package-lock.json
  packages/trading-strategies/package.json
  packages/trading-strategies/src/strategy/GuardedStrategy.test.ts
  packages/trading-strategies/src/strategy/GuardedStrategy.ts
  packages/trading-strategies/src/strategy/index.ts
Due: format

fix(trading-strategies): Persist guard state and retry kill-switch exit
  packages/trading-strategies/src/strategy/GuardedStrategy.test.ts
  packages/trading-strategies/src/strategy/GuardedStrategy.ts
Due: none

feat(trading-strategies): Use LIMIT sell at nominal target price for kill switch
  packages/trading-strategies/src/strategy/GuardedStrategy.test.ts
  packages/trading-strategies/src/strategy/GuardedStrategy.ts
Due: none

feat(trading-strategies): Support stopLossNominal and takeProfitNominal
  packages/trading-strategies/src/strategy/GuardedStrategy.test.ts
  packages/trading-strategies/src/strategy/GuardedStrategy.ts
Due: none

feat(trading-strategies): Support stopLossPrice and takeProfitPrice
  packages/trading-strategies/src/strategy/GuardedStrategy.test.ts
  packages/trading-strategies/src/strategy/GuardedStrategy.ts
Due: none

chore(trading-strategies): Move GuardedStrategy into its own folder with a README
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/strategy-guarded/GuardedStrategy.test.ts
  packages/trading-strategies/src/strategy-guarded/GuardedStrategy.ts
  packages/trading-strategies/src/strategy-guarded/README.md
  packages/trading-strategies/src/strategy/index.ts
Due: format

feat(trading-strategies): Add stopLossOrder and takeProfitOrder to choose limit vs market
  packages/trading-strategies/src/strategy-guarded/GuardedStrategy.test.ts
  packages/trading-strategies/src/strategy-guarded/GuardedStrategy.ts
  packages/trading-strategies/src/strategy-guarded/README.md
Due: format

refactor(trading-strategies): Nest GuardedStrategy config under a 'guarded' key
  packages/trading-strategies/src/strategy-guarded/GuardedStrategy.test.ts
  packages/trading-strategies/src/strategy-guarded/GuardedStrategy.ts
  packages/trading-strategies/src/strategy-guarded/README.md
Due: format

feat(messaging): Add /buyMarket, /sellMarket, /buyLimit, /sellLimit wizards
  packages/messaging/src/command/index.ts
  packages/messaging/src/command/placeOrder.ts
  packages/messaging/src/platform/TelegramPlatform.ts
  packages/messaging/src/startServer.ts
Due: none

fix(trading-strategies): Tighten GuardedStrategy state validation and refresh class docs
  packages/trading-strategies/src/strategy-guarded/GuardedStrategy.test.ts
  packages/trading-strategies/src/strategy-guarded/GuardedStrategy.ts
Due: none

fix(trading-strategies): Share TELEGRAM_TABLE_NAME_MAX across reports to keep rows on one line
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.ts
  packages/trading-strategies/src/util/formatSymbolWithName.ts
Due: none

fix(trading-strategies): Share TELEGRAM_TABLE_NAME_MAX across reports (#1042)
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.ts
  packages/trading-strategies/src/util/formatSymbolWithName.ts
Due: none

feat(trading-strategies): Add GuardedStrategy base class with stop-loss and take-profit kill switches (#1040)
  package-lock.json
  packages/trading-strategies/package.json
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/strategy-guarded/GuardedStrategy.test.ts
  packages/trading-strategies/src/strategy-guarded/GuardedStrategy.ts
  packages/trading-strategies/src/strategy-guarded/README.md
Due: format

fix(messaging): Use pre-built escaped RegExp for trade callback prefixes
  packages/messaging/src/platform/TelegramPlatform.ts
Due: none

refactor(messaging): Drop regex for trade callback dispatch in favor of startsWith
  packages/messaging/src/platform/TelegramPlatform.ts
Due: none

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: packages/trading-signals/**/*.{js,jsx,ts,tsx}
