Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: cd packages/trading-signals && npx eslint {staged_files} --fix

format
  .github/workflows/release.yml
Due: format

ci: publish via npm trusted publishing (#1263)
  .github/workflows/release.yml
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: format

ci: fix token usage
  .github/workflows/claude.yml
  .github/workflows/release.yml
  .npmrc
  lefthook.yml
Due: format

ci: fix token usage (#1264)
  .github/workflows/claude.yml
  .github/workflows/release.yml
  .npmrc
  lefthook.yml
Due: format

ci: drop GitHub Releases and use a dedicated push token
  .github/workflows/release.yml
  lerna.json
Due: format

fix comments
  .github/workflows/release.yml
Due: format

ci: drop GitHub Releases and use a dedicated push token (#1265)
  .github/workflows/release.yml
  lerna.json
Due: format

ci: set a git identity for the release commit
  .github/workflows/release.yml
Due: format

ci: author release commits as the repository owner
  .github/workflows/release.yml
Due: format

ci: set a git identity for the release commit (#1266)
  .github/workflows/release.yml
Due: format

[skip ci] chore: Publish
  package-lock.json
  packages/candles/CHANGELOG.md
  packages/candles/package.json
  packages/exchange/CHANGELOG.md
  packages/exchange/package.json
  packages/messaging/CHANGELOG.md
  packages/messaging/package.json
  packages/trading-signals-docs/CHANGELOG.md
  packages/trading-signals-docs/package.json
  packages/trading-signals/CHANGELOG.md
  packages/trading-signals/package.json
  packages/trading-strategies/CHANGELOG.md
  packages/trading-strategies/package.json
Due: format

fix(trading-strategies, candles, exchange): add repository metadata for npm provenance
  packages/candles/package.json
  packages/exchange/package.json
  packages/trading-strategies/package.json
Due: format

fix dir
  packages/trading-signals/package.json
Due: format

fix: format lerna-generated changelogs via the version lifecycle
  package.json
  packages/candles/CHANGELOG.md
  packages/exchange/CHANGELOG.md
  packages/messaging/CHANGELOG.md
  packages/trading-signals-docs/CHANGELOG.md
  packages/trading-signals/CHANGELOG.md
  packages/trading-strategies/CHANGELOG.md
Due: format

fix: format lerna-generated changelogs via the version lifecycle (#1268)
  package.json
  packages/candles/CHANGELOG.md
  packages/exchange/CHANGELOG.md
  packages/messaging/CHANGELOG.md
  packages/trading-signals-docs/CHANGELOG.md
  packages/trading-signals/CHANGELOG.md
  packages/trading-strategies/CHANGELOG.md
Due: format

fix(trading-signals, trading-strategies, candles, exchange): add repository metadata for npm provenance (#1267)
  packages/candles/package.json
  packages/exchange/package.json
  packages/trading-signals/package.json
  packages/trading-strategies/package.json
Due: format

ci: create GitHub Releases during a release
  .github/workflows/release.yml
  lerna.json
Due: format

ci: create GitHub Releases during a release (#1269)
  .github/workflows/release.yml
  lerna.json
Due: format

feat(trading-signals): add Typical Price indicator (TYPPRICE)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/TYPPRICE/TypicalPrice.test.ts
  packages/trading-signals/src/trend/TYPPRICE/TypicalPrice.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

refactor(trading-signals): share one typical price definition
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/MFI/MFI.ts
  packages/trading-signals/src/trend/TYPPRICE/TypicalPrice.ts
  packages/trading-signals/src/trend/VWAP/VWAP.ts
  packages/trading-signals/src/util/getTypicalPrice.test.ts
  packages/trading-signals/src/util/getTypicalPrice.ts
  packages/trading-signals/src/util/index.ts
Due: lint

feat(trading-signals): add getTypicalPrice helper
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/TYPPRICE/TypicalPrice.test.ts
  packages/trading-signals/src/trend/TYPPRICE/TypicalPrice.ts
  packages/trading-signals/src/trend/index.ts
  packages/trading-signals/src/util/getTypicalPrice.test.ts
Due: format, lint

feat(trading-signals): add getTypicalPrice helper (#1270)
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/MFI/MFI.ts
  packages/trading-signals/src/trend/VWAP/VWAP.ts
  packages/trading-signals/src/util/getTypicalPrice.test.ts
  packages/trading-signals/src/util/getTypicalPrice.ts
  packages/trading-signals/src/util/index.ts
Due: lint

[skip ci] chore: Publish
  package-lock.json
  packages/messaging/CHANGELOG.md
  packages/messaging/package.json
  packages/trading-signals-docs/CHANGELOG.md
  packages/trading-signals-docs/package.json
  packages/trading-signals/CHANGELOG.md
  packages/trading-signals/package.json
  packages/trading-strategies/CHANGELOG.md
  packages/trading-strategies/package.json
Due: format

chore: pin the editor formatter per language
  .vscode/settings.json
Due: format

fix: make the .vscode gitignore negations work
  .gitignore
Due: none

fix: make the .vscode gitignore negations work (#1273)
  .gitignore
Due: none

chore: align the GitHub workflow files
  .github/workflows/claude.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/generate-labels.yml
  .github/workflows/merge-dependencies.yml
  .github/workflows/release.yml
  .github/workflows/run-e2e-docs.yml
  .github/workflows/run-tests.yml
Due: format

chore: key the docs deploy concurrency by ref
  .github/workflows/deploy-docs.yml
Due: format

chore: serialise docs deploys with a ref-less concurrency group
  .github/workflows/deploy-docs.yml
Due: format

chore: give every workflow step a descriptive name
  .github/workflows/claude.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/generate-labels.yml
  .github/workflows/merge-dependencies.yml
  .github/workflows/release.yml
  .github/workflows/run-e2e-docs.yml
  .github/workflows/run-tests.yml
Due: format

chore: align the GitHub workflow files (#1274)
  .github/workflows/claude.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/generate-labels.yml
  .github/workflows/merge-dependencies.yml
  .github/workflows/release.yml
  .github/workflows/run-e2e-docs.yml
  .github/workflows/run-tests.yml
Due: format

test(trading-signals): apply review feedback to replace() tests
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
  packages/trading-signals/src/momentum/TDS/TDS.test.ts
  packages/trading-signals/src/trend/PSAR/PSAR.test.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/BBW/BollingerBandsWidth.test.ts
  packages/trading-signals/src/volume/PVT/PVT.test.ts
Due: lint

refactor: rename vitest.config.base.ts to vitest.shared.ts
  .claude/rules/vitest-mocking.md
  packages/candles/vitest.config.ts
  packages/exchange/vitest.config.ts
  packages/trading-signals/vitest.config.ts
  packages/trading-strategies/vitest.config.ts
  vitest.shared.ts
Due: format

chore: switch workflow validation from action-validator to actionlint
  lefthook.yml
  package-lock.json
  package.json
Due: format

chore: switch workflow validation from action-validator to actionlint (#1278)
  lefthook.yml
  package-lock.json
  package.json
Due: format

refactor: rename vitest.config.base.ts to vitest.shared.ts (#1276)
  .claude/rules/vitest-mocking.md
  packages/candles/vitest.config.ts
  packages/exchange/vitest.config.ts
  packages/trading-signals/vitest.config.ts
  packages/trading-strategies/vitest.config.ts
  vitest.shared.ts
Due: format

feat(exchange): configurable slippage in BrokerMock
  packages/exchange/src/broker/BrokerMock.test.ts
  packages/exchange/src/broker/BrokerMock.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMock.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMock.ts
  packages/trading-strategies/src/start/runBacktest.ts
Due: none

docs(exchange): document slippage rate scale and priceImprovement default
  packages/exchange/src/broker/BrokerMock.ts
Due: none

feat(trading-signals): compare indicator state via getState()
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/momentum/TDS/TDS.test.ts
  packages/trading-signals/src/momentum/TDS/TDS.ts
  packages/trading-signals/src/trend/PSAR/PSAR.test.ts
  packages/trading-signals/src/trend/PSAR/PSAR.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.ts
  packages/trading-signals/src/volume/PVT/PVT.ts
Due: lint

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: packages/trading-signals/**/*.{js,jsx,ts,tsx}
