Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

docs(trading-signals): drop the TypeScript course promotion
  packages/trading-signals/README.md
Due: format

docs(trading-strategies): drop the TypeScript course promotion
  packages/trading-signals/tstv.png
  packages/trading-strategies/README.md
Due: format

docs(trading-signals): tighten the README wording
  packages/trading-signals/README.md
Due: format

docs(trading-signals): restore the original motivation opening
  packages/trading-signals/README.md
Due: format

docs(trading-signals): reword the reference data sentence
  packages/trading-signals/README.md
Due: format

docs(trading-signals): sharpen the accessor comparison
  packages/trading-signals/README.md
Due: format

docs(trading-signals): drop the redundant accessor section
  packages/trading-signals/README.md
Due: format

Remove usage examples from README.md
  packages/trading-signals/README.md
Due: format

docs: rework the trading-signals README (#1234)
  packages/trading-signals/README.md
  packages/trading-signals/js-arithmetic.png
  packages/trading-signals/tstv.png
  packages/trading-strategies/README.md
Due: format

chore: upgrade to TypeScript 7
  .dependency-cruiser.json
  knip.json
  oxlint.config.ts
  package-lock.json
  package.json
  packages/candles/package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/CLAUDE.md
  packages/trading-signals-docs/components/CodeExample.tsx
  packages/trading-signals-docs/components/IndicatorSelector.tsx
  packages/trading-signals-docs/next.config.ts
  packages/trading-signals-docs/package.json
  packages/trading-signals/package.json
  packages/trading-strategies/package.json
Due: format

rem comments
  oxlint.config.ts
Due: none

chore: upgrade to TypeScript 7 (#1235)
  .dependency-cruiser.json
  knip.json
  oxlint.config.ts
  package-lock.json
  package.json
  packages/candles/package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/CLAUDE.md
  packages/trading-signals-docs/components/CodeExample.tsx
  packages/trading-signals-docs/components/IndicatorSelector.tsx
  packages/trading-signals-docs/next.config.ts
  packages/trading-signals-docs/package.json
  packages/trading-signals/package.json
  packages/trading-strategies/package.json
Due: format

chore: Add VS Code settings
  .vscode/settings.json
Due: format

chore: Update transitive dependencies
  package-lock.json
Due: format

fix(trading-signals): remove invalid workflows permission from claude.yml
  .github/workflows/claude.yml
Due: format

chore(trading-signals): lint GitHub workflow files with actionlint in pre-commit
  lefthook.yml
Due: format

chore(trading-signals): validate GitHub workflow files with action-validator
  lefthook.yml
  package-lock.json
  package.json
Due: format

feat(trading-signals): add AtrTrail indicator (ATR_TRAIL)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/ATR_TRAIL/AtrTrail.test.ts
  packages/trading-signals/src/trend/ATR_TRAIL/AtrTrail.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Volatility Stop indicator (VSTOP)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/VSTOP/VolatilityStop.test.ts
  packages/trading-signals/src/trend/VSTOP/VolatilityStop.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add SuperTrend indicator (SUPERTREND)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/SUPERTREND/SuperTrend.test.ts
  packages/trading-signals/src/trend/SUPERTREND/SuperTrend.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Volatility Stop indicator (VSTOP) (#1237)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/VSTOP/VolatilityStop.test.ts
  packages/trading-signals/src/trend/VSTOP/VolatilityStop.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add SuperTrend indicator (SUPERTREND) (#1238)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/SUPERTREND/SuperTrend.test.ts
  packages/trading-signals/src/trend/SUPERTREND/SuperTrend.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals-docs): add SuperTrend and Volatility Stop demos
  packages/trading-signals-docs/indicator-demos/trend/SuperTrend.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/VolatilityStop.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
Due: none

refactor(trading-signals): return multi-value result from AtrTrail
  packages/trading-signals/src/trend/ATR_TRAIL/AtrTrail.test.ts
  packages/trading-signals/src/trend/ATR_TRAIL/AtrTrail.ts
Due: lint

feat(trading-signals-docs): add SuperTrend and Volatility Stop demos (#1239)
  packages/trading-signals-docs/indicator-demos/trend/SuperTrend.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/VolatilityStop.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
Due: none

refactor(trading-strategies): wire AtrTrail indicator into AtrTrailStrategy
  packages/trading-strategies/src/strategy-atr-trail/AtrTrailStrategy.test.ts
  packages/trading-strategies/src/strategy-atr-trail/AtrTrailStrategy.ts
Due: none

chore(trading-strategies): declare @typedtrader/candles devDependency
  package-lock.json
  packages/trading-strategies/package.json
Due: format

fix(exchange): remove console noise and dotenv-defaults from consumer install
  package-lock.json
  packages/exchange/package.json
  packages/exchange/src/broker/alpaca/getAlpacaClient.ts
  packages/exchange/src/broker/alpaca/getAlpacaMarketData.ts
  packages/exchange/src/broker/trading212/getTrading212Client.ts
Due: format

docs(exchange): make README end-user focused, move design decisions to CLAUDE.md
  packages/exchange/CLAUDE.md
  packages/exchange/README.md
Due: format

docs(exchange): add ccxt-inspired README sections
  packages/exchange/README.md
Due: format

docs(exchange): add motivation statement, drop disclaimer
  packages/exchange/README.md
Due: format

docs(exchange): remove badges from README
  packages/exchange/README.md
Due: format

fix(exchange): remove console noise and dotenv-defaults from consumer install (#1240)
  package-lock.json
  packages/exchange/package.json
  packages/exchange/src/broker/alpaca/getAlpacaClient.ts
  packages/exchange/src/broker/alpaca/getAlpacaMarketData.ts
  packages/exchange/src/broker/trading212/getTrading212Client.ts
Due: format

docs(exchange): remove AI-slop patterns, phrase README broker-agnostic
  packages/exchange/README.md
Due: format

docs(exchange): remove coverage-mismatch note from README
  packages/exchange/README.md
Due: format

docs(exchange): lead motivation with the package, reference CCXT in passing
  packages/exchange/README.md
Due: format

docs(exchange): make README end-user focused, move design decisions to CLAUDE.md (#1241)
  packages/exchange/CLAUDE.md
  packages/exchange/README.md
Due: format

fix(trading-signals): use correct comparand when replacing ROC values
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
  packages/trading-signals/src/momentum/ROC/ROC.ts
Due: lint

fix(trading-signals): use correct comparand when replacing ROC values (#1242)
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
  packages/trading-signals/src/momentum/ROC/ROC.ts
Due: lint

fix(trading-signals): recalculate Bollinger Bands on replace()
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
Due: lint
