Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: cd packages/trading-signals && npx eslint {staged_files} --fix

chore: remove config drift and add quality gates to @typedtrader/candles
  packages/candles/eslint.config.mjs
  packages/candles/package.json
  packages/candles/src/index.test.ts
  packages/candles/vitest.config.ts
  packages/trading-signals-docs/README.md
  packages/trading-signals/README.md
  packages/trading-signals/jest.config.json
  packages/trading-strategies/package.json
Due: format

chore: remove config drift and add quality gates to @typedtrader/candles (#1172)
  packages/candles/eslint.config.mjs
  packages/candles/package.json
  packages/candles/src/index.test.ts
  packages/candles/vitest.config.ts
  packages/trading-signals-docs/README.md
  packages/trading-signals/README.md
  packages/trading-signals/jest.config.json
  packages/trading-strategies/package.json
Due: format

refactor(trading-strategies): move TradingSession next to BacktestExecutor and unify advice execution
  packages/exchange/README.md
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/broker/BrokerMock.test.ts
  packages/exchange/src/broker/BrokerMock.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/index.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/StrategyMonitor.ts
  packages/trading-strategies/src/backtest/BacktestConfig.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.test.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.ts
  packages/trading-strategies/src/backtest/BacktestResult.ts
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/start/runStrategy.ts
  packages/trading-strategies/src/strategy-buy-and-hold/BuyAndHoldStrategy.test.ts
  packages/trading-strategies/src/strategy-buy-below-sell-above/BuyBelowSellAboveStrategy.ts
  packages/trading-strategies/src/strategy-buy-once/BuyOnceStrategy.test.ts
  packages/trading-strategies/src/strategy-buy-once/BuyOnceStrategy.ts
  packages/trading-strategies/src/strategy-coin-flip/CoinFlipStrategy.ts
  packages/trading-strategies/src/strategy-mean-reversion/MeanReversionStrategy.ts
  packages/trading-strategies/src/strategy-multi-indicator-confluence/MultiIndicatorConfluenceStrategy.test.ts
  packages/trading-strategies/src/strategy-multi-indicator-confluence/MultiIndicatorConfluenceStrategy.ts
  packages/trading-strategies/src/strategy-noop/NoopStrategy.test.ts
  packages/trading-strategies/src/strategy-noop/NoopStrategy.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.test.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.ts
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.ts
  packages/trading-strategies/src/trader/AdviceExecutor.test.ts
  packages/trading-strategies/src/trader/AdviceExecutor.ts
  packages/trading-strategies/src/trader/OrderSizeBelowMinimumError.ts
  packages/trading-strategies/src/trader/TradingSession.test.ts
  packages/trading-strategies/src/trader/TradingSession.ts
  packages/trading-strategies/src/trader/TradingSessionTypes.ts
  packages/trading-strategies/src/trader/index.ts
Due: format

Potential fix for pull request finding
  packages/exchange/src/broker/BrokerMock.ts
Due: none

refactor(trading-strategies): move TradingSession next to BacktestExecutor and unify advice execution (#1173)
  packages/exchange/README.md
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/broker/BrokerMock.test.ts
  packages/exchange/src/broker/BrokerMock.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/index.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/StrategyMonitor.ts
  packages/trading-strategies/src/backtest/BacktestConfig.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.test.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.ts
  packages/trading-strategies/src/backtest/BacktestResult.ts
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/start/runStrategy.ts
  packages/trading-strategies/src/strategy-buy-and-hold/BuyAndHoldStrategy.test.ts
  packages/trading-strategies/src/strategy-buy-below-sell-above/BuyBelowSellAboveStrategy.ts
  packages/trading-strategies/src/strategy-buy-once/BuyOnceStrategy.test.ts
  packages/trading-strategies/src/strategy-buy-once/BuyOnceStrategy.ts
  packages/trading-strategies/src/strategy-coin-flip/CoinFlipStrategy.ts
  packages/trading-strategies/src/strategy-mean-reversion/MeanReversionStrategy.ts
  packages/trading-strategies/src/strategy-multi-indicator-confluence/MultiIndicatorConfluenceStrategy.test.ts
  packages/trading-strategies/src/strategy-multi-indicator-confluence/MultiIndicatorConfluenceStrategy.ts
  packages/trading-strategies/src/strategy-noop/NoopStrategy.test.ts
  packages/trading-strategies/src/strategy-noop/NoopStrategy.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.test.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.ts
  packages/trading-strategies/src/strategy-trailing-stop/TrailingStopStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.ts
  packages/trading-strategies/src/trader/AdviceExecutor.test.ts
  packages/trading-strategies/src/trader/AdviceExecutor.ts
  packages/trading-strategies/src/trader/OrderSizeBelowMinimumError.ts
  packages/trading-strategies/src/trader/TradingSession.test.ts
  packages/trading-strategies/src/trader/TradingSession.ts
  packages/trading-strategies/src/trader/TradingSessionTypes.ts
  packages/trading-strategies/src/trader/index.ts
Due: format

chore(trading-signals): consolidate publishing on the lerna flow
  .github/workflows/create-release.yml
  package-lock.json
  package.json
  packages/trading-signals/package.json
Due: format

refactor(trading-strategies): add explicit setState API for nested strategy state
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.test.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: none

fix(@typedtrader/exchange): reconnect Alpaca WebSocket in-process instead of exiting
  packages/exchange/src/broker/alpaca/AlpacaWebSocket.test.ts
  packages/exchange/src/broker/alpaca/AlpacaWebSocket.ts
Due: none

fix(@typedtrader/exchange): report real crypto fees on Alpaca fills
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMapper.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMapper.ts
Due: none

fix(@typedtrader/exchange): send client order ids and stop retrying order placement POSTs
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.test.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/broker/trading212/api/Trading212API.test.ts
  packages/exchange/src/broker/trading212/api/Trading212API.ts
Due: none

fix(exchange): verify Trading212 credentials against an authenticated endpoint
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/broker/getAuthenticatedBrokerClient.test.ts
  packages/exchange/src/broker/getAuthenticatedBrokerClient.ts
  packages/exchange/src/broker/trading212/Trading212Broker.test.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
Due: none

refactor(messaging): type the platform seam and scope the multi-platform claim
  packages/messaging/README.md
  packages/messaging/src/platform/MessagingPlatform.ts
  packages/messaging/src/platform/TelegramPlatform.ts
  packages/messaging/src/platform/wizards/accountEditWizard.ts
  packages/messaging/src/platform/wizards/strategyAddWizard.ts
  packages/messaging/src/platform/wizards/watchAddWizard.ts
  packages/messaging/src/service/restartAccountSessions.ts
Due: format

test(exchange): cover the Trading212 stack and add a cross-broker contract suite
  packages/exchange/src/broker/brokerContract.test.ts
  packages/exchange/src/broker/trading212/Trading212Broker.test.ts
  packages/exchange/src/broker/trading212/Trading212BrokerMapper.test.ts
  packages/exchange/src/broker/trading212/api/Trading212API.test.ts
Due: none

refactor(trading-signals): share signal machinery via object-result base and fix BBANDS warm-up
  packages/trading-signals/src/momentum/MACD/MACD.ts
  packages/trading-signals/src/types/Indicator.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
  packages/trading-signals/src/volatility/BBW/BollingerBandsWidth.test.ts
Due: lint

refactor(trading-signals): migrate remaining object-result indicators to the shared signal base
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.test.ts
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.ts
Due: lint

fix(exchange): harden Trading212 order watcher and fee mapping
  packages/exchange/src/broker/trading212/Trading212Broker.test.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/broker/trading212/Trading212BrokerMapper.test.ts
  packages/exchange/src/broker/trading212/Trading212BrokerMapper.ts
Due: none

chore(trading-signals): remove the Create Release workflow
  .github/workflows/create-release.yml
Due: format

chore(trading-signals): consolidate publishing on the lerna flow (#1174)
  .github/workflows/create-release.yml
  package-lock.json
  package.json
  packages/trading-signals/package.json
Due: format

fix(exchange): satisfy the MarketDataSource contract in the credential test stub
  packages/exchange/src/broker/trading212/Trading212Broker.test.ts
Due: none

fix(exchange): verify Trading212 credentials against an authenticated endpoint (#1179)
  packages/exchange/src/broker/Broker.ts
  packages/exchange/src/broker/getAuthenticatedBrokerClient.test.ts
  packages/exchange/src/broker/getAuthenticatedBrokerClient.ts
  packages/exchange/src/broker/trading212/Trading212Broker.test.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
Due: none

fix(trading-strategies): sync the state target on setState after restoreState
  packages/trading-strategies/src/strategy/Strategy.test.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: none

fix(exchange): tolerate subscription updates on a closed Alpaca stream
  packages/exchange/src/broker/alpaca/AlpacaWebSocket.test.ts
  packages/exchange/src/broker/alpaca/AlpacaWebSocket.ts
Due: none

fix(exchange): keep the fill stream alive on unmappable orders and document the maker-rate approximation
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMapper.ts
Due: none

test(exchange): clarify error-listener semantics in the poll-failure test
  packages/exchange/src/broker/trading212/Trading212Broker.test.ts
Due: none

fix(trading-signals): include a %K of zero in the Stochastic %D average
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.test.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
Due: lint

docs(trading-strategies): document strategy contract, runtimes, and data access
  packages/trading-strategies/README.md
Due: format

docs(trading-strategies): normalize emphasis markers to prettier style
  packages/trading-strategies/README.md
Due: format

feat(trading-strategies): add configurable SMA crossover strategy
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/strategy-sma-crossover/SmaCrossoverStrategy.test.ts
  packages/trading-strategies/src/strategy-sma-crossover/SmaCrossoverStrategy.ts
  packages/trading-strategies/src/strategy/StrategyRegistry.ts
Due: none

refactor(trading-strategies): extend Strategy directly in SmaCrossoverStrategy
  packages/trading-strategies/src/strategy-sma-crossover/SmaCrossoverStrategy.ts
Due: none

docs(trading-strategies): document extending a base strategy
  packages/trading-strategies/README.md
Due: format

feat(trading-strategies): per-SMA timeframes and fast/slow naming
  packages/trading-strategies/src/strategy-sma-crossover/SmaCrossoverStrategy.test.ts
  packages/trading-strategies/src/strategy-sma-crossover/SmaCrossoverStrategy.ts
Due: none

feat(trading-signals-docs): expose SMA crossover in the backtest page
  packages/trading-signals-docs/pages/backtest.tsx
  packages/trading-signals-docs/utils/strategySchemas.ts
Due: none

refactor(trading-signals-docs): build every backtest strategy via Schema.parse
  packages/trading-signals-docs/pages/backtest.tsx
Due: none

test(trading-strategies): move warm-up notes into expect() messages
  packages/trading-strategies/src/strategy-sma-crossover/SmaCrossoverStrategy.test.ts
Due: none

feat(trading-strategies): add configurable SMA crossover strategy (#1186)
  packages/trading-signals-docs/pages/backtest.tsx
  packages/trading-signals-docs/utils/strategySchemas.ts
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/strategy-sma-crossover/SmaCrossoverStrategy.test.ts
  packages/trading-strategies/src/strategy-sma-crossover/SmaCrossoverStrategy.ts
  packages/trading-strategies/src/strategy/StrategyRegistry.ts
Due: none

docs(trading-strategies): rewrite strategy docs in plain language
  packages/trading-strategies/README.md
Due: format

fix(trading-signals-docs): preserve strategy config when switching market condition
  packages/trading-signals-docs/pages/backtest.tsx
Due: none

fix(trading-signals-docs): preserve strategy config when switching market condition (#1187)
  packages/trading-signals-docs/pages/backtest.tsx
Due: none

feat(exchange): add fee-aware round-trip profit helper
  packages/exchange/src/util/index.ts
  packages/exchange/src/util/roundTripProfit.test.ts
  packages/exchange/src/util/roundTripProfit.ts
Due: none

feat(trading-strategies): add FeeAwareSmaCrossoverStrategy
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/strategy-fee-aware-sma-crossover/FeeAwareSmaCrossoverStrategy.test.ts
  packages/trading-strategies/src/strategy-fee-aware-sma-crossover/FeeAwareSmaCrossoverStrategy.ts
  packages/trading-strategies/src/strategy/StrategyRegistry.ts
Due: none

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: packages/trading-signals/**/*.{js,jsx,ts,tsx}
