Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

fix formatting
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
Due: none

fix(exchange): treat already-filled orders as successfully canceled (#1079)
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/alpacaSymbol.ts
  packages/exchange/src/util/SimplifiedHttpError.ts
  packages/exchange/src/util/simplifyError.test.ts
  packages/exchange/src/util/simplifyError.ts
Due: none

add getAuthenticatedBrokerClient
  packages/exchange/src/broker/getAuthenticatedBrokerClient.ts
  packages/exchange/src/broker/index.ts
  packages/messaging/src/command/account/accountAdd.ts
  packages/messaging/src/command/account/accountEdit.ts
  packages/messaging/src/platform/wizards/accountAddWizard.ts
  packages/messaging/src/platform/wizards/accountEditWizard.ts
  packages/messaging/src/service/StrategyMonitor.ts
Due: none

share deleteSecretMessages
  packages/messaging/src/platform/wizards/accountAddWizard.ts
  packages/messaging/src/platform/wizards/accountEditWizard.ts
  packages/messaging/src/platform/wizards/shared.ts
Due: none

feat(messaging): add /accountEdit command to update API credentials (#1081)
  .github/workflows/claude.yml
  packages/exchange/src/broker/getAuthenticatedBrokerClient.ts
  packages/exchange/src/broker/index.ts
  packages/messaging/README.md
  packages/messaging/src/command/account/accountAdd.ts
  packages/messaging/src/command/account/accountEdit.ts
  packages/messaging/src/command/index.ts
  packages/messaging/src/database/models/Account.ts
  packages/messaging/src/platform/TelegramPlatform.ts
  packages/messaging/src/platform/wizards/accountAddWizard.ts
  packages/messaging/src/platform/wizards/accountEditWizard.ts
  packages/messaging/src/platform/wizards/shared.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/StrategyMonitor.ts
  packages/messaging/src/service/WatchMonitor.test.ts
  packages/messaging/src/service/WatchMonitor.ts
  packages/messaging/src/service/index.ts
  packages/messaging/src/service/restartAccountSessions.ts
  packages/messaging/src/startServer.ts
Due: format

feat(messaging): notify owner when strategies and watches start
  packages/messaging/src/service/StrategyMonitor.ts
  packages/messaging/src/service/WatchMonitor.ts
Due: none

test permission
  .github/workflows/claude.yml
Due: format

merge code
  packages/messaging/src/service/PlatformDispatcher.ts
  packages/messaging/src/service/ReportScheduler.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/StrategyMonitor.ts
  packages/messaging/src/service/WatchMonitor.test.ts
  packages/messaging/src/service/WatchMonitor.ts
  packages/messaging/src/service/index.ts
  packages/messaging/src/startServer.ts
Due: none

add type alias
  packages/messaging/src/service/PlatformDispatcher.ts
Due: none

feat(messaging): notify owner when strategies and watches start (#1085)
  .github/workflows/claude.yml
  packages/messaging/src/service/PlatformDispatcher.ts
  packages/messaging/src/service/ReportScheduler.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/StrategyMonitor.ts
  packages/messaging/src/service/WatchMonitor.test.ts
  packages/messaging/src/service/WatchMonitor.ts
  packages/messaging/src/service/index.ts
  packages/messaging/src/startServer.ts
Due: format

fix(messaging, trading-strategies): bind scheduled reports to an account
  packages/messaging/migrations/0008_conscious_onslaught.sql
  packages/messaging/migrations/meta/0008_snapshot.json
  packages/messaging/migrations/meta/_journal.json
  packages/messaging/src/command/report/reportAdd.ts
  packages/messaging/src/database/schema.ts
  packages/messaging/src/service/ReportScheduler.ts
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.test.ts
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/report-sp500-heatmap/SP500HeatmapReport.test.ts
  packages/trading-strategies/src/report-sp500-heatmap/SP500HeatmapReport.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.test.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.ts
  packages/trading-strategies/src/report/ReportRegistry.test.ts
  packages/trading-strategies/src/report/ReportRegistry.ts
Due: format

chore(messaging): apply prettier to migration metadata
  packages/messaging/migrations/meta/0008_snapshot.json
  packages/messaging/migrations/meta/_journal.json
Due: format

refactor(messaging): drop explanatory comments from reportAdd
  packages/messaging/src/command/report/reportAdd.ts
Due: none

refactor(messaging): drop comment from ReportScheduler#runAndNotify
  packages/messaging/src/service/ReportScheduler.ts
Due: none

refactor(messaging): use getAccountOrError for ReportScheduler ownership check
  packages/messaging/src/service/ReportScheduler.ts
Due: none

docs(messaging): add CLAUDE.md noting getAccountOrError convention
  packages/messaging/CLAUDE.md
Due: format

fix(messaging, trading-strategies): bind scheduled reports to an account (#1086)
  packages/messaging/CLAUDE.md
  packages/messaging/migrations/0008_conscious_onslaught.sql
  packages/messaging/migrations/meta/0008_snapshot.json
  packages/messaging/migrations/meta/_journal.json
  packages/messaging/src/command/report/reportAdd.ts
  packages/messaging/src/database/schema.ts
  packages/messaging/src/service/ReportScheduler.ts
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.test.ts
  packages/trading-strategies/src/report-scalp-scanner/ScalpScannerReport.ts
  packages/trading-strategies/src/report-sp500-heatmap/SP500HeatmapReport.test.ts
  packages/trading-strategies/src/report-sp500-heatmap/SP500HeatmapReport.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.test.ts
  packages/trading-strategies/src/report-sp500-momentum/SP500MomentumReport.ts
  packages/trading-strategies/src/report/ReportRegistry.test.ts
  packages/trading-strategies/src/report/ReportRegistry.ts
Due: format

Add .circleci/config.yml
  .circleci/config.yml
Due: format

chore(trading-signals-docs): remove portless dev dependency
  package-lock.json
  packages/trading-signals-docs/package.json
Due: format

feat(trading-signals, trading-signals-docs): add percentage utilities and calculator-style docs
  packages/trading-signals-docs/components/CalculatorDemo.tsx
  packages/trading-signals-docs/components/IndicatorDemo.tsx
  packages/trading-signals-docs/components/IndicatorList.tsx
  packages/trading-signals-docs/indicator-demos/utilities/addPercentage.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/getAverage.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/getMaxMin.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/getMedian.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/getPercentageChange.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/getShare.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/getStandardDeviation.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/index.ts
  packages/trading-signals-docs/indicator-demos/utilities/otherUtilities.ts
  packages/trading-signals-docs/indicator-demos/utilities/types.ts
  packages/trading-signals-docs/pages/_app.tsx
  packages/trading-signals-docs/pages/indicators/utilities.tsx
  packages/trading-signals/src/util/addPercentage.test.ts
  packages/trading-signals/src/util/addPercentage.ts
  packages/trading-signals/src/util/getPercentageChange.test.ts
  packages/trading-signals/src/util/getPercentageChange.ts
  packages/trading-signals/src/util/getShare.test.ts
  packages/trading-signals/src/util/getShare.ts
  packages/trading-signals/src/util/index.ts
Due: lint

fix(trading-signals-docs): correct signatures for reference-only utilities
  packages/trading-signals-docs/indicator-demos/utilities/otherUtilities.ts
  packages/trading-signals-docs/pages/indicators/utilities.tsx
Due: none

refactor(trading-signals-docs): deduplicate hash-sync, card chrome, and code block
  packages/trading-signals-docs/components/CalculatorDemo.tsx
  packages/trading-signals-docs/components/CodeBlock.tsx
  packages/trading-signals-docs/components/DemoCard.tsx
  packages/trading-signals-docs/components/IndicatorDemo.tsx
  packages/trading-signals-docs/hooks/useHashSelection.ts
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/pages/indicators/trend.tsx
  packages/trading-signals-docs/pages/indicators/utilities.tsx
  packages/trading-signals-docs/pages/indicators/volatility.tsx
  packages/trading-signals-docs/pages/indicators/volume.tsx
Due: none

feat(trading-signals, trading-signals-docs): add percentage utilities and calculator-style docs (#1087)
  packages/trading-signals-docs/components/CalculatorDemo.tsx
  packages/trading-signals-docs/components/CodeBlock.tsx
  packages/trading-signals-docs/components/DemoCard.tsx
  packages/trading-signals-docs/components/IndicatorDemo.tsx
  packages/trading-signals-docs/components/IndicatorList.tsx
  packages/trading-signals-docs/hooks/useHashSelection.ts
  packages/trading-signals-docs/indicator-demos/utilities/addPercentage.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/getAverage.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/getMaxMin.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/getMedian.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/getPercentageChange.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/getShare.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/getStandardDeviation.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/index.ts
  packages/trading-signals-docs/indicator-demos/utilities/otherUtilities.ts
  packages/trading-signals-docs/indicator-demos/utilities/types.ts
  packages/trading-signals-docs/pages/_app.tsx
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/pages/indicators/trend.tsx
  packages/trading-signals-docs/pages/indicators/utilities.tsx
  packages/trading-signals-docs/pages/indicators/volatility.tsx
  packages/trading-signals-docs/pages/indicators/volume.tsx
  packages/trading-signals/src/util/addPercentage.test.ts
  packages/trading-signals/src/util/addPercentage.ts
  packages/trading-signals/src/util/getPercentageChange.test.ts
  packages/trading-signals/src/util/getPercentageChange.ts
  packages/trading-signals/src/util/getShare.test.ts
  packages/trading-signals/src/util/getShare.ts
  packages/trading-signals/src/util/index.ts
Due: lint

refactor(trading-signals, trading-signals-docs): rename addPercentage to addPercentageChange
  packages/trading-signals-docs/indicator-demos/utilities/addPercentageChange.demo.ts
  packages/trading-signals-docs/indicator-demos/utilities/index.ts
  packages/trading-signals/src/util/addPercentage.test.ts
  packages/trading-signals/src/util/addPercentageChange.test.ts
  packages/trading-signals/src/util/addPercentageChange.ts
  packages/trading-signals/src/util/index.ts
Due: lint

feat(messaging): support Trading212 in /accountAdd via a referenced data source
  packages/messaging/migrations/0009_strong_unicorn.sql
  packages/messaging/migrations/meta/0009_snapshot.json
  packages/messaging/migrations/meta/_journal.json
  packages/messaging/src/broker/getAccountBrokerClient.ts
  packages/messaging/src/command/account/accountAdd.ts
  packages/messaging/src/command/account/accountEdit.ts
  packages/messaging/src/command/account/accountTime.ts
  packages/messaging/src/command/candle.ts
  packages/messaging/src/command/placeOrder.ts
  packages/messaging/src/command/price.ts
  packages/messaging/src/command/watch/watchAdd.ts
  packages/messaging/src/database/schema.ts
  packages/messaging/src/platform/TelegramPlatform.ts
  packages/messaging/src/platform/wizards/accountAddWizard.ts
  packages/messaging/src/platform/wizards/accountEditWizard.ts
  packages/messaging/src/platform/wizards/watchAddWizard.ts
  packages/messaging/src/service/StrategyMonitor.ts
  packages/messaging/src/service/WatchMonitor.ts
Due: format

chore(messaging): apply formatter to generated migration metadata
  packages/messaging/migrations/meta/0009_snapshot.json
  packages/messaging/migrations/meta/_journal.json
Due: format

docs(messaging): note socket-sharing behavior near data-source resolver
  packages/messaging/src/broker/getAccountBrokerClient.ts
Due: none

fix(messaging): address PR review on Trading212 data-source support
  packages/messaging/migrations/0009_strong_unicorn.sql
  packages/messaging/src/broker/getAccountBrokerClient.test.ts
  packages/messaging/src/service/WatchMonitor.ts
Due: none

feat(messaging): require matching paper/live mode for Trading212 data source
  packages/messaging/src/command/account/accountAdd.ts
  packages/messaging/src/platform/wizards/accountAddWizard.ts
Due: none

refactor(messaging): tidy data-source resolver per PR review
  packages/messaging/src/broker/getAccountBrokerClient.ts
Due: none

chore: set min-release-age to 0
  .npmrc
Due: none

fix: build before lint and stop enforcing object-key sorting
  package.json
  packages/exchange/eslint.config.mjs
  packages/exchange/package.json
  packages/messaging/eslint.config.mjs
  packages/messaging/package.json
  packages/trading-signals/eslint.config.mjs
  packages/trading-strategies/eslint.config.mjs
  packages/trading-strategies/package.json
Due: format

build(trading-signals, exchange, messaging): switch to ESM-only publishing
  package-lock.json
  package.json
  packages/exchange/package.json
  packages/exchange/tsconfig.build.json
  packages/messaging/package.json
  packages/messaging/tsconfig.json
  packages/trading-signals/package.json
  packages/trading-signals/tsconfig.build.json
  tsconfig.lib.json
Due: format
