Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

docs(exchange): list CLI commands in a table
  packages/exchange/README.md
Due: format

refactor(exchange): delegate CLI duration parsing to ms
  packages/exchange/README.md
  packages/exchange/src/cli/parseCliArgs.ts
  packages/exchange/src/cli/runCli.test.ts
Due: format

refactor(exchange): generate CLI help with Commander
  package-lock.json
  packages/exchange/README.md
  packages/exchange/package.json
  packages/exchange/src/cli/parseCliArgs.ts
  packages/exchange/src/cli/runCli.test.ts
  packages/exchange/src/cli/runCli.ts
Due: format

Update README.md
  packages/exchange/README.md
Due: format

fix(@typedtrader/exchange): reject invalid CLI durations and counters
  packages/exchange/src/cli/parseCliArgs.ts
  packages/exchange/src/cli/runCli.test.ts
Due: none

feat(@typedtrader/exchange): add a broker CLI (#1355)
  package-lock.json
  packages/exchange/README.md
  packages/exchange/package.json
  packages/exchange/src/cli/cliBroker.ts
  packages/exchange/src/cli/cliOrders.ts
  packages/exchange/src/cli/exchange-cli.ts
  packages/exchange/src/cli/parseCliArgs.ts
  packages/exchange/src/cli/runCli.test.ts
  packages/exchange/src/cli/runCli.ts
  packages/exchange/src/cli/streamEvents.ts
Due: format

refactor(@typedtrader/exchange-cli): extract the broker CLI into its own package
  README.md
  package-lock.json
  packages/exchange-cli/README.md
  packages/exchange-cli/package.json
  packages/exchange-cli/src/cliBroker.ts
  packages/exchange-cli/src/cliOrders.ts
  packages/exchange-cli/src/exchange-cli.ts
  packages/exchange-cli/src/parseCliArgs.ts
  packages/exchange-cli/src/runCli.test.ts
  packages/exchange-cli/src/runCli.ts
  packages/exchange-cli/src/streamEvents.ts
  packages/exchange-cli/tsconfig.build.json
  packages/exchange-cli/tsconfig.json
  packages/exchange-cli/vitest.config.ts
  packages/exchange/README.md
  packages/exchange/package.json
Due: format

feat(trading-signals-cli): add a CLI for the technical indicators
  README.md
  package-lock.json
  packages/trading-signals-cli/README.md
  packages/trading-signals-cli/package.json
  packages/trading-signals-cli/src/indicators.ts
  packages/trading-signals-cli/src/parseSeries.ts
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-cli/src/runCli.ts
  packages/trading-signals-cli/src/runIndicator.ts
  packages/trading-signals-cli/src/trading-signals-cli.ts
  packages/trading-signals-cli/tsconfig.build.json
  packages/trading-signals-cli/tsconfig.json
  packages/trading-signals-cli/vitest.config.ts
  packages/trading-signals/README.md
Due: format

fix(trading-signals-cli): reject arguments and results the output would misreport
  packages/trading-signals-cli/README.md
  packages/trading-signals-cli/src/indicators.ts
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-cli/src/runIndicator.ts
Due: format

docs(@typedtrader/exchange-cli): point the --env-file example at the installed executable
  packages/exchange-cli/README.md
Due: format

fix(trading-signals-cli): close the remaining gaps in argument and input handling
  packages/trading-signals-cli/src/indicators.ts
  packages/trading-signals-cli/src/parseSeries.ts
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-cli/src/runIndicator.ts
Due: none

fix(trading-signals-cli): validate the fields an indicator reads and stop coercing blanks
  packages/trading-signals-cli/src/indicators.ts
  packages/trading-signals-cli/src/parseSeries.ts
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-cli/src/runIndicator.ts
Due: none

fix(trading-signals-cli): check every argument position for the settings it expects
  packages/trading-signals-cli/src/indicators.ts
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-cli/src/runIndicator.ts
Due: none

test(trading-signals-cli): pin the NaN guard and quote the real error in the README
  packages/trading-signals-cli/README.md
  packages/trading-signals-cli/src/runCli.test.ts
Due: format

refactor(@typedtrader/exchange-cli): extract the broker CLI into its own package (#1360)
  README.md
  package-lock.json
  packages/exchange-cli/README.md
  packages/exchange-cli/package.json
  packages/exchange-cli/src/cliBroker.ts
  packages/exchange-cli/src/cliOrders.ts
  packages/exchange-cli/src/exchange-cli.ts
  packages/exchange-cli/src/parseCliArgs.ts
  packages/exchange-cli/src/runCli.test.ts
  packages/exchange-cli/src/runCli.ts
  packages/exchange-cli/src/streamEvents.ts
  packages/exchange-cli/tsconfig.build.json
  packages/exchange-cli/tsconfig.json
  packages/exchange-cli/vitest.config.ts
  packages/exchange/README.md
  packages/exchange/package.json
Due: format

fix(trading-signals-cli): refuse arguments a constructor would drop, and only judge the reading it reports
  packages/trading-signals-cli/README.md
  packages/trading-signals-cli/src/indicators.ts
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-cli/src/runCli.ts
  packages/trading-signals-cli/src/runIndicator.ts
Due: format

fix(trading-signals-cli): stop blaming the arguments for an event that did not happen
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-cli/src/runCli.ts
Due: none

fix(trading-signals-cli): keep candle input candle-shaped and check settings that nest
  packages/trading-signals-cli/README.md
  packages/trading-signals-cli/src/indicators.ts
  packages/trading-signals-cli/src/parseSeries.ts
  packages/trading-signals-cli/src/runCli.test.ts
Due: format

fix(trading-signals-cli): probe the real bars and guard a nested setting handed a number
  packages/trading-signals-cli/src/indicators.ts
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-cli/src/runIndicator.ts
Due: none

fix(trading-signals-cli): mark the built executable and name the indicator behind a failure
  packages/exchange-cli/package.json
  packages/trading-signals-cli/package.json
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-cli/src/runIndicator.ts
Due: format

fix(@typedtrader/exchange): stop sending the field Trading212 refuses on limit orders
  packages/exchange/src/broker/trading212/Trading212Broker.test.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/broker/trading212/api/schema/OrderSchema.ts
Due: none

feat(@typedtrader/exchange-cli): report the venue, tradability and fractions of an instrument
  packages/exchange-cli/README.md
  packages/exchange-cli/src/cliBroker.ts
  packages/exchange-cli/src/runCli.test.ts
  packages/exchange/src/broker/trading212/api/Trading212API.ts
  packages/exchange/src/broker/trading212/api/schema/ExchangeSchema.ts
Due: format

feat(@typedtrader/exchange-cli): report whether an instrument trades outside exchange hours
  packages/exchange-cli/README.md
  packages/exchange-cli/src/cliBroker.ts
  packages/exchange/src/broker/alpaca/api/schema/AssetSchema.ts
  packages/exchange/src/broker/trading212/Trading212Broker.test.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/broker/trading212/api/schema/InstrumentSchema.ts
Due: format

feat(trading-signals-cli): add a CLI for the technical indicators (#1361)
  README.md
  package-lock.json
  packages/trading-signals-cli/README.md
  packages/trading-signals-cli/package.json
  packages/trading-signals-cli/src/indicators.ts
  packages/trading-signals-cli/src/parseSeries.ts
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-cli/src/runCli.ts
  packages/trading-signals-cli/src/runIndicator.ts
  packages/trading-signals-cli/src/trading-signals-cli.ts
  packages/trading-signals-cli/tsconfig.build.json
  packages/trading-signals-cli/tsconfig.json
  packages/trading-signals-cli/vitest.config.ts
  packages/trading-signals/README.md
Due: format

fix(@typedtrader/exchange): stop sending "extendedHours" field for Trading212 on limit orders (#1362)
  packages/exchange/src/broker/trading212/Trading212Broker.test.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/broker/trading212/api/schema/OrderSchema.ts
Due: none

feat(@typedtrader/exchange-cli): report the venue, tradability and fractions of an instrument (#1363)
  packages/exchange-cli/README.md
  packages/exchange-cli/src/cliBroker.ts
  packages/exchange-cli/src/runCli.test.ts
  packages/exchange/src/broker/alpaca/api/schema/AssetSchema.ts
  packages/exchange/src/broker/trading212/Trading212Broker.test.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/broker/trading212/api/Trading212API.ts
  packages/exchange/src/broker/trading212/api/schema/ExchangeSchema.ts
  packages/exchange/src/broker/trading212/api/schema/InstrumentSchema.ts
Due: format

refactor(trading-signals): drop the shape that claimed more than the types can check
  packages/trading-signals-cli/README.md
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-cli/src/runCli.ts
  packages/trading-signals-cli/src/runIndicator.ts
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/volume/PVO/PVO.ts
  packages/trading-signals/src/volume/RVOL/RVOL.ts
  packages/trading-signals/src/volume/VROC/VROC.ts
Due: format, lint

feat(trading-signals): check an input against the shape it is supposed to have
  packages/trading-signals-cli/src/runIndicator.ts
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/src/base/Indicator.test.ts
  packages/trading-signals/src/base/Indicator.ts
Due: format, lint

Revert "feat(trading-signals): check an input against the shape it is supposed to have"
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/src/base/Indicator.test.ts
  packages/trading-signals/src/base/Indicator.ts
Due: format, lint

fix(@typedtrader/exchange): stop charging the crypto commission on stocks
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMock.ts
  packages/exchange/src/broker/alpaca/getAlpacaRules.ts
  packages/trading-strategies/src/trader/TradingSession.test.ts
Due: none

fix(@typedtrader/exchange): drop the retired Pattern Day Trader warning
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/broker/alpaca/api/schema/AccountSchema.test.ts
  packages/exchange/src/broker/alpaca/api/schema/AccountSchema.ts
Due: none

test(@typedtrader/exchange): drop the account test that stopped asserting anything
  packages/exchange/src/broker/alpaca/api/schema/AccountSchema.test.ts
Due: none

Update AlpacaAPI.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
Due: none

test(@typedtrader/exchange): remove the obsolete account schema test
  packages/exchange/src/broker/alpaca/api/schema/AccountSchema.test.ts
Due: none

docs(@typedtrader/exchange): trim the fee rate comments
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
Due: none

fix(@typedtrader/exchange): drop the retired Pattern Day Trader warning (#1366)
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/broker/alpaca/api/schema/AccountSchema.test.ts
  packages/exchange/src/broker/alpaca/api/schema/AccountSchema.ts
Due: none

Update formatting
  README.md
Due: format

fix(@typedtrader/exchange): stop charging the crypto commission on stocks (#1365)
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMock.ts
  packages/exchange/src/broker/alpaca/getAlpacaRules.ts
  packages/trading-strategies/src/trader/TradingSession.test.ts
Due: none
