Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

feat(trading-signals): add Normalized Average True Range (NATR) (#1220)
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/NATR/NATR.test.ts
  packages/trading-signals/src/volatility/NATR/NATR.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add Percentage Price Oscillator (PPO) (#1221)
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/PPO/PPO.test.ts
  packages/trading-signals/src/momentum/PPO/PPO.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Triple Exponential Moving Average (TEMA) (#1222)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/TEMA/TEMA.test.ts
  packages/trading-signals/src/trend/TEMA/TEMA.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Kaufman's Adaptive Moving Average (KAMA)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/KAMA/KAMA.test.ts
  packages/trading-signals/src/trend/KAMA/KAMA.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): follow strict Tulip Indicators semantics in TRIX
  packages/trading-signals/src/momentum/TRIX/TRIX.test.ts
  packages/trading-signals/src/momentum/TRIX/TRIX.ts
Due: lint

feat(trading-signals): add Triple Smoothed EMA Rate of Change (TRIX)
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/TRIX/TRIX.test.ts
  packages/trading-signals/src/momentum/TRIX/TRIX.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Chaikin Oscillator (ADOSC)
  packages/trading-signals/README.md
  packages/trading-signals/src/volume/ADOSC/ADOSC.test.ts
  packages/trading-signals/src/volume/ADOSC/ADOSC.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

feat(trading-signals): add Triple Smoothed EMA Rate of Change (TRIX) (#1223)
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/TRIX/TRIX.test.ts
  packages/trading-signals/src/momentum/TRIX/TRIX.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Kaufman's Adaptive Moving Average (KAMA) (#1219)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/KAMA/KAMA.test.ts
  packages/trading-signals/src/trend/KAMA/KAMA.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Chaikin Oscillator (ADOSC) (#1224)
  packages/trading-signals/README.md
  packages/trading-signals/src/volume/ADOSC/ADOSC.test.ts
  packages/trading-signals/src/volume/ADOSC/ADOSC.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

feat(trading-signals-docs): add demos for the eleven new indicators
  packages/trading-signals-docs/indicator-demos/momentum/CMO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/MFI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/PPO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/TRIX.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/UltimateOscillator.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals-docs/indicator-demos/trend/Aroon.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/HMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/KAMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/TEMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals-docs/indicator-demos/volatility/NATR.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals-docs/indicator-demos/volume/ADOSC.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/index.tsx
Due: none

feat(trading-signals): add Chandelier Exit (CE)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/CE/ChandelierExit.test.ts
  packages/trading-signals/src/trend/CE/ChandelierExit.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

docs(trading-signals): fix dead StockCharts link in Chandelier Exit
  packages/trading-signals/src/trend/CE/ChandelierExit.test.ts
  packages/trading-signals/src/trend/CE/ChandelierExit.ts
Due: lint

feat(trading-signals-docs): add demos for the eleven new indicators (#1225)
  packages/trading-signals-docs/indicator-demos/momentum/CMO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/MFI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/PPO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/TRIX.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/UltimateOscillator.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals-docs/indicator-demos/trend/Aroon.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/HMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/KAMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/TEMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals-docs/indicator-demos/volatility/NATR.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals-docs/indicator-demos/volume/ADOSC.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/index.tsx
Due: none

docs(trading-signals): use canonical Alan Hull reference URL in HMA
  packages/trading-signals/src/trend/HMA/HMA.ts
Due: lint

docs(trading-signals): use canonical Alan Hull reference URL in HMA (#1227)
  packages/trading-signals/src/trend/HMA/HMA.ts
Due: lint

feat(trading-signals): add Chandelier Exit (CE) (#1226)
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/CE/ChandelierExit.test.ts
  packages/trading-signals/src/trend/CE/ChandelierExit.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals-docs): add Chandelier Exit demo
  packages/trading-signals-docs/indicator-demos/trend/ChandelierExit.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
Due: none

feat(trading-signals-docs): add Chandelier Exit demo (#1228)
  packages/trading-signals-docs/indicator-demos/trend/ChandelierExit.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
Due: none

fix: resolve npm audit vulnerabilities via override floors
  package-lock.json
  package.json
Due: format

refactor: drop redundant override entries
  package.json
Due: format

fix: resolve npm audit vulnerabilities via override floors (#1231)
  package-lock.json
  package.json
Due: format

chore: inline the @tstv/eslint-config ruleset
  eslint.config.base.ts
  package-lock.json
  package.json
Due: format

chore: inline the @tstv/eslint-config ruleset (#1232)
  eslint.config.base.ts
  package-lock.json
  package.json
Due: format

chore: migrate from ESLint and Prettier to Oxlint and oxfmt
  .oxfmtrc.json
  .oxlintrc.json
  eslint.config.base.ts
  eslint.config.ts
  lefthook.yml
  oxlint-plugin-local.mjs
  package-lock.json
  package.json
  packages/candles/eslint.config.ts
  packages/candles/package.json
  packages/exchange/eslint.config.ts
  packages/exchange/package.json
  packages/messaging/eslint.config.ts
  packages/messaging/package.json
  packages/trading-signals-docs/eslint.config.ts
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/utils/types.ts
  packages/trading-signals/eslint.config.ts
  packages/trading-signals/package.json
  packages/trading-signals/vitest.config.ts
  packages/trading-strategies/eslint.config.ts
  packages/trading-strategies/package.json
  packages/trading-strategies/src/strategy-protected/README.md
  vitest.config.base.ts
Due: format

refactor: use TypeScript config files for Oxlint and oxfmt
  .oxfmtrc.json
  .oxlintrc.json
  oxfmt.config.ts
  oxlint.config.ts
  package.json
Due: format

refactor: drop the local Oxlint plugin
  oxlint-plugin-local.mjs
  oxlint.config.ts
Due: none

refactor: stop linting and formatting every file twice
  package.json
  packages/candles/package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/package.json
  packages/trading-signals/package.json
  packages/trading-strategies/package.json
Due: format

refactor: drop the type check from lint
  package.json
  packages/candles/package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/package.json
  packages/trading-signals/package.json
  packages/trading-strategies/package.json
Due: format

refactor: address review feedback on the Oxc configs
  lefthook.yml
  oxfmt.config.ts
  oxlint.config.ts
  package.json
  packages/candles/package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/package.json
  packages/trading-signals/package.json
  packages/trading-strategies/package.json
Due: format

refactor: simplify the pre-commit hook to format then verify
  lefthook.yml
Due: format

refactor: cover cjs, mts and cts in the pre-commit globs
  lefthook.yml
Due: format

fix: restore auto-fixing in the pre-commit hook
  lefthook.yml
Due: format

refactor: drop the pre-commit globs and run both tools once
  lefthook.yml
Due: format

Refactor pre-commit commands in lefthook.yml
  lefthook.yml
Due: format

chore: migrate from ESLint and Prettier to Oxlint and oxfmt (#1233)
  .prettierrc.json
  eslint.config.base.ts
  eslint.config.ts
  lefthook.yml
  oxfmt.config.ts
  oxlint.config.ts
  package-lock.json
  package.json
  packages/candles/eslint.config.ts
  packages/candles/package.json
  packages/exchange/eslint.config.ts
  packages/exchange/package.json
  packages/messaging/eslint.config.ts
  packages/messaging/package.json
  packages/trading-signals-docs/eslint.config.ts
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/utils/types.ts
  packages/trading-signals/eslint.config.ts
  packages/trading-signals/package.json
  packages/trading-signals/vitest.config.ts
  packages/trading-strategies/eslint.config.ts
  packages/trading-strategies/package.json
  packages/trading-strategies/src/strategy-protected/README.md
  vitest.config.base.ts
Due: format

chore: auto-create GitHub Releases from lerna publish
  lerna.json
Due: format

chore: source GH_TOKEN from gh CLI in the release script
  package.json
Due: format

docs(trading-signals): clarify motivation and result accessors
  packages/trading-signals/README.md
  packages/trading-signals/js-arithmetic.png
Due: format

docs(trading-signals): move the indicator catalog above the installation
  packages/trading-signals/README.md
Due: format
