Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

feat(@typedtrader/exchange): pick the Alpaca data feed from the account's subscription (#1375)
  packages/exchange/src/broker/alpaca/AlpacaMarketData.test.ts
  packages/exchange/src/broker/alpaca/AlpacaMarketData.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
Due: none

refactor(@typedtrader/exchange): walk back through windows instead of re-fetching a wider one
  packages/exchange/src/broker/MarketDataSource.test.ts
  packages/exchange/src/broker/MarketDataSource.ts
Due: none

fix(@typedtrader/exchange): keep bars that open between two candle windows
  packages/exchange/src/broker/MarketDataSource.test.ts
  packages/exchange/src/broker/MarketDataSource.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.test.ts
Due: none

docs(@typedtrader/exchange): state the real cutoff contract of getCandlesUntil
  packages/exchange/src/broker/MarketDataSource.ts
Due: none

test(@typedtrader/exchange): pin the init sequencing and the mock's market data forwarding
  packages/exchange/src/broker/MarketDataSource.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMock.test.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.test.ts
Due: none

fix(trading-strategies): call strategy init in BacktestExecutor (#1373)
  packages/exchange/src/broker/BrokerMock.test.ts
  packages/exchange/src/broker/BrokerMock.ts
  packages/exchange/src/broker/MarketDataSource.test.ts
  packages/exchange/src/broker/MarketDataSource.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMock.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMock.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.test.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.ts
  packages/trading-strategies/src/start/runBacktest.ts
Due: none

chore(deps): close the open security advisories with scoped overrides
  package-lock.json
  package.json
Due: format

feat(trading-signals-docs): move the trading knowledge to the website
  packages/trading-signals-docs/src/indicator-demos/utilities/otherUtilities.ts
  packages/trading-signals-docs/src/pages/basics/glossary.mdx
  packages/trading-signals-docs/src/pages/basics/indicator-types.mdx
  packages/trading-signals-docs/src/pages/basics/risk-management.mdx
  packages/trading-signals-docs/vocs.config.ts
  packages/trading-signals/README.md
  packages/trading-signals/src/util/index.ts
  packages/trading-signals/src/util/trading/getPositionSize.test.ts
  packages/trading-signals/src/util/trading/getPositionSize.ts
  packages/trading-strategies/README.md
Due: format, lint

chore: Update dependencies
  package-lock.json
  package.json
  packages/exchange/package.json
  packages/messaging/package.json
  packages/trading-signals-docs/package.json
  packages/trading-strategies/package.json
Due: format

chore: remove unneeded dependency overrides
  package-lock.json
  package.json
Due: format

chore: bump waku and scope the js-yaml override to lerna
  package-lock.json
  package.json
  packages/trading-signals-docs/package.json
Due: format

chore: upgrade Stryker to v10
  package-lock.json
  package.json
Due: format

chore: remove github-actionlint
  lefthook.yml
  package-lock.json
  package.json
Due: format

chore: npm audit fix
  package-lock.json
Due: format

chore: override vulnerable transitive dependencies
  package-lock.json
  package.json
Due: format

chore: override vulnerable transitive dependencies (#1378)
  package-lock.json
  package.json
Due: format

feat(trading-signals): add Z-Score indicator
  packages/trading-signals-docs/src/indicator-demos/volatility/ZScore.demo.tsx
  packages/trading-signals-docs/src/indicator-demos/volatility/index.tsx
  packages/trading-signals-docs/src/pages/indicators/volatility/index.mdx
  packages/trading-signals-docs/src/pages/indicators/volatility/zscore.mdx
  packages/trading-signals-docs/src/sidebar.generated.ts
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/ZSCORE/ZScore.test.ts
  packages/trading-signals/src/volatility/ZSCORE/ZScore.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

test(trading-signals-cli): list the ZScore indicator
  packages/trading-signals-cli/src/runCli.test.ts
Due: none

feat(trading-signals): include the current input in the ZScore window
  packages/trading-signals-docs/src/indicator-demos/volatility/ZScore.demo.tsx
  packages/trading-signals-docs/src/pages/indicators/volatility/zscore.mdx
  packages/trading-signals/src/volatility/ZSCORE/ZScore.test.ts
  packages/trading-signals/src/volatility/ZSCORE/ZScore.ts
Due: lint

refactor(trading-signals): replace getZScore with ZScore.getResultFromBatch
  packages/trading-signals/README.md
  packages/trading-signals/src/util/index.ts
  packages/trading-signals/src/util/math/getZScore.test.ts
  packages/trading-signals/src/util/math/getZScore.ts
  packages/trading-signals/src/volatility/ZSCORE/ZScore.test.ts
  packages/trading-signals/src/volatility/ZSCORE/ZScore.ts
Due: format, lint

feat(trading-signals): add Z-Score indicator (#1379)
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-docs/src/indicator-demos/volatility/ZScore.demo.tsx
  packages/trading-signals-docs/src/indicator-demos/volatility/index.tsx
  packages/trading-signals-docs/src/pages/indicators/volatility/index.mdx
  packages/trading-signals-docs/src/pages/indicators/volatility/zscore.mdx
  packages/trading-signals-docs/src/sidebar.generated.ts
  packages/trading-signals/README.md
  packages/trading-signals/src/util/index.ts
  packages/trading-signals/src/util/math/getZScore.test.ts
  packages/trading-signals/src/util/math/getZScore.ts
  packages/trading-signals/src/volatility/ZSCORE/ZScore.test.ts
  packages/trading-signals/src/volatility/ZSCORE/ZScore.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add a trend signal to all moving averages
  packages/trading-signals/src/trend/DEMA/DEMA.ts
  packages/trading-signals/src/trend/MA/MovingAverage.test.ts
  packages/trading-signals/src/trend/MA/MovingAverage.ts
  packages/trading-signals/src/trend/TEMA/TEMA.ts
  packages/trading-signals/src/trend/WSMA/WSMA.ts
Due: lint

feat(trading-signals): add signals to trend, channel and volume indicators
  packages/trading-signals/src/base/Indicator.test.ts
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.test.ts
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.ts
  packages/trading-signals/src/trend/AROON/Aroon.test.ts
  packages/trading-signals/src/trend/AROON/Aroon.ts
  packages/trading-signals/src/trend/HT/HTTrendline.test.ts
  packages/trading-signals/src/trend/HT/HTTrendline.ts
  packages/trading-signals/src/trend/ICHIMOKU/IchimokuCloud.test.ts
  packages/trading-signals/src/trend/ICHIMOKU/IchimokuCloud.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.test.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
  packages/trading-signals/src/trend/PSAR/PSAR.test.ts
  packages/trading-signals/src/trend/PSAR/PSAR.ts
  packages/trading-signals/src/trend/SUPERTREND/SuperTrend.test.ts
  packages/trading-signals/src/trend/SUPERTREND/SuperTrend.ts
  packages/trading-signals/src/trend/VSTOP/VolatilityStop.test.ts
  packages/trading-signals/src/trend/VSTOP/VolatilityStop.ts
  packages/trading-signals/src/trend/VWAP/VWAP.test.ts
  packages/trading-signals/src/trend/VWAP/VWAP.ts
  packages/trading-signals/src/volatility/DC/DonchianChannels.test.ts
  packages/trading-signals/src/volatility/DC/DonchianChannels.ts
  packages/trading-signals/src/volatility/KC/KeltnerChannels.test.ts
  packages/trading-signals/src/volatility/KC/KeltnerChannels.ts
  packages/trading-signals/src/volume/NVI/NVI.test.ts
  packages/trading-signals/src/volume/NVI/NVI.ts
  packages/trading-signals/src/volume/PVI/PVI.test.ts
  packages/trading-signals/src/volume/PVI/PVI.ts
Due: lint

fix(trading-signals): keep NVI and PVI without a signal
  packages/trading-signals/src/volume/NVI/NVI.test.ts
  packages/trading-signals/src/volume/NVI/NVI.ts
  packages/trading-signals/src/volume/PVI/PVI.test.ts
  packages/trading-signals/src/volume/PVI/PVI.ts
Due: lint

fix(trading-signals): feed custom moving averages into the signal
  packages/trading-signals/src/trend/MA/MovingAverage.test.ts
  packages/trading-signals/src/trend/MA/MovingAverage.ts
Due: lint

test(trading-signals): pin the Alligator and Keltner signal boundaries
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.test.ts
  packages/trading-signals/src/volatility/KC/KeltnerChannels.test.ts
Due: lint

feat(trading-signals): add signals to trend, channel and volume indicators (#1394)
  packages/trading-signals/src/base/Indicator.test.ts
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.test.ts
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.ts
  packages/trading-signals/src/trend/AROON/Aroon.test.ts
  packages/trading-signals/src/trend/AROON/Aroon.ts
  packages/trading-signals/src/trend/HT/HTTrendline.test.ts
  packages/trading-signals/src/trend/HT/HTTrendline.ts
  packages/trading-signals/src/trend/ICHIMOKU/IchimokuCloud.test.ts
  packages/trading-signals/src/trend/ICHIMOKU/IchimokuCloud.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.test.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
  packages/trading-signals/src/trend/PSAR/PSAR.test.ts
  packages/trading-signals/src/trend/PSAR/PSAR.ts
  packages/trading-signals/src/trend/SUPERTREND/SuperTrend.test.ts
  packages/trading-signals/src/trend/SUPERTREND/SuperTrend.ts
  packages/trading-signals/src/trend/VSTOP/VolatilityStop.test.ts
  packages/trading-signals/src/trend/VSTOP/VolatilityStop.ts
  packages/trading-signals/src/trend/VWAP/VWAP.test.ts
  packages/trading-signals/src/trend/VWAP/VWAP.ts
  packages/trading-signals/src/volatility/DC/DonchianChannels.test.ts
  packages/trading-signals/src/volatility/DC/DonchianChannels.ts
  packages/trading-signals/src/volatility/KC/KeltnerChannels.test.ts
  packages/trading-signals/src/volatility/KC/KeltnerChannels.ts
Due: lint

feat(trading-signals): add a trend signal to all moving averages (#1393)
  packages/trading-signals/src/trend/DEMA/DEMA.ts
  packages/trading-signals/src/trend/MA/MovingAverage.test.ts
  packages/trading-signals/src/trend/MA/MovingAverage.ts
  packages/trading-signals/src/trend/TEMA/TEMA.ts
  packages/trading-signals/src/trend/WSMA/WSMA.ts
Due: lint

chore: upgrade Vitest to v5
  package-lock.json
  package.json
  packages/candles/vitest.config.ts
  packages/exchange-cli/src/runCli.test.ts
  packages/exchange-cli/vitest.config.ts
  packages/exchange/src/broker/alpaca/AlpacaMarketData.test.ts
  packages/exchange/src/util/retry.test.ts
  packages/exchange/vitest.config.ts
  packages/trading-signals-cli/vitest.config.ts
  packages/trading-signals/vitest.config.ts
  packages/trading-strategies/vitest.config.ts
Due: format

chore: upgrade Vitest to v5 (#1395)
  package-lock.json
  package.json
  packages/candles/vitest.config.ts
  packages/exchange-cli/src/runCli.test.ts
  packages/exchange-cli/vitest.config.ts
  packages/exchange/src/broker/alpaca/AlpacaMarketData.test.ts
  packages/exchange/src/util/retry.test.ts
  packages/exchange/vitest.config.ts
  packages/trading-signals-cli/vitest.config.ts
  packages/trading-signals/vitest.config.ts
  packages/trading-strategies/vitest.config.ts
Due: format

chore: override vulnerable transitive dependencies (#1396)
  package-lock.json
  package.json
Due: format

chore: add static code analysis with FTA
  fta.json
  package-lock.json
  package.json
  packages/exchange/src/broker/BrokerMock.ts
  packages/exchange/src/broker/MockBalances.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMapper.ts
  packages/exchange/src/broker/brokerMockPricing.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/broker/trading212/Trading212BrokerMapper.ts
  packages/exchange/src/broker/trading212/newFilledOrders.test.ts
  packages/exchange/src/broker/trading212/newFilledOrders.ts
  packages/messaging/src/platform/TelegramPlatform.test.ts
  packages/messaging/src/platform/TelegramPlatform.ts
  packages/messaging/src/platform/lowercaseCommandMiddleware.ts
  packages/messaging/src/platform/reportAddFlow.ts
  packages/messaging/src/platform/telegramMarkdown.ts
  packages/messaging/src/platform/wizards/tradeWizard.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
  packages/trading-strategies/src/strategy-protected/guard.ts
Due: format

chore: exclude messaging and trading-strategies from FTA scan
  fta.json
Due: format

chore: scan messaging and trading-strategies with FTA again
  fta.json
Due: format

chore: add static code analysis with FTA (#1397)
  fta.json
  package-lock.json
  package.json
  packages/exchange/src/broker/BrokerMock.ts
  packages/exchange/src/broker/MockBalances.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMapper.ts
  packages/exchange/src/broker/brokerMockPricing.ts
  packages/exchange/src/broker/trading212/Trading212Broker.ts
  packages/exchange/src/broker/trading212/Trading212BrokerMapper.ts
  packages/exchange/src/broker/trading212/newFilledOrders.test.ts
  packages/exchange/src/broker/trading212/newFilledOrders.ts
  packages/messaging/src/platform/TelegramPlatform.test.ts
  packages/messaging/src/platform/TelegramPlatform.ts
  packages/messaging/src/platform/lowercaseCommandMiddleware.ts
  packages/messaging/src/platform/reportAddFlow.ts
  packages/messaging/src/platform/telegramMarkdown.ts
  packages/messaging/src/platform/wizards/tradeWizard.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
  packages/trading-strategies/src/strategy-protected/guard.ts
Due: format

fix(trading-signals-cli): find indicators by their short code
  packages/trading-signals-cli/README.md
  packages/trading-signals-cli/src/indicators.ts
  packages/trading-signals-cli/src/runCli.test.ts
Due: format

fix(trading-signals-cli): name the config a call without arguments left out
  packages/trading-signals-cli/src/indicators.ts
  packages/trading-signals-cli/src/runCli.test.ts
Due: none

fix(@typedtrader/exchange): query Alpaca history on the feed the account may use
  packages/exchange/src/broker/alpaca/AlpacaMarketData.test.ts
  packages/exchange/src/broker/alpaca/AlpacaMarketData.ts
Due: none

refactor(trading-signals-cli): split the alias map and constructor probing out of the indicator registry
  packages/trading-signals-cli/src/aliases.ts
  packages/trading-signals-cli/src/constructorProbe.ts
  packages/trading-signals-cli/src/indicators.ts
  packages/trading-signals-cli/src/runCli.test.ts
Due: none
