Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: cd packages/trading-signals && npx eslint {staged_files} --fix

chore: Remove backups
  .gitignore
  packages/trading-signals-docs/pages/indicators/momentum.tsx.bak
Due: none

test(SMA): Test required input
  packages/trading-signals/src/trend/SMA/SMA.test.ts
  packages/trading-signals/src/types/Indicator.ts
Due: lint

add enough input
  packages/trading-signals/src/momentum/MOM/MOM.test.ts
  packages/trading-signals/src/trend/SMA/SMA.test.ts
Due: lint

feat(MOM): Add signaling
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals/src/momentum/MOM/MOM.test.ts
  packages/trading-signals/src/momentum/MOM/MOM.ts
Due: lint

fix interpretation
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals/src/momentum/MOM/MOM.test.ts
  packages/trading-signals/src/momentum/MOM/MOM.ts
Due: lint

Use explicit export
  packages/trading-signals/package.json
Due: format

feat(MOM): Add signaling (#904)
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals/package.json
  packages/trading-signals/src/momentum/MOM/MOM.test.ts
  packages/trading-signals/src/momentum/MOM/MOM.ts
  packages/trading-signals/src/trend/SMA/SMA.test.ts
  packages/trading-signals/src/types/Indicator.ts
Due: format, lint

refactor(trading-signals-docs): Use local TS library
  .github/workflows/deploy-docs.yml
  package.json
  packages/trading-signals-docs/.gitignore
  packages/trading-signals-docs/next-env.d.ts
  packages/trading-signals-docs/next.config.js
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/vitest.config.ts
Due: format

refactor(trading-signals-docs): Use local TS library
  .github/workflows/deploy-docs.yml
Due: format

fix
  packages/trading-signals-docs/tsconfig.json
Due: format

rem
  packages/trading-signals-docs/vitest.config.ts
Due: none

test
  packages/trading-signals-docs/tsconfig.json
Due: format

Revert "test"
  packages/trading-signals-docs/tsconfig.json
Due: format

refactor(trading-signals-docs): Use ESM
  packages/trading-signals-docs/next.config.ts
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/postcss.config.js
Due: format

refactor(trading-signals-docs): Use React 19 & Next.js 16
  package-lock.json
  package.json
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/pages/_app.tsx
  packages/trading-signals-docs/tsconfig.json
  packages/trading-signals/package.json
Due: format

refactor(trading-signals-docs): Use React 19 & Next.js 16
  packages/trading-signals-docs/tsconfig.json
Due: format

chore(trading-signals-docs): Update dependencies
  package-lock.json
  package.json
  packages/trading-signals-docs/package.json
Due: format

refactor(trading-signals,trading-signals-docs): Share TS config
  packages/trading-signals/tsconfig.json
  tsconfig.json
Due: format

connect local package
  .github/workflows/deploy-docs.yml
  package-lock.json
  package.json
  packages/trading-signals-docs/package.json
Due: format

connect local package
  .github/workflows/deploy-docs.yml
Due: format

add development condition: https://nodejs.org/api/packages.html#conditional-exports
  packages/trading-signals/package.json
Due: format

docs: Add TLDR
  README.md
Due: format

fix configs
  package.json
  packages/trading-signals-docs/next.config.ts
  packages/trading-signals-docs/tsconfig.json
Due: format

fix configs
  packages/trading-signals-docs/tsconfig.json
Due: format

fix paths
  packages/trading-signals-docs/tsconfig.json
  packages/trading-signals/package.json
Due: format

add strategies
  package-lock.json
  package.json
  packages/trading-signals/package.json
  packages/trading-strategies/package.json
  packages/trading-strategies/src/start.ts
  packages/trading-strategies/src/strategy-coin-flip/CoinFlipStrategy.ts
  packages/trading-strategies/src/strategy/StrategyAdvice.ts
  packages/trading-strategies/src/strategy/StrategySignal.ts
  packages/trading-strategies/tsconfig.json
Due: format

update examples
  package.json
  packages/trading-signals-docs/README.md
  packages/trading-signals-docs/next.config.ts
  packages/trading-signals-docs/tsconfig.json
Due: format

update examples
  packages/trading-signals-docs/tsconfig.json
Due: format

add license
  packages/trading-strategies/LICENSE
  packages/trading-strategies/README.md
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/strategy/StrategyAdvice.ts
  packages/trading-strategies/src/strategy/index.ts
Due: format

update lockfiles
  package-lock.json
  packages/trading-strategies/package.json
Due: format

mention packages
  README.md
Due: format

improve clarity
  packages/trading-signals-docs/README.md
  packages/trading-strategies/src/strategy/StrategyAdvice.ts
Due: format

describe use-cases
  packages/trading-strategies/src/strategy-coin-flip/CoinFlipStrategy.ts
  packages/trading-strategies/src/strategy/StrategyAdvice.ts
Due: none

feat(trading-strategies): Add Trading Strategies (#906)
  .github/workflows/deploy-docs.yml
  README.md
  package-lock.json
  package.json
  packages/trading-signals-docs/README.md
  packages/trading-signals-docs/next.config.ts
  packages/trading-signals-docs/package.json
  packages/trading-signals-docs/tsconfig.json
  packages/trading-signals/package.json
  packages/trading-signals/tsconfig.json
  packages/trading-strategies/LICENSE
  packages/trading-strategies/README.md
  packages/trading-strategies/package.json
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/start.ts
  packages/trading-strategies/src/strategy-coin-flip/CoinFlipStrategy.ts
  packages/trading-strategies/src/strategy/StrategyAdvice.ts
  packages/trading-strategies/src/strategy/StrategySignal.ts
  packages/trading-strategies/src/strategy/index.ts
  packages/trading-strategies/tsconfig.json
  tsconfig.json
Due: format

[skip ci] chore: Publish
  package-lock.json
  packages/trading-signals-docs/CHANGELOG.md
  packages/trading-signals-docs/package.json
  packages/trading-signals/CHANGELOG.md
  packages/trading-signals/package.json
  packages/trading-strategies/CHANGELOG.md
  packages/trading-strategies/package.json
Due: format

refactor(trading-strategies): Adjust output directory
  packages/trading-strategies/src/strategy-coin-flip/CoinFlipStrategy.ts
  packages/trading-strategies/tsconfig.json
Due: format

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: packages/trading-signals/**/*.{js,jsx,ts,tsx}
