Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

feat(trading-signals): add the KDJ %J line to the Stochastic Oscillator
  packages/trading-signals-docs/indicator-demos/momentum/StochasticOscillator.demo.tsx
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.test.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
Due: lint

feat(trading-signals): add Qstick (QSTICK)
  packages/trading-signals-docs/indicator-demos/momentum/Qstick.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/QSTICK/Qstick.test.ts
  packages/trading-signals/src/momentum/QSTICK/Qstick.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Negative Volume Index (NVI)
  packages/trading-signals-docs/indicator-demos/volume/NVI.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volume/NVI/NVI.test.ts
  packages/trading-signals/src/volume/NVI/NVI.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

feat(trading-signals): add Positive Volume Index (PVI)
  packages/trading-signals-docs/indicator-demos/volume/PVI.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volume/PVI/PVI.test.ts
  packages/trading-signals/src/volume/PVI/PVI.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

feat(trading-signals): add Percentage Volume Oscillator (PVO)
  packages/trading-signals-docs/indicator-demos/volume/PVO.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volume/PVO/PVO.test.ts
  packages/trading-signals/src/volume/PVO/PVO.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

feat(trading-signals): add Ulcer Index (UI)
  packages/trading-signals-docs/indicator-demos/volatility/UlcerIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/UI/UlcerIndex.test.ts
  packages/trading-signals/src/volatility/UI/UlcerIndex.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add Chande Forecast Oscillator (CFO)
  packages/trading-signals-docs/indicator-demos/momentum/CFO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/CFO/CFO.test.ts
  packages/trading-signals/src/momentum/CFO/CFO.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Projection Oscillator (PO)
  packages/trading-signals-docs/indicator-demos/volatility/ProjectionOscillator.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/PO/ProjectionOscillator.test.ts
  packages/trading-signals/src/volatility/PO/ProjectionOscillator.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add Mass Index (MI)
  packages/trading-signals-docs/indicator-demos/volatility/MassIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/MI/MassIndex.test.ts
  packages/trading-signals/src/volatility/MI/MassIndex.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

docs(trading-signals): remove Indicator TS from alternatives (fully sourced)
  packages/trading-signals/README.md
Due: format

fix(trading-signals): guard degenerate zero inputs flagged by review
  packages/trading-signals/src/volatility/MI/MassIndex.test.ts
  packages/trading-signals/src/volatility/MI/MassIndex.ts
  packages/trading-signals/src/volatility/PO/ProjectionOscillator.test.ts
  packages/trading-signals/src/volatility/PO/ProjectionOscillator.ts
  packages/trading-signals/src/volatility/UI/UlcerIndex.test.ts
  packages/trading-signals/src/volatility/UI/UlcerIndex.ts
  packages/trading-signals/src/volume/NVI/NVI.test.ts
  packages/trading-signals/src/volume/NVI/NVI.ts
  packages/trading-signals/src/volume/PVI/PVI.test.ts
  packages/trading-signals/src/volume/PVI/PVI.ts
Due: lint

feat(trading-signals): add Detrended Price Oscillator (DPO)
  packages/trading-signals-docs/indicator-demos/momentum/DPO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/DPO/DPO.test.ts
  packages/trading-signals/src/momentum/DPO/DPO.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Gopalakrishnan Range Index (GAPO)
  packages/trading-signals-docs/indicator-demos/volatility/GAPO.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/GAPO/GAPO.test.ts
  packages/trading-signals/src/volatility/GAPO/GAPO.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add Bollinger Bands %B (PB)
  packages/trading-signals-docs/indicator-demos/volatility/PercentB.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/PB/PercentB.test.ts
  packages/trading-signals/src/volatility/PB/PercentB.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add Pretty Good Oscillator (PGO)
  packages/trading-signals-docs/indicator-demos/momentum/PGO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/PGO/PGO.test.ts
  packages/trading-signals/src/momentum/PGO/PGO.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Price Momentum Oscillator (PMO)
  packages/trading-signals-docs/indicator-demos/momentum/PMO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/PMO/PMO.test.ts
  packages/trading-signals/src/momentum/PMO/PMO.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

docs(trading-signals): remove Cloud9Trader from alternatives (fully sourced)
  packages/trading-signals/README.md
Due: format

docs(trading-signals): remove technicalindicators from alternatives (strict subset, fully covered)
  packages/trading-signals/README.md
Due: format

fix(trading-signals): reject non-finite PMO smoothing intervals flagged by review
  packages/trading-signals/src/momentum/PMO/PMO.test.ts
  packages/trading-signals/src/momentum/PMO/PMO.ts
Due: lint

feat(trading-signals): close the indicatorts feature gap (8 indicators + KDJ %J line) (#1290)
  packages/trading-signals-docs/indicator-demos/momentum/CFO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/Qstick.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/StochasticOscillator.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals-docs/indicator-demos/volatility/MassIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/ProjectionOscillator.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/UlcerIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals-docs/indicator-demos/volume/NVI.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/PVI.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/PVO.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/CFO/CFO.test.ts
  packages/trading-signals/src/momentum/CFO/CFO.ts
  packages/trading-signals/src/momentum/QSTICK/Qstick.test.ts
  packages/trading-signals/src/momentum/QSTICK/Qstick.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.test.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/index.ts
  packages/trading-signals/src/volatility/MI/MassIndex.test.ts
  packages/trading-signals/src/volatility/MI/MassIndex.ts
  packages/trading-signals/src/volatility/PO/ProjectionOscillator.test.ts
  packages/trading-signals/src/volatility/PO/ProjectionOscillator.ts
  packages/trading-signals/src/volatility/UI/UlcerIndex.test.ts
  packages/trading-signals/src/volatility/UI/UlcerIndex.ts
  packages/trading-signals/src/volatility/index.ts
  packages/trading-signals/src/volume/NVI/NVI.test.ts
  packages/trading-signals/src/volume/NVI/NVI.ts
  packages/trading-signals/src/volume/PVI/PVI.test.ts
  packages/trading-signals/src/volume/PVI/PVI.ts
  packages/trading-signals/src/volume/PVO/PVO.test.ts
  packages/trading-signals/src/volume/PVO/PVO.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

feat(trading-signals): close the Cloud9Trader feature gap (PB, DPO, PGO, GAPO, PMO) (#1298)
  packages/trading-signals-docs/indicator-demos/momentum/DPO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/PGO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/PMO.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals-docs/indicator-demos/volatility/GAPO.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/PercentB.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/DPO/DPO.test.ts
  packages/trading-signals/src/momentum/DPO/DPO.ts
  packages/trading-signals/src/momentum/PGO/PGO.test.ts
  packages/trading-signals/src/momentum/PGO/PGO.ts
  packages/trading-signals/src/momentum/PMO/PMO.test.ts
  packages/trading-signals/src/momentum/PMO/PMO.ts
  packages/trading-signals/src/momentum/index.ts
  packages/trading-signals/src/volatility/GAPO/GAPO.test.ts
  packages/trading-signals/src/volatility/GAPO/GAPO.ts
  packages/trading-signals/src/volatility/PB/PercentB.test.ts
  packages/trading-signals/src/volatility/PB/PercentB.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add Disparity Index (DI)
  packages/trading-signals-docs/indicator-demos/momentum/DisparityIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/DI/DisparityIndex.test.ts
  packages/trading-signals/src/momentum/DI/DisparityIndex.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

docs(trading-signals): remove Highcharts Indicators from alternatives (fully sourced)
  packages/trading-signals/README.md
Due: format

feat(trading-signals): close the Highcharts indicator gap (Disparity Index) (#1292)
  packages/trading-signals-docs/indicator-demos/momentum/DisparityIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/DI/DisparityIndex.test.ts
  packages/trading-signals/src/momentum/DI/DisparityIndex.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Schaff Trend Cycle (STC)
  packages/trading-signals-docs/indicator-demos/momentum/STC.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/STC/STC.test.ts
  packages/trading-signals/src/momentum/STC/STC.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Choppiness Index (CHOP)
  packages/trading-signals-docs/indicator-demos/volatility/CHOP.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/CHOP/CHOP.test.ts
  packages/trading-signals/src/volatility/CHOP/CHOP.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add Chaikin Volatility (CVI)
  packages/trading-signals-docs/indicator-demos/volatility/CVI.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/CVI/CVI.test.ts
  packages/trading-signals/src/volatility/CVI/CVI.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add TTM Squeeze (SQUEEZE)
  packages/trading-signals-docs/indicator-demos/volatility/TTMSqueeze.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.test.ts
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

docs(trading-signals): remove Jesse from alternatives (fully sourced)
  packages/trading-signals/README.md
Due: format

feat(trading-signals): add WaveTrend (WT)
  packages/trading-signals-docs/indicator-demos/momentum/WaveTrend.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/WT/WaveTrend.test.ts
  packages/trading-signals/src/momentum/WT/WaveTrend.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add SuperSmoother Filter (SUPERSMOOTHER)
  packages/trading-signals-docs/indicator-demos/trend/SuperSmoother.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/MA/MovingAverageTypes.ts
  packages/trading-signals/src/trend/SUPERSMOOTHER/SuperSmoother.test.ts
  packages/trading-signals/src/trend/SUPERSMOOTHER/SuperSmoother.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add McGinley Dynamic (MD)
  packages/trading-signals-docs/indicator-demos/trend/McGinleyDynamic.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/MA/MovingAverageTypes.ts
  packages/trading-signals/src/trend/MD/McGinleyDynamic.test.ts
  packages/trading-signals/src/trend/MD/McGinleyDynamic.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint
