Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: cd packages/trading-signals && npx eslint {staged_files} --fix

refactor(trading-signals): drop the shape that claimed more than the types can check
  packages/trading-signals-cli/README.md
  packages/trading-signals-cli/src/runCli.test.ts
  packages/trading-signals-cli/src/runCli.ts
  packages/trading-signals-cli/src/runIndicator.ts
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/volume/PVO/PVO.ts
  packages/trading-signals/src/volume/RVOL/RVOL.ts
  packages/trading-signals/src/volume/VROC/VROC.ts
Due: format, lint

test(trading-signals-cli): cover missing inputShape guard in runIndicator (#1369)
  package-lock.json
  packages/trading-signals-cli/src/runCli.test.ts
Due: format

Revert "feat(trading-signals): check an input against the shape it is supposed to have"
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/src/base/Indicator.test.ts
  packages/trading-signals/src/base/Indicator.ts
Due: format, lint

feat(trading-signals): check an input against the shape it is supposed to have
  packages/trading-signals-cli/src/runIndicator.ts
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/src/base/Indicator.test.ts
  packages/trading-signals/src/base/Indicator.ts
Due: format, lint

chore(trading-signals-cli): apply oxfmt to runCli.test.ts
  packages/trading-signals-cli/src/runCli.test.ts
Due: none

test(trading-signals): add exhaustive INPUT_SHAPE_FIELDS contract coverage (#1367)
  packages/trading-signals/src/base/Indicator.test.ts
Due: lint

chore(trading-signals-vocs): typecheck in CI and regenerate pages on build
  packages/trading-signals-vocs/package.json
Due: format

refactor(trading-signals-vocs): drop any, type casts and non-null assertions
  packages/trading-signals-vocs/src/components/BacktestApp.tsx
  packages/trading-signals-vocs/src/components/CalculatorDemo.tsx
  packages/trading-signals-vocs/src/components/DataTable.tsx
  packages/trading-signals-vocs/src/components/StrategyConfigurator.tsx
  packages/trading-signals-vocs/src/indicator-demos/trend/DMA.demo.tsx
  packages/trading-signals-vocs/src/utils/schemaProperties.ts
  packages/trading-signals-vocs/src/utils/strategySchemas.ts
Due: none

feat(trading-signals): add a crossover signal to DMA
  packages/trading-signals/src/trend/DMA/DMA.test.ts
  packages/trading-signals/src/trend/DMA/DMA.ts
Due: lint

feat(trading-signals): add a crossover signal to DMA (#1370)
  packages/trading-signals/src/trend/DMA/DMA.test.ts
  packages/trading-signals/src/trend/DMA/DMA.ts
Due: lint

feat(trading-signals-vocs): show the DMA crossover signal in its demo
  packages/trading-signals-vocs/src/indicator-demos/trend/DMA.demo.tsx
Due: none

fix(trading-signals-vocs): only offer protection for strategies that support it
  packages/trading-signals-vocs/src/components/BacktestApp.tsx
  packages/trading-signals-vocs/src/utils/schemaProperties.ts
Due: none

fix(trading-signals-vocs): base win rate on completed cycles and show no winner on a tie
  packages/trading-signals-vocs/src/components/BacktestResults.tsx
Due: none

fix(trading-signals-vocs): reject uploaded candles with invalid numbers, dates or order
  packages/trading-signals-vocs/src/components/DatasetSelector.tsx
Due: none

fix(trading-signals-vocs): keep Save disabled while a protection guard is incomplete
  packages/trading-signals-vocs/src/components/ProtectionModal.tsx
Due: none

test(trading-strategies): import the strategy registry statically in the NoopStrategy test
  packages/trading-strategies/src/strategy-noop/NoopStrategy.test.ts
Due: none

fix(trading-signals-vocs): clear backtest results when balances or config change
  packages/trading-signals-vocs/src/components/BacktestApp.tsx
Due: none

fix(trading-signals-vocs): label backtest amounts with the quote currency
  packages/trading-signals-vocs/src/components/BacktestResults.tsx
Due: none

fix(trading-signals-vocs): reject uploaded candles whose range excludes open or close
  packages/trading-signals-vocs/src/components/DatasetSelector.tsx
Due: none

fix(trading-signals-vocs): make the protection settings a native modal dialog
  packages/trading-signals-vocs/src/components/ProtectionModal.tsx
Due: none

fix(trading-signals-vocs): use the singular for one-input warm-ups
  packages/trading-signals-vocs/scripts/generate-indicator-pages.ts
  packages/trading-signals-vocs/src/pages/indicators/momentum/bop.mdx
  packages/trading-signals-vocs/src/pages/indicators/momentum/ibs.mdx
  packages/trading-signals-vocs/src/pages/indicators/trend/vwap.mdx
  packages/trading-signals-vocs/src/pages/indicators/trend/zigzag.mdx
  packages/trading-signals-vocs/src/pages/indicators/volatility/tr.mdx
  packages/trading-signals-vocs/src/pages/indicators/volume/ad.mdx
  packages/trading-signals-vocs/src/pages/indicators/volume/marketfi.mdx
  packages/trading-signals-vocs/src/pages/indicators/volume/nvi.mdx
  packages/trading-signals-vocs/src/pages/indicators/volume/pvi.mdx
Due: none

chore: skip the lint autofix hook during merges and rebases
  lefthook.yml
Due: format

Clean up comments in lefthook.yml
  lefthook.yml
Due: format

chore: skip the lint autofix hook during merges and rebases (#1371)
  lefthook.yml
Due: format

fix(trading-strategies): call strategy init in BacktestExecutor
  packages/trading-strategies/src/backtest/BacktestConfig.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.test.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.ts
  packages/trading-strategies/src/start/runBacktest.ts
Due: none

refactor(trading-strategies): pass the broker mock to init instead of a warmup source
  packages/exchange/src/broker/BrokerMock.ts
  packages/trading-strategies/src/backtest/BacktestConfig.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.test.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.ts
  packages/trading-strategies/src/start/runBacktest.ts
Due: none

feat(@typedtrader/exchange): anchor the broker mock clock to the backtest start
  packages/exchange/src/broker/BrokerMock.test.ts
  packages/exchange/src/broker/BrokerMock.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.test.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.ts
Due: none

feat(@typedtrader/exchange): let the broker mock serve real history from before its current time
  packages/exchange/src/broker/BrokerMock.test.ts
  packages/exchange/src/broker/BrokerMock.ts
  packages/exchange/src/broker/MarketDataSource.ts
  packages/exchange/src/broker/alpaca/AlpacaBrokerMock.ts
  packages/trading-strategies/src/start/runBacktest.ts
Due: none

feat(trading-strategies): warm up CLI backtests from an Alpaca paper account
  packages/trading-strategies/src/start/runBacktest.ts
Due: none

fix(@typedtrader/exchange): read Alpaca market data from the regular hosts in paper mode
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.test.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/broker/alpaca/api/AlpacaStream.test.ts
  packages/exchange/src/broker/alpaca/api/AlpacaStream.ts
Due: none

fix(@typedtrader/exchange): read Alpaca market data from the regular hosts in paper mode (#1374)
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.test.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/broker/alpaca/api/AlpacaStream.test.ts
  packages/exchange/src/broker/alpaca/api/AlpacaStream.ts
Due: none

feat(@typedtrader/exchange): pick the Alpaca data feed from the account's subscription
  packages/exchange/src/broker/alpaca/AlpacaMarketData.test.ts
  packages/exchange/src/broker/alpaca/AlpacaMarketData.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
Due: none

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: packages/trading-signals/**/*.{js,jsx,ts,tsx}
