Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: cd packages/trading-signals && npx eslint {staged_files} --fix

feat(trading-signals): add MESA Adaptive Moving Average (MAMA)
  packages/trading-signals-docs/indicator-demos/trend/MAMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/MAMA/MAMA.test.ts
  packages/trading-signals/src/trend/MAMA/MAMA.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Waddah Attar Explosion (WAE)
  packages/trading-signals-docs/indicator-demos/momentum/WaddahAttarExplosion.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/WAE/WaddahAttarExplosion.test.ts
  packages/trading-signals/src/momentum/WAE/WaddahAttarExplosion.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): close the Jesse feature gap (9 indicators) (#1293)
  packages/trading-signals-docs/indicator-demos/momentum/STC.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/WaddahAttarExplosion.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/WaveTrend.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals-docs/indicator-demos/trend/MAMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/McGinleyDynamic.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/SuperSmoother.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals-docs/indicator-demos/volatility/CHOP.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/CVI.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/TTMSqueeze.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/STC/STC.test.ts
  packages/trading-signals/src/momentum/STC/STC.ts
  packages/trading-signals/src/momentum/WAE/WaddahAttarExplosion.test.ts
  packages/trading-signals/src/momentum/WAE/WaddahAttarExplosion.ts
  packages/trading-signals/src/momentum/WT/WaveTrend.test.ts
  packages/trading-signals/src/momentum/WT/WaveTrend.ts
  packages/trading-signals/src/momentum/index.ts
  packages/trading-signals/src/trend/MA/MovingAverageTypes.ts
  packages/trading-signals/src/trend/MAMA/MAMA.test.ts
  packages/trading-signals/src/trend/MAMA/MAMA.ts
  packages/trading-signals/src/trend/MD/McGinleyDynamic.test.ts
  packages/trading-signals/src/trend/MD/McGinleyDynamic.ts
  packages/trading-signals/src/trend/SUPERSMOOTHER/SuperSmoother.test.ts
  packages/trading-signals/src/trend/SUPERSMOOTHER/SuperSmoother.ts
  packages/trading-signals/src/trend/index.ts
  packages/trading-signals/src/volatility/CHOP/CHOP.test.ts
  packages/trading-signals/src/volatility/CHOP/CHOP.ts
  packages/trading-signals/src/volatility/CVI/CVI.test.ts
  packages/trading-signals/src/volatility/CVI/CVI.ts
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.test.ts
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add Wilder's Swing Index (SI) and Accumulative Swing Index (ASI)
  packages/trading-signals-docs/indicator-demos/momentum/AccumulativeSwingIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/SI/AccumulativeSwingIndex.ts
  packages/trading-signals/src/momentum/SI/SwingIndex.test.ts
  packages/trading-signals/src/momentum/SI/SwingIndex.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Chande Kroll Stop (CKS)
  packages/trading-signals-docs/indicator-demos/trend/ChandeKrollStop.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/CKS/ChandeKrollStop.test.ts
  packages/trading-signals/src/trend/CKS/ChandeKrollStop.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add ConnorsRSI (CRSI)
  packages/trading-signals-docs/indicator-demos/momentum/ConnorsRSI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/CRSI/ConnorsRSI.test.ts
  packages/trading-signals/src/momentum/CRSI/ConnorsRSI.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Premier Stochastic Oscillator (PSO)
  packages/trading-signals-docs/indicator-demos/momentum/PremierStochastic.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/PSO/PremierStochastic.test.ts
  packages/trading-signals/src/momentum/PSO/PremierStochastic.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Internal Bar Strength (IBS)
  packages/trading-signals-docs/indicator-demos/momentum/IBS.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/IBS/IBS.test.ts
  packages/trading-signals/src/momentum/IBS/IBS.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

docs(trading-signals): remove libindicators from alternatives (strict subset, fully covered)
  packages/trading-signals/README.md
Due: format

feat(trading-signals): add DeMarker (DEM)
  packages/trading-signals-docs/indicator-demos/momentum/DeMarker.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/DEM/DeMarker.test.ts
  packages/trading-signals/src/momentum/DEM/DeMarker.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Derivative Oscillator (DOSC)
  packages/trading-signals-docs/indicator-demos/momentum/DerivativeOscillator.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/DOSC/DerivativeOscillator.test.ts
  packages/trading-signals/src/momentum/DOSC/DerivativeOscillator.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Relative Vigor Index (RVGI)
  packages/trading-signals-docs/indicator-demos/momentum/RelativeVigorIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/RVGI/RelativeVigorIndex.test.ts
  packages/trading-signals/src/momentum/RVGI/RelativeVigorIndex.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Rogers-Satchell Volatility (RSV)
  packages/trading-signals-docs/indicator-demos/volatility/RogersSatchellVolatility.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/RSV/RogersSatchellVolatility.test.ts
  packages/trading-signals/src/volatility/RSV/RogersSatchellVolatility.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

docs(trading-signals): remove LEAN from alternatives (fully sourced)
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
Due: format

feat(trading-signals): close the LEAN feature gap (10 indicators) (#1294)
  packages/trading-signals-docs/indicator-demos/momentum/AccumulativeSwingIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/ConnorsRSI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/DeMarker.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/DerivativeOscillator.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/IBS.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/PremierStochastic.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/RelativeVigorIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals-docs/indicator-demos/trend/ChandeKrollStop.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals-docs/indicator-demos/volatility/RogersSatchellVolatility.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/CRSI/ConnorsRSI.test.ts
  packages/trading-signals/src/momentum/CRSI/ConnorsRSI.ts
  packages/trading-signals/src/momentum/DEM/DeMarker.test.ts
  packages/trading-signals/src/momentum/DEM/DeMarker.ts
  packages/trading-signals/src/momentum/DOSC/DerivativeOscillator.test.ts
  packages/trading-signals/src/momentum/DOSC/DerivativeOscillator.ts
  packages/trading-signals/src/momentum/IBS/IBS.test.ts
  packages/trading-signals/src/momentum/IBS/IBS.ts
  packages/trading-signals/src/momentum/PSO/PremierStochastic.test.ts
  packages/trading-signals/src/momentum/PSO/PremierStochastic.ts
  packages/trading-signals/src/momentum/RVGI/RelativeVigorIndex.test.ts
  packages/trading-signals/src/momentum/RVGI/RelativeVigorIndex.ts
  packages/trading-signals/src/momentum/SI/AccumulativeSwingIndex.ts
  packages/trading-signals/src/momentum/SI/SwingIndex.test.ts
  packages/trading-signals/src/momentum/SI/SwingIndex.ts
  packages/trading-signals/src/momentum/index.ts
  packages/trading-signals/src/trend/CKS/ChandeKrollStop.test.ts
  packages/trading-signals/src/trend/CKS/ChandeKrollStop.ts
  packages/trading-signals/src/trend/index.ts
  packages/trading-signals/src/volatility/RSV/RogersSatchellVolatility.test.ts
  packages/trading-signals/src/volatility/RSV/RogersSatchellVolatility.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

feat(trading-signals): add Psychological Line (PSL)
  packages/trading-signals-docs/indicator-demos/momentum/PSL.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/PSL/PSL.test.ts
  packages/trading-signals/src/momentum/PSL/PSL.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Stochastic Momentum Index (SMI)
  packages/trading-signals-docs/indicator-demos/momentum/SMI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/SMI/SMI.test.ts
  packages/trading-signals/src/momentum/SMI/SMI.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Quantitative Qualitative Estimation (QQE)
  packages/trading-signals-docs/indicator-demos/momentum/QQE.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/QQE/QQE.test.ts
  packages/trading-signals/src/momentum/QQE/QQE.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Relative Volatility Index (RVI)
  packages/trading-signals-docs/indicator-demos/volatility/RelativeVolatilityIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volatility/RVI/RelativeVolatilityIndex.test.ts
  packages/trading-signals/src/volatility/RVI/RelativeVolatilityIndex.ts
  packages/trading-signals/src/volatility/index.ts
Due: format, lint

fix(trading-signals): reject a single-close RVI deviation window flagged by review
  packages/trading-signals/src/volatility/RVI/RelativeVolatilityIndex.test.ts
  packages/trading-signals/src/volatility/RVI/RelativeVolatilityIndex.ts
Due: lint

feat(trading-signals): add Williams Accumulation/Distribution (WAD)
  packages/trading-signals-docs/indicator-demos/volume/WAD.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volume/WAD/WAD.test.ts
  packages/trading-signals/src/volume/WAD/WAD.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

feat(trading-signals): add Market Facilitation Index (MARKETFI)
  packages/trading-signals-docs/indicator-demos/volume/MarketFacilitationIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/volume/MARKETFI/MarketFacilitationIndex.test.ts
  packages/trading-signals/src/volume/MARKETFI/MarketFacilitationIndex.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

docs(trading-signals): remove Pandas TA from alternatives (fully sourced)
  packages/trading-signals/README.md
Due: format

feat(trading-signals): add Vertical Horizontal Filter (VHF)
  packages/trading-signals-docs/indicator-demos/trend/VHF.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/VHF/VHF.test.ts
  packages/trading-signals/src/trend/VHF/VHF.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Gann HiLo Activator (HILO)
  packages/trading-signals-docs/indicator-demos/trend/GannHiLo.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/HILO/GannHiLo.test.ts
  packages/trading-signals/src/trend/HILO/GannHiLo.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): close the Pandas TA feature gap (8 indicators) (#1295)
  packages/trading-signals-docs/indicator-demos/momentum/PSL.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/QQE.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/SMI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals-docs/indicator-demos/trend/GannHiLo.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/VHF.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals-docs/indicator-demos/volatility/RelativeVolatilityIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/index.tsx
  packages/trading-signals-docs/indicator-demos/volume/MarketFacilitationIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/WAD.demo.tsx
  packages/trading-signals-docs/indicator-demos/volume/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/PSL/PSL.test.ts
  packages/trading-signals/src/momentum/PSL/PSL.ts
  packages/trading-signals/src/momentum/QQE/QQE.test.ts
  packages/trading-signals/src/momentum/QQE/QQE.ts
  packages/trading-signals/src/momentum/SMI/SMI.test.ts
  packages/trading-signals/src/momentum/SMI/SMI.ts
  packages/trading-signals/src/momentum/index.ts
  packages/trading-signals/src/trend/HILO/GannHiLo.test.ts
  packages/trading-signals/src/trend/HILO/GannHiLo.ts
  packages/trading-signals/src/trend/VHF/VHF.test.ts
  packages/trading-signals/src/trend/VHF/VHF.ts
  packages/trading-signals/src/trend/index.ts
  packages/trading-signals/src/volatility/RVI/RelativeVolatilityIndex.test.ts
  packages/trading-signals/src/volatility/RVI/RelativeVolatilityIndex.ts
  packages/trading-signals/src/volatility/index.ts
  packages/trading-signals/src/volume/MARKETFI/MarketFacilitationIndex.test.ts
  packages/trading-signals/src/volume/MARKETFI/MarketFacilitationIndex.ts
  packages/trading-signals/src/volume/WAD/WAD.test.ts
  packages/trading-signals/src/volume/WAD/WAD.ts
  packages/trading-signals/src/volume/index.ts
Due: format, lint

feat(trading-signals): add Williams Alligator (ALLIGATOR) and Gator Oscillator (GATOR)
  packages/trading-signals-docs/indicator-demos/trend/Alligator.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.test.ts
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.ts
  packages/trading-signals/src/trend/ALLIGATOR/GatorOscillator.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Rank Correlation Index (RCI)
  packages/trading-signals-docs/indicator-demos/momentum/RCI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/RCI/RCI.test.ts
  packages/trading-signals/src/momentum/RCI/RCI.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Hilbert Transform Instantaneous Trendline (HT)
  packages/trading-signals-docs/indicator-demos/trend/HTTrendline.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/HT/HTTrendline.test.ts
  packages/trading-signals/src/trend/HT/HTTrendline.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

docs(trading-signals): remove ta-lib from alternatives (fully covered, zero gaps)
  packages/trading-signals/README.md
Due: format

fix(trading-signals): validate constructor inputs flagged by review
  packages/trading-signals/src/momentum/IMI/IMI.test.ts
  packages/trading-signals/src/momentum/IMI/IMI.ts
  packages/trading-signals/src/momentum/LRSI/LaguerreRSI.test.ts
  packages/trading-signals/src/momentum/LRSI/LaguerreRSI.ts
  packages/trading-signals/src/momentum/RCI/RCI.test.ts
  packages/trading-signals/src/momentum/RCI/RCI.ts
  packages/trading-signals/src/momentum/RMI/RMI.test.ts
  packages/trading-signals/src/momentum/RMI/RMI.ts
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.test.ts
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.ts
Due: lint

feat(trading-signals): add Laguerre RSI (LRSI)
  packages/trading-signals-docs/indicator-demos/momentum/LaguerreRSI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/LRSI/LaguerreRSI.test.ts
  packages/trading-signals/src/momentum/LRSI/LaguerreRSI.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

docs(trading-signals): remove Stock Indicators .NET and StockSharp from alternatives (fully sourced)
  packages/trading-signals/README.md
Due: format

feat(trading-signals): add Intraday Momentum Index (IMI)
  packages/trading-signals-docs/indicator-demos/momentum/IMI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/IMI/IMI.test.ts
  packages/trading-signals/src/momentum/IMI/IMI.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): add Relative Momentum Index (RMI)
  packages/trading-signals-docs/indicator-demos/momentum/RMI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/RMI/RMI.test.ts
  packages/trading-signals/src/momentum/RMI/RMI.ts
  packages/trading-signals/src/momentum/index.ts
Due: format, lint

feat(trading-signals): close the Stock Indicators .NET and StockSharp gaps (7 indicators) (#1296)
  packages/trading-signals-docs/indicator-demos/momentum/IMI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/LaguerreRSI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/RCI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/RMI.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/index.tsx
  packages/trading-signals-docs/indicator-demos/trend/Alligator.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/HTTrendline.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/IMI/IMI.test.ts
  packages/trading-signals/src/momentum/IMI/IMI.ts
  packages/trading-signals/src/momentum/LRSI/LaguerreRSI.test.ts
  packages/trading-signals/src/momentum/LRSI/LaguerreRSI.ts
  packages/trading-signals/src/momentum/RCI/RCI.test.ts
  packages/trading-signals/src/momentum/RCI/RCI.ts
  packages/trading-signals/src/momentum/RMI/RMI.test.ts
  packages/trading-signals/src/momentum/RMI/RMI.ts
  packages/trading-signals/src/momentum/index.ts
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.test.ts
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.ts
  packages/trading-signals/src/trend/ALLIGATOR/GatorOscillator.ts
  packages/trading-signals/src/trend/HT/HTTrendline.test.ts
  packages/trading-signals/src/trend/HT/HTTrendline.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

feat(trading-signals): add Random Walk Index (RWI)
  packages/trading-signals-docs/indicator-demos/trend/RandomWalkIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/RWI/RandomWalkIndex.test.ts
  packages/trading-signals/src/trend/RWI/RandomWalkIndex.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

docs(trading-signals): explain the RWI warm-up bound challenged by review
  packages/trading-signals/src/trend/RWI/RandomWalkIndex.ts
Due: lint

feat(trading-signals): add Average Directional Index Rating (ADXR)
  packages/trading-signals-docs/indicator-demos/trend/ADXR.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/ADXR/ADXR.test.ts
  packages/trading-signals/src/trend/ADXR/ADXR.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

docs(trading-signals): remove the alternatives section (all 15 libraries fully sourced)
  packages/trading-signals/README.md
Due: format

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: packages/trading-signals/**/*.{js,jsx,ts,tsx}
