Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: cd packages/trading-signals && npx eslint {staged_files} --fix

fix(messaging): use persisted config when running scheduled reports
  packages/messaging/src/service/ReportScheduler.ts
Due: none

fix(messaging): use persisted config when running scheduled reports (#1052)
  packages/messaging/src/service/ReportScheduler.ts
Due: none

feat(trading-signals): add swing-point and stop-level indicators
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.test.ts
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.ts
  packages/trading-signals/src/trend/HIGHER_LOW_TRAIL/HigherLowTrail.test.ts
  packages/trading-signals/src/trend/HIGHER_LOW_TRAIL/HigherLowTrail.ts
  packages/trading-signals/src/trend/SWING_HIGH/SwingHigh.test.ts
  packages/trading-signals/src/trend/SWING_HIGH/SwingHigh.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLookback.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLow.test.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLow.ts
  packages/trading-signals/src/trend/StopComparison.test.ts
  packages/trading-signals/src/trend/index.ts
Due: lint

refactor(trading-signals): drop non-null assertions in swing indicators
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.test.ts
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.ts
  packages/trading-signals/src/trend/HIGHER_LOW_TRAIL/HigherLowTrail.ts
  packages/trading-signals/src/trend/SWING_HIGH/SwingHigh.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLow.ts
Due: lint

refactor(trading-signals): use HighLow object arrays in new indicator tests
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.test.ts
  packages/trading-signals/src/trend/HIGHER_LOW_TRAIL/HigherLowTrail.test.ts
  packages/trading-signals/src/trend/SWING_HIGH/SwingHigh.test.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLow.test.ts
Due: lint

feat(trading-strategies): add TrailingHigherLowStrategy
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/strategy-trailing-higher-low/TrailingHigherLowStrategy.test.ts
  packages/trading-strategies/src/strategy-trailing-higher-low/TrailingHigherLowStrategy.ts
Due: none

docs(trading-signals-docs): make indicator listing exhaustive
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/pages/indicators/trend.tsx
  packages/trading-signals-docs/pages/indicators/utilities.tsx
Due: none

revert(trading-strategies): drop TrailingHigherLowStrategy
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/strategy-trailing-higher-low/TrailingHigherLowStrategy.test.ts
  packages/trading-strategies/src/strategy-trailing-higher-low/TrailingHigherLowStrategy.ts
Due: none

fix(trading-signals): roll back sparse-indicator emissions on invalidating replace
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.test.ts
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.ts
  packages/trading-signals/src/trend/HIGHER_LOW_TRAIL/HigherLowTrail.test.ts
  packages/trading-signals/src/trend/HIGHER_LOW_TRAIL/HigherLowTrail.ts
  packages/trading-signals/src/trend/SWING_HIGH/SwingHigh.test.ts
  packages/trading-signals/src/trend/SWING_HIGH/SwingHigh.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLow.test.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLow.ts
  packages/trading-signals/src/types/Indicator.ts
Due: lint

fix(trading-signals-docs): drop ER column's custom toFixed render
  packages/trading-signals-docs/pages/indicators/momentum.tsx
Due: none

feat(trading-signals): add swing-point and stop-level indicators (#1053)
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/pages/indicators/trend.tsx
  packages/trading-signals-docs/pages/indicators/utilities.tsx
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.test.ts
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.ts
  packages/trading-signals/src/trend/HIGHER_LOW_TRAIL/HigherLowTrail.test.ts
  packages/trading-signals/src/trend/HIGHER_LOW_TRAIL/HigherLowTrail.ts
  packages/trading-signals/src/trend/SWING_HIGH/SwingHigh.test.ts
  packages/trading-signals/src/trend/SWING_HIGH/SwingHigh.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLookback.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLow.test.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLow.ts
  packages/trading-signals/src/trend/StopComparison.test.ts
  packages/trading-signals/src/trend/index.ts
  packages/trading-signals/src/types/Indicator.ts
Due: lint

refactor(trading-signals, exchange, trading-signals-docs): adopt TypeScript 6 and enable erasableSyntaxOnly
  packages/exchange/src/exchange/Exchange.ts
  packages/exchange/src/exchange/TradingPair.ts
  packages/exchange/src/exchange/alpaca/api/schema/PositionSchema.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
  packages/trading-signals-docs/tsconfig.json
  packages/trading-signals/src/momentum/AC/AC.ts
  packages/trading-signals/src/momentum/AO/AO.ts
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/CG/CG.ts
  packages/trading-signals/src/momentum/ER/ER.ts
  packages/trading-signals/src/momentum/MACD/MACD.ts
  packages/trading-signals/src/momentum/MOM/MOM.ts
  packages/trading-signals/src/momentum/OBV/OBV.ts
  packages/trading-signals/src/momentum/REI/REI.ts
  packages/trading-signals/src/momentum/ROC/ROC.ts
  packages/trading-signals/src/momentum/RSI/RSI.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.ts
  packages/trading-signals/src/momentum/WILLR/WilliamsR.ts
  packages/trading-signals/src/trend/ADX/ADX.ts
  packages/trading-signals/src/trend/DEMA/DEMA.ts
  packages/trading-signals/src/trend/DX/DX.ts
  packages/trading-signals/src/trend/EMA/EMA.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
  packages/trading-signals/src/trend/MA/MovingAverage.ts
  packages/trading-signals/src/trend/RMA/RMA.ts
  packages/trading-signals/src/trend/WMA/WMA.ts
  packages/trading-signals/src/trend/WSMA/WSMA.ts
  packages/trading-signals/src/types/Period.ts
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.ts
  packages/trading-signals/src/volatility/ATR/ATR.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
  packages/trading-signals/src/volatility/BBW/BollingerBandsWidth.ts
  packages/trading-signals/src/volatility/IQR/IQR.ts
  packages/trading-signals/src/volatility/MAD/MAD.ts
  packages/trading-signals/src/volume/CMF/CMF.ts
  packages/trading-signals/src/volume/EMV/EMV.ts
  packages/trading-signals/src/volume/VROC/VROC.ts
  packages/trading-signals/src/volume/VWMA/VWMA.ts
  tsconfig.lib.json
Due: format, lint

update
  .gitignore
  README.md
Due: format

refactor(exchange): address Copilot review comments
  packages/exchange/src/exchange/alpaca/api/schema/PositionSchema.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
Due: none

refactor(exchange, trading-strategies): rename ALL_AVAILABLE_AMOUNT to AllAvailableAmount
  packages/exchange/src/trader/TradingSession.test.ts
  packages/exchange/src/trader/TradingSession.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.test.ts
  packages/trading-strategies/src/backtest/BacktestExecutor.ts
  packages/trading-strategies/src/strategy-buy-below-sell-above/BuyBelowSellAboveStrategy.ts
  packages/trading-strategies/src/strategy-buy-once/BuyOnceStrategy.ts
  packages/trading-strategies/src/strategy-coin-flip/CoinFlipStrategy.ts
  packages/trading-strategies/src/strategy-mean-reversion/MeanReversionStrategy.ts
  packages/trading-strategies/src/strategy-multi-indicator-confluence/MultiIndicatorConfluenceStrategy.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.ts
Due: none

chore: Delete docs directory
  docs/superpowers/plans/2026-03-11-messaging-abstraction.md
  docs/superpowers/specs/2026-03-11-messaging-abstraction-design.md
Due: format

feat(exchange): add isEarningsDay util backed by Finnhub
  packages/exchange/src/index.ts
  packages/exchange/src/util/index.ts
  packages/exchange/src/util/isEarningsDay.ts
Due: none

feat(messaging, trading-strategies): wizards, list tables, NoopStrategy
  packages/messaging/src/command/account/accountAdd.ts
  packages/messaging/src/command/account/accountList.ts
  packages/messaging/src/command/formatTable.ts
  packages/messaging/src/command/report/reportList.ts
  packages/messaging/src/command/report/reportRemove.ts
  packages/messaging/src/command/strategy/strategyAdd.ts
  packages/messaging/src/command/strategy/strategyList.ts
  packages/messaging/src/command/watch/watchAdd.ts
  packages/messaging/src/command/watch/watchList.ts
  packages/messaging/src/platform/MessagingPlatform.ts
  packages/messaging/src/platform/TelegramPlatform.ts
  packages/messaging/src/platform/wizards/accountAddWizard.ts
  packages/messaging/src/platform/wizards/shared.ts
  packages/messaging/src/platform/wizards/strategyAddWizard.ts
  packages/messaging/src/platform/wizards/watchAddWizard.ts
  packages/messaging/src/startServer.ts
  packages/trading-strategies/src/index.ts
  packages/trading-strategies/src/strategy-noop/NoopStrategy.test.ts
  packages/trading-strategies/src/strategy-noop/NoopStrategy.ts
  packages/trading-strategies/src/strategy/StrategyRegistry.ts
Due: none

fix(messaging): wizard cancel/pivot, parallel conversations, no secrets in logs
  packages/messaging/src/platform/TelegramPlatform.ts
  packages/messaging/src/platform/wizards/accountAddWizard.ts
  packages/messaging/src/platform/wizards/shared.ts
  packages/messaging/src/platform/wizards/strategyAddWizard.ts
  packages/messaging/src/platform/wizards/watchAddWizard.ts
Due: none

test(exchange): add unit tests for isEarningsDay
  packages/exchange/src/util/isEarningsDay.test.ts
Due: none

docs(trading-signals-docs): surface isEarningsDay on the utilities page
  packages/trading-signals-docs/pages/indicators/utilities.tsx
Due: none

Revert "docs(trading-signals-docs): surface isEarningsDay on the utilities page"
  packages/trading-signals-docs/pages/indicators/utilities.tsx
Due: none

feat(exchange): add isEarningsDay util backed by Finnhub (#1055)
  packages/exchange/src/index.ts
  packages/exchange/src/util/index.ts
  packages/exchange/src/util/isEarningsDay.test.ts
  packages/exchange/src/util/isEarningsDay.ts
Due: none

fix(messaging): use index in strategyAdd callback_data
  packages/messaging/src/platform/wizards/strategyAddWizard.ts
Due: none

feat(exchange, trading-strategies, messaging): auto-remove strategy after kill switch exits
  packages/exchange/src/trader/TradingSession.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
  packages/messaging/src/service/StrategyMonitor.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: none

fix(messaging): cancel open orders when auto-removing finished strategy
  packages/messaging/src/service/StrategyMonitor.ts
Due: none

refactor(trading-strategies): widen Strategy.onFinish type to allow async handlers
  packages/trading-strategies/src/strategy/Strategy.ts
Due: none

feat(messaging): add /strategyConfig and /strategyState commands
  packages/messaging/src/command/index.ts
  packages/messaging/src/command/strategy/strategyConfig.ts
  packages/messaging/src/command/strategy/strategyState.ts
  packages/messaging/src/startServer.ts
Due: none

docs: spice up root README with highlights, quickstart, and concrete capabilities
  README.md
Due: format

refactor(trading-signals-docs): remove feature cards from home page
  packages/trading-signals-docs/components/FeatureCard.tsx
  packages/trading-signals-docs/pages/index.tsx
Due: none

docs: highlight visual backtester in README with link to typedtrader.com/backtest
  README.md
Due: format

feat(exchange, trading-strategies, messaging): auto-remove strategy after kill switch exits (#1056)
  README.md
  packages/exchange/src/trader/TradingSession.ts
  packages/exchange/src/trader/TradingSessionTypes.ts
  packages/messaging/src/command/index.ts
  packages/messaging/src/command/strategy/strategyConfig.ts
  packages/messaging/src/command/strategy/strategyState.ts
  packages/messaging/src/service/StrategyMonitor.ts
  packages/messaging/src/startServer.ts
  packages/trading-signals-docs/components/FeatureCard.tsx
  packages/trading-signals-docs/pages/index.tsx
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.test.ts
  packages/trading-strategies/src/strategy-protected/ProtectedStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: format

refactor(trading-signals-docs): split IndicatorConfig into discriminated union
  packages/trading-signals-docs/pages/indicators/momentum.tsx
  packages/trading-signals-docs/pages/indicators/trend.tsx
  packages/trading-signals-docs/pages/indicators/volatility.tsx
  packages/trading-signals-docs/pages/indicators/volume.tsx
  packages/trading-signals-docs/utils/processData.ts
  packages/trading-signals-docs/utils/renderUtils.tsx
  packages/trading-signals-docs/utils/types.ts
Due: none

fix(exchange): use 9-decimal base_increment for Alpaca stocks
  packages/exchange/src/exchange/alpaca/AlpacaExchange.test.ts
  packages/exchange/src/exchange/alpaca/AlpacaExchange.ts
Due: none

fix(exchange): keep uncanceled pending orders so late FILL events match
  packages/exchange/src/trader/TradingSession.test.ts
  packages/exchange/src/trader/TradingSession.ts
Due: none

feat(messaging): include order ID in fill notifications
  packages/messaging/src/service/StrategyMonitor.ts
Due: none

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: packages/trading-signals/**/*.{js,jsx,ts,tsx}
