Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"

lint:
  run: cd packages/trading-signals && npx eslint {staged_files} --fix

chore(trading-signals-docs): update Next.js to 16.3.0 stable
  package-lock.json
  packages/trading-signals-docs/package.json
Due: format

chore(trading-signals-docs): update Next.js to 16.3.0 stable (#1280)
  package-lock.json
  packages/trading-signals-docs/package.json
Due: format

refactor(trading-strategies): unify the strategy init() warmup contract
  packages/trading-strategies/src/start/runBacktest.ts
  packages/trading-strategies/src/strategy-scalp/README.md
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.test.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: format

chore: enforce typescript/no-unsafe-assignment repo-wide
  .gitignore
  oxlint.config.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/alpaca/api/AlpacaStream.ts
  packages/exchange/src/broker/alpaca/api/AlpacaTradingStream.ts
  packages/exchange/src/util/simplifyError.ts
  packages/messaging/src/platform/TelegramPlatform.test.ts
  packages/messaging/src/service/ReportScheduler.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/StrategyMonitor.ts
  packages/trading-signals-docs/components/BacktestResults.tsx
  packages/trading-signals-docs/components/Chart.tsx
  packages/trading-signals-docs/components/DatasetSelector.tsx
  packages/trading-signals-docs/components/PriceChart.tsx
  packages/trading-signals-docs/indicator-demos/momentum/MACD.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/StochasticOscillator.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/Aroon.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/ChandelierExit.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/DMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/LinearRegression.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/SuperTrend.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/VolatilityStop.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/renderBands.tsx
  packages/trading-signals-docs/pages/backtest.tsx
  packages/trading-signals-docs/utils/processData.ts
  packages/trading-signals-docs/utils/renderUtils.tsx
  packages/trading-signals-docs/utils/tableColumns.tsx
  packages/trading-signals-docs/utils/types.ts
  packages/trading-strategies/src/strategy-multi-indicator-confluence/MultiIndicatorConfluenceStrategy.test.ts
  packages/trading-strategies/src/trader/TradingSession.test.ts
Due: none

refactor(trading-strategies): replace declare init with a no-op base hook
  packages/trading-strategies/src/start/runBacktest.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: none

refactor(trading-strategies): address PR review comments
  packages/trading-signals-docs/pages/backtest.tsx
  packages/trading-strategies/src/start/runBacktest.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: none

chore: enforce the full typescript/no-unsafe rule family
  .claude/rules/vitest-mocking.md
  oxlint.config.ts
  packages/messaging/src/platform/TelegramPlatform.test.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/trading-strategies/src/trader/TradingSession.test.ts
Due: format

refactor(trading-strategies): narrow with a vitest-based expectInstanceOf helper
  packages/trading-strategies/src/trader/TradingSession.test.ts
Due: none

refactor(messaging): narrow with a vitest-based expectDefined helper
  packages/messaging/src/service/StrategyMonitor.test.ts
Due: none

refactor: address second round of PR review comments
  .claude/rules/vitest-mocking.md
  packages/messaging/src/service/StrategyMonitor.ts
  packages/trading-signals-docs/components/Chart.tsx
  packages/trading-signals-docs/utils/processData.ts
  packages/trading-signals-docs/utils/types.ts
  packages/trading-strategies/src/start/runBacktest.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.test.ts
  packages/trading-strategies/src/strategy/Strategy.ts
Due: format

refactor(trading-strategies): unify strategy init() contract + enforce no-unsafe-assignment (#1281)
  .claude/rules/vitest-mocking.md
  .gitignore
  oxlint.config.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/alpaca/api/AlpacaStream.ts
  packages/exchange/src/broker/alpaca/api/AlpacaTradingStream.ts
  packages/exchange/src/util/simplifyError.ts
  packages/messaging/src/platform/TelegramPlatform.test.ts
  packages/messaging/src/service/ReportScheduler.ts
  packages/messaging/src/service/StrategyMonitor.test.ts
  packages/messaging/src/service/StrategyMonitor.ts
  packages/trading-signals-docs/components/BacktestResults.tsx
  packages/trading-signals-docs/components/Chart.tsx
  packages/trading-signals-docs/components/DatasetSelector.tsx
  packages/trading-signals-docs/components/PriceChart.tsx
  packages/trading-signals-docs/indicator-demos/momentum/MACD.demo.tsx
  packages/trading-signals-docs/indicator-demos/momentum/StochasticOscillator.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/Aroon.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/ChandelierExit.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/DMA.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/LinearRegression.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/SuperTrend.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/VolatilityStop.demo.tsx
  packages/trading-signals-docs/indicator-demos/volatility/renderBands.tsx
  packages/trading-signals-docs/pages/backtest.tsx
  packages/trading-signals-docs/utils/processData.ts
  packages/trading-signals-docs/utils/renderUtils.tsx
  packages/trading-signals-docs/utils/tableColumns.tsx
  packages/trading-signals-docs/utils/types.ts
  packages/trading-strategies/src/start/runBacktest.ts
  packages/trading-strategies/src/strategy-multi-indicator-confluence/MultiIndicatorConfluenceStrategy.test.ts
  packages/trading-strategies/src/strategy-scalp/README.md
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.test.ts
  packages/trading-strategies/src/strategy-scalp/ScalpStrategy.ts
  packages/trading-strategies/src/strategy/Strategy.ts
  packages/trading-strategies/src/trader/TradingSession.test.ts
Due: format

refactor(trading-signals): address PR review comments
  .gitignore
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/base/Period.ts
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/CG/CG.ts
  packages/trading-signals/src/momentum/CMO/CMO.ts
  packages/trading-signals/src/momentum/ER/ER.ts
  packages/trading-signals/src/momentum/MACD/MACD.ts
  packages/trading-signals/src/momentum/MFI/MFI.ts
  packages/trading-signals/src/momentum/MOM/MOM.ts
  packages/trading-signals/src/momentum/OBV/OBV.ts
  packages/trading-signals/src/momentum/ROC/ROC.ts
  packages/trading-signals/src/momentum/RSI/RSI.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/ULTOSC/UltimateOscillator.ts
  packages/trading-signals/src/momentum/WILLR/WilliamsR.ts
  packages/trading-signals/src/trend/AROON/Aroon.ts
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.ts
  packages/trading-signals/src/trend/CE/ChandelierExit.ts
  packages/trading-signals/src/trend/HIGHER_LOW_TRAIL/HigherLowTrail.ts
  packages/trading-signals/src/trend/KAMA/KAMA.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
  packages/trading-signals/src/trend/SMA/SMA.ts
  packages/trading-signals/src/trend/SMA15/SMA15.ts
  packages/trading-signals/src/trend/SWING_HIGH/SwingHigh.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLow.ts
  packages/trading-signals/src/trend/WMA/WMA.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.ts
  packages/trading-signals/src/util/pushUpdate.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
  packages/trading-signals/src/volatility/MAD/MAD.ts
  packages/trading-signals/src/volume/CMF/CMF.ts
  packages/trading-signals/src/volume/EMV/EMV.ts
  packages/trading-signals/src/volume/PVT/PVT.ts
  packages/trading-signals/src/volume/VROC/VROC.ts
  packages/trading-signals/src/volume/VWMA/VWMA.ts
Due: lint

docs(trading-signals): describe the pushUpdate option properties
  packages/trading-signals/src/util/pushUpdate.ts
Due: lint

fix(exchange): clamp slipped market fills to the candle's high/low range
  packages/exchange/src/broker/BrokerMock.test.ts
  packages/exchange/src/broker/BrokerMock.ts
Due: none

fix(trading-signals): restore PSAR state on replace()
  packages/trading-signals/src/trend/PSAR/PSAR.test.ts
  packages/trading-signals/src/trend/PSAR/PSAR.ts
Due: lint

fix(trading-signals): keep PVT from counting a replaced candle twice
  packages/trading-signals/src/volume/PVT/PVT.test.ts
  packages/trading-signals/src/volume/PVT/PVT.ts
Due: lint

fix(trading-signals): roll back TDS setup state on replace()
  packages/trading-signals/src/momentum/TDS/TDS.test.ts
  packages/trading-signals/src/momentum/TDS/TDS.ts
Due: lint

fix(trading-signals): emit the first Bollinger Band once the interval is filled
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
  packages/trading-signals/src/volatility/BBW/BollingerBandsWidth.test.ts
Due: lint

fix(trading-signals): report the correct number of required inputs for ROC
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
  packages/trading-signals/src/momentum/ROC/ROC.ts
Due: lint

fix(trading-signals): recalculate Bollinger Bands on replace()
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
Due: lint

fix(trading-signals): restore ZigZag swing state on replace()
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.test.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.ts
Due: lint

fix(trading-signals): hold the ROC comparand inside the price window
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
  packages/trading-signals/src/momentum/ROC/ROC.ts
Due: lint

test(trading-signals): apply review feedback to replace() tests
  packages/trading-signals/src/momentum/ROC/ROC.test.ts
  packages/trading-signals/src/momentum/TDS/TDS.test.ts
  packages/trading-signals/src/trend/PSAR/PSAR.test.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/BBW/BollingerBandsWidth.test.ts
  packages/trading-signals/src/volume/PVT/PVT.test.ts
Due: lint

feat(trading-signals): compare indicator state via getState() (#1277)
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/base/Period.ts
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/CG/CG.ts
  packages/trading-signals/src/momentum/CMO/CMO.ts
  packages/trading-signals/src/momentum/ER/ER.ts
  packages/trading-signals/src/momentum/MACD/MACD.ts
  packages/trading-signals/src/momentum/MFI/MFI.ts
  packages/trading-signals/src/momentum/MOM/MOM.ts
  packages/trading-signals/src/momentum/OBV/OBV.ts
  packages/trading-signals/src/momentum/ROC/ROC.ts
  packages/trading-signals/src/momentum/RSI/RSI.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/TDS/TDS.test.ts
  packages/trading-signals/src/momentum/TDS/TDS.ts
  packages/trading-signals/src/momentum/ULTOSC/UltimateOscillator.ts
  packages/trading-signals/src/momentum/WILLR/WilliamsR.ts
  packages/trading-signals/src/trend/AROON/Aroon.ts
  packages/trading-signals/src/trend/BREAKOUT_BAR_LOW/BreakoutBarLow.ts
  packages/trading-signals/src/trend/CE/ChandelierExit.ts
  packages/trading-signals/src/trend/HIGHER_LOW_TRAIL/HigherLowTrail.ts
  packages/trading-signals/src/trend/KAMA/KAMA.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
  packages/trading-signals/src/trend/PSAR/PSAR.test.ts
  packages/trading-signals/src/trend/PSAR/PSAR.ts
  packages/trading-signals/src/trend/SMA/SMA.ts
  packages/trading-signals/src/trend/SMA15/SMA15.ts
  packages/trading-signals/src/trend/SWING_HIGH/SwingHigh.ts
  packages/trading-signals/src/trend/SWING_LOW/SwingLow.ts
  packages/trading-signals/src/trend/WMA/WMA.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.ts
  packages/trading-signals/src/util/pushUpdate.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
  packages/trading-signals/src/volatility/MAD/MAD.ts
  packages/trading-signals/src/volume/CMF/CMF.ts
  packages/trading-signals/src/volume/EMV/EMV.ts
  packages/trading-signals/src/volume/PVT/PVT.ts
  packages/trading-signals/src/volume/VROC/VROC.ts
  packages/trading-signals/src/volume/VWMA/VWMA.ts
Due: lint

fix(trading-signals): establish a rollback baseline on a first-ever replace
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/trend/PSAR/PSAR.test.ts
Due: lint

refactor(trading-signals): address PR review comments
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/fixtures/testIndicatorContract.ts
  packages/trading-signals/src/momentum/OBV/OBV.ts
  packages/trading-signals/src/momentum/TDS/TDS.ts
  packages/trading-signals/src/trend/ZIGZAG/ZigZag.ts
  packages/trading-signals/src/volume/PVT/PVT.ts
Due: format, lint

fix(messaging): keep better-sqlite3 as a direct dependency
  package-lock.json
  packages/messaging/package.json
Due: format

refactor(messaging): replace moment stack with native Intl (#1203)
  package-lock.json
  packages/messaging/package.json
  packages/messaging/src/command/time.ts
  packages/messaging/src/command/uptime.ts
  tsconfig.lib.json
Due: format

fix(@typedtrader/exchange): address review feedback
  packages/exchange/BROKER_TEMPLATE.md
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
  packages/exchange/src/broker/trading212/api/Trading212API.test.ts
  packages/exchange/src/broker/trading212/api/Trading212API.ts
Due: format

docs(@typedtrader/exchange): keep only the client-order-id guidance in reconciliation section
  packages/exchange/BROKER_TEMPLATE.md
Due: format

test(@typedtrader/exchange): satisfy type-aware no-unsafe rules in AlpacaBroker tests
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
Due: none

fix(@typedtrader/exchange): retry order placement POSTs again
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.test.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
Due: none

test(@typedtrader/exchange): prove a retried order POST resends the same client_order_id
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.test.ts
Due: none

test(@typedtrader/exchange): narrow spy result to satisfy no-unsafe rules
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.test.ts
Due: none

fix(@typedtrader/exchange): send client order ids with order placements (#1178)
  packages/exchange/BROKER_TEMPLATE.md
  packages/exchange/src/broker/alpaca/AlpacaBroker.test.ts
  packages/exchange/src/broker/alpaca/AlpacaBroker.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.test.ts
  packages/exchange/src/broker/alpaca/api/AlpacaAPI.ts
Due: format

refactor(trading-signals): migrate object-result indicators to shared TrendTechnicalIndicator base
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/momentum/MACD/MACD.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.test.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.test.ts
  packages/trading-signals/src/volatility/ABANDS/AccelerationBands.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.test.ts
  packages/trading-signals/src/volatility/BBANDS/BollingerBands.ts
Due: lint

[skip ci] chore: Publish
  package-lock.json
  packages/candles/CHANGELOG.md
  packages/candles/package.json
  packages/exchange/CHANGELOG.md
  packages/exchange/package.json
  packages/messaging/CHANGELOG.md
  packages/messaging/package.json
  packages/trading-signals-docs/CHANGELOG.md
  packages/trading-signals-docs/package.json
  packages/trading-signals/CHANGELOG.md
  packages/trading-signals/package.json
  packages/trading-strategies/CHANGELOG.md
  packages/trading-strategies/package.json
Due: format

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: packages/trading-signals/**/*.{js,jsx,ts,tsx}
