Repository bennycode/trading-signals: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# https://lefthook.dev/configuration/
pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{css,html,json,less,md,scss,yml}'
      run: npx -c "cross-env NODE_OPTIONS=--max_old_space_size=4096 prettier --write --log-level error {staged_files}"
    lint:
      glob: 'packages/trading-signals/**/*.{js,jsx,ts,tsx}'
      run: cd packages/trading-signals && npx eslint {staged_files} --fix

feat(trading-signals): finish the alternatives sourcing campaign (RWI, ADXR) (#1297)
  packages/trading-signals-docs/indicator-demos/trend/ADXR.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/RandomWalkIndex.demo.tsx
  packages/trading-signals-docs/indicator-demos/trend/index.tsx
  packages/trading-signals/README.md
  packages/trading-signals/src/trend/ADXR/ADXR.test.ts
  packages/trading-signals/src/trend/ADXR/ADXR.ts
  packages/trading-signals/src/trend/RWI/RandomWalkIndex.test.ts
  packages/trading-signals/src/trend/RWI/RandomWalkIndex.ts
  packages/trading-signals/src/trend/index.ts
Due: format, lint

fix(trading-signals): return true one-bar-ahead forecast for perfect linear trends
  packages/trading-signals/src/trend/LINREG/LinearRegression.test.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
Due: lint

fix(trading-signals): declare RSI warm-up including the anchoring price
  packages/trading-signals/src/momentum/RSI/RSI.test.ts
  packages/trading-signals/src/momentum/RSI/RSI.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.ts
Due: lint

fix(trading-signals): reject LINREG intervals below 2
  packages/trading-signals/src/trend/LINREG/LinearRegression.test.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
Due: lint

fix(trading-signals): LINREG one-bar-ahead forecast + RSI declared warm-up (#1299)
  packages/trading-signals/src/momentum/RSI/RSI.test.ts
  packages/trading-signals/src/momentum/RSI/RSI.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.test.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
Due: lint

refactor(trading-signals): extract overbought/oversold signal into shared ThresholdCrossSeries base
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/CMO/CMO.ts
  packages/trading-signals/src/momentum/CRSI/ConnorsRSI.ts
  packages/trading-signals/src/momentum/DEM/DeMarker.ts
  packages/trading-signals/src/momentum/IBS/IBS.ts
  packages/trading-signals/src/momentum/IMI/IMI.ts
  packages/trading-signals/src/momentum/LRSI/LaguerreRSI.ts
  packages/trading-signals/src/momentum/MFI/MFI.ts
  packages/trading-signals/src/momentum/PGO/PGO.ts
  packages/trading-signals/src/momentum/PSL/PSL.ts
  packages/trading-signals/src/momentum/RCI/RCI.ts
  packages/trading-signals/src/momentum/RMI/RMI.ts
  packages/trading-signals/src/momentum/RSI/RSI.ts
  packages/trading-signals/src/momentum/SMI/SMI.ts
  packages/trading-signals/src/momentum/STC/STC.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.ts
  packages/trading-signals/src/momentum/ULTOSC/UltimateOscillator.ts
  packages/trading-signals/src/momentum/WILLR/WilliamsR.ts
  packages/trading-signals/src/volatility/PB/PercentB.ts
  packages/trading-signals/src/volatility/PO/ProjectionOscillator.ts
  packages/trading-signals/src/volatility/RVI/RelativeVolatilityIndex.ts
Due: format, lint

fix(trading-signals): reject inverted or non-finite signal thresholds
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/momentum/RSI/RSI.test.ts
Due: lint

refactor(trading-signals): extract overbought/oversold signal into shared ThresholdCrossSeries base (#1300)
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/momentum/CCI/CCI.ts
  packages/trading-signals/src/momentum/CMO/CMO.ts
  packages/trading-signals/src/momentum/CRSI/ConnorsRSI.ts
  packages/trading-signals/src/momentum/DEM/DeMarker.ts
  packages/trading-signals/src/momentum/IBS/IBS.ts
  packages/trading-signals/src/momentum/IMI/IMI.ts
  packages/trading-signals/src/momentum/LRSI/LaguerreRSI.ts
  packages/trading-signals/src/momentum/MFI/MFI.ts
  packages/trading-signals/src/momentum/PGO/PGO.ts
  packages/trading-signals/src/momentum/PSL/PSL.ts
  packages/trading-signals/src/momentum/RCI/RCI.ts
  packages/trading-signals/src/momentum/RMI/RMI.ts
  packages/trading-signals/src/momentum/RSI/RSI.test.ts
  packages/trading-signals/src/momentum/RSI/RSI.ts
  packages/trading-signals/src/momentum/SMI/SMI.ts
  packages/trading-signals/src/momentum/STC/STC.ts
  packages/trading-signals/src/momentum/STOCHRSI/StochasticRSI.ts
  packages/trading-signals/src/momentum/ULTOSC/UltimateOscillator.ts
  packages/trading-signals/src/momentum/WILLR/WilliamsR.ts
  packages/trading-signals/src/volatility/PB/PercentB.ts
  packages/trading-signals/src/volatility/PO/ProjectionOscillator.ts
  packages/trading-signals/src/volatility/RVI/RelativeVolatilityIndex.ts
Due: format, lint

refactor(trading-signals): share Ehlers' dominant-cycle measurement between MAMA and HT Trendline
  packages/trading-signals/src/trend/HT/HTTrendline.ts
  packages/trading-signals/src/trend/HT/HilbertTransform.ts
  packages/trading-signals/src/trend/MAMA/MAMA.ts
Due: lint

refactor(trading-signals): share Ehlers' dominant-cycle measurement between MAMA and HT Trendline (#1301)
  packages/trading-signals/src/trend/HT/HTTrendline.ts
  packages/trading-signals/src/trend/HT/HilbertTransform.ts
  packages/trading-signals/src/trend/MAMA/MAMA.ts
Due: lint

refactor(trading-signals): share the least-squares regression math via LINREG
  packages/trading-signals/src/momentum/CFO/CFO.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.ts
Due: lint

fix(trading-signals): reject regression windows below 2 values
  packages/trading-signals/src/trend/LINREG/LinearRegression.test.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
Due: lint

refactor(trading-signals): share the least-squares regression math via LINREG (#1302)
  packages/trading-signals/src/momentum/CFO/CFO.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.test.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.ts
Due: lint

refactor(trading-signals): extract object-result signal tracking into shared TrendIndicator base
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/momentum/ERI/ElderRay.ts
  packages/trading-signals/src/momentum/MACD/MACD.ts
  packages/trading-signals/src/momentum/PMO/PMO.ts
  packages/trading-signals/src/momentum/QQE/QQE.ts
  packages/trading-signals/src/momentum/RVGI/RelativeVigorIndex.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/WAE/WaddahAttarExplosion.ts
  packages/trading-signals/src/momentum/WT/WaveTrend.ts
  packages/trading-signals/src/trend/MAMA/MAMA.ts
  packages/trading-signals/src/trend/RWI/RandomWalkIndex.ts
  packages/trading-signals/src/trend/VI/VortexIndicator.ts
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.ts
Due: format, lint

refactor(trading-signals): extract object-result signal tracking into shared TrendIndicator base (#1303)
  packages/trading-signals/CLAUDE.md
  packages/trading-signals/src/base/Indicator.ts
  packages/trading-signals/src/momentum/ERI/ElderRay.ts
  packages/trading-signals/src/momentum/MACD/MACD.ts
  packages/trading-signals/src/momentum/PMO/PMO.ts
  packages/trading-signals/src/momentum/QQE/QQE.ts
  packages/trading-signals/src/momentum/RVGI/RelativeVigorIndex.ts
  packages/trading-signals/src/momentum/STOCH/StochasticOscillator.ts
  packages/trading-signals/src/momentum/WAE/WaddahAttarExplosion.ts
  packages/trading-signals/src/momentum/WT/WaveTrend.ts
  packages/trading-signals/src/trend/MAMA/MAMA.ts
  packages/trading-signals/src/trend/RWI/RandomWalkIndex.ts
  packages/trading-signals/src/trend/VI/VortexIndicator.ts
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.ts
Due: format, lint

refactor(trading-signals): promote linear regression to a documented utility
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/CFO/CFO.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.test.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
  packages/trading-signals/src/util/getLinearRegression.test.ts
  packages/trading-signals/src/util/getLinearRegression.ts
  packages/trading-signals/src/util/index.ts
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.ts
Due: format, lint

fix(trading-signals): fail fast on regression windows that cannot form a line
  packages/trading-signals/src/momentum/CFO/CFO.test.ts
  packages/trading-signals/src/momentum/CFO/CFO.ts
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.test.ts
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.ts
Due: lint

refactor(trading-signals): promote linear regression to a documented utility (#1304)
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/CFO/CFO.test.ts
  packages/trading-signals/src/momentum/CFO/CFO.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.test.ts
  packages/trading-signals/src/trend/LINREG/LinearRegression.ts
  packages/trading-signals/src/util/getLinearRegression.test.ts
  packages/trading-signals/src/util/getLinearRegression.ts
  packages/trading-signals/src/util/index.ts
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.test.ts
  packages/trading-signals/src/volatility/SQUEEZE/TTMSqueeze.ts
Due: format, lint

feat(trading-signals): expand the utility toolkit
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/FISHER/FisherTransform.ts
  packages/trading-signals/src/momentum/ULTOSC/UltimateOscillator.ts
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.ts
  packages/trading-signals/src/trend/PSAR/PSAR.ts
  packages/trading-signals/src/trend/SUPERTREND/SuperTrend.ts
  packages/trading-signals/src/trend/VI/VortexIndicator.ts
  packages/trading-signals/src/util/getAveragePrice.test.ts
  packages/trading-signals/src/util/getAveragePrice.ts
  packages/trading-signals/src/util/getCAGR.test.ts
  packages/trading-signals/src/util/getCAGR.ts
  packages/trading-signals/src/util/getCorrelation.test.ts
  packages/trading-signals/src/util/getCorrelation.ts
  packages/trading-signals/src/util/getLogReturns.test.ts
  packages/trading-signals/src/util/getLogReturns.ts
  packages/trading-signals/src/util/getMaxDrawdown.test.ts
  packages/trading-signals/src/util/getMaxDrawdown.ts
  packages/trading-signals/src/util/getMedianPrice.test.ts
  packages/trading-signals/src/util/getMedianPrice.ts
  packages/trading-signals/src/util/getReturns.test.ts
  packages/trading-signals/src/util/getReturns.ts
  packages/trading-signals/src/util/getSharpeRatio.test.ts
  packages/trading-signals/src/util/getSharpeRatio.ts
  packages/trading-signals/src/util/getTrueRange.test.ts
  packages/trading-signals/src/util/getTrueRange.ts
  packages/trading-signals/src/util/getWeightedClose.test.ts
  packages/trading-signals/src/util/getWeightedClose.ts
  packages/trading-signals/src/util/getZScore.test.ts
  packages/trading-signals/src/util/getZScore.ts
  packages/trading-signals/src/util/hasCrossedOver.test.ts
  packages/trading-signals/src/util/hasCrossedOver.ts
  packages/trading-signals/src/util/hasCrossedUnder.test.ts
  packages/trading-signals/src/util/hasCrossedUnder.ts
  packages/trading-signals/src/util/index.ts
  packages/trading-signals/src/util/mergeCandles.test.ts
  packages/trading-signals/src/util/mergeCandles.ts
  packages/trading-signals/src/volatility/TR/TR.ts
  packages/trading-signals/src/volume/EMV/EMV.ts
Due: format, lint

feat(trading-signals): expand the utility toolkit (#1305)
  packages/trading-signals/README.md
  packages/trading-signals/src/momentum/FISHER/FisherTransform.ts
  packages/trading-signals/src/momentum/ULTOSC/UltimateOscillator.ts
  packages/trading-signals/src/trend/ALLIGATOR/Alligator.ts
  packages/trading-signals/src/trend/PSAR/PSAR.ts
  packages/trading-signals/src/trend/SUPERTREND/SuperTrend.ts
  packages/trading-signals/src/trend/VI/VortexIndicator.ts
  packages/trading-signals/src/util/getAveragePrice.test.ts
  packages/trading-signals/src/util/getAveragePrice.ts
  packages/trading-signals/src/util/getCAGR.test.ts
  packages/trading-signals/src/util/getCAGR.ts
  packages/trading-signals/src/util/getCorrelation.test.ts
  packages/trading-signals/src/util/getCorrelation.ts
  packages/trading-signals/src/util/getLogReturns.test.ts
  packages/trading-signals/src/util/getLogReturns.ts
  packages/trading-signals/src/util/getMaxDrawdown.test.ts
  packages/trading-signals/src/util/getMaxDrawdown.ts
  packages/trading-signals/src/util/getMedianPrice.test.ts
  packages/trading-signals/src/util/getMedianPrice.ts
  packages/trading-signals/src/util/getReturns.test.ts
  packages/trading-signals/src/util/getReturns.ts
  packages/trading-signals/src/util/getSharpeRatio.test.ts
  packages/trading-signals/src/util/getSharpeRatio.ts
  packages/trading-signals/src/util/getTrueRange.test.ts
  packages/trading-signals/src/util/getTrueRange.ts
  packages/trading-signals/src/util/getWeightedClose.test.ts
  packages/trading-signals/src/util/getWeightedClose.ts
  packages/trading-signals/src/util/getZScore.test.ts
  packages/trading-signals/src/util/getZScore.ts
  packages/trading-signals/src/util/hasCrossedOver.test.ts
  packages/trading-signals/src/util/hasCrossedOver.ts
  packages/trading-signals/src/util/hasCrossedUnder.test.ts
  packages/trading-signals/src/util/hasCrossedUnder.ts
  packages/trading-signals/src/util/index.ts
  packages/trading-signals/src/util/mergeCandles.test.ts
  packages/trading-signals/src/util/mergeCandles.ts
  packages/trading-signals/src/volatility/TR/TR.ts
  packages/trading-signals/src/volume/EMV/EMV.ts
Due: format, lint

docs(trading-signals): promote the utility methods list to a proper heading
  packages/trading-signals/README.md
Due: format

docs(trading-signals): tighten utility descriptions to one statement each
  packages/trading-signals/README.md
Due: format

docs(trading-signals): plain wording in the percentage examples
  packages/trading-signals/README.md
Due: format

docs(trading-signals): describe the linear regression utility in plain words
  packages/trading-signals/README.md
Due: format

docs(trading-signals): promote the utility methods list to a proper heading (#1307)
  packages/trading-signals/README.md
Due: format

[skip ci] chore: Publish
  package-lock.json
  packages/messaging/CHANGELOG.md
  packages/messaging/package.json
  packages/trading-signals-docs/CHANGELOG.md
  packages/trading-signals-docs/package.json
  packages/trading-signals/CHANGELOG.md
  packages/trading-signals/package.json
  packages/trading-strategies/CHANGELOG.md
  packages/trading-strategies/package.json
Due: format

fix(@typedtrader/exchange): include zero-volume candles when batching
  packages/exchange/src/candle/CandleBatcher.test.ts
  packages/exchange/src/candle/CandleBatcher.ts
Due: none

chore: Add Copilot code review skill pointing to .claude/rules
  .github/skills/code-review/SKILL.md
Due: format

chore: Reduce Copilot review skill to a pointer at .claude/rules
  .github/skills/code-review/SKILL.md
Due: format

docs: Prefer expect messages over assertion comments in tests
  .claude/rules/vitest-expect-messages.md
  packages/exchange/src/candle/CandleBatcher.test.ts
Due: format

chore: Move code-review skill to .claude/skills
  .claude/skills/code-review/SKILL.md
Due: format

chore: Move code-review skill back to .github/skills
  .github/skills/code-review/SKILL.md
Due: format

Refine code review description for TypeScript
  .github/skills/code-review/SKILL.md
Due: format

test(@typedtrader/exchange): make zero-volume inclusion observable
  packages/exchange/src/candle/CandleBatcher.test.ts
Due: none

test(@typedtrader/exchange): add Stryker mutation testing
  .claude/rules/mutation-testing.md
  .gitignore
  package-lock.json
  package.json
  packages/exchange/package.json
  packages/exchange/stryker.config.json
Due: format

docs: Move reviewer guidance out of the mutation-testing rule
  .claude/rules/mutation-testing.md
Due: format
